mixin plans_v2_table(period, config)
	tr
		th
		- for (var i = 0; i < 4; i++)
			- var tableHeadKey = Object.keys(config.tableHead)[i]
			- var tableHeadOptions = Object.values(config.tableHead)[i]
			- var highlighted = i === config.highlightedColumn.index
			th(
				class=(i === config.highlightedColumn.index ? 'plans-v2-table-green-highlighted' : (i === config.highlightedColumn.index - 1 ? 'plans-v2-table-cell-before-highlighted-column' : ''))
			)
				if (highlighted)
					p.plans-v2-table-green-highlighted-text !{config.highlightedColumn.text[period]}
				case tableHeadKey
					when 'individual_free'
						+table_head_individual_free(highlighted, period)
					when 'individual_personal'
						+table_head_individual_personal(highlighted, period)
					when 'individual_collaborator'
						+table_head_individual_collaborator(highlighted, period)
					when 'individual_professional'
						+table_head_individual_professional(highlighted, period)
					when 'group_collaborator'
						+table_head_group_collaborator(highlighted)
					when 'group_professional'
						+table_head_group_professional(highlighted)
					when 'group_organization'
						+table_head_group_organization(highlighted)
					when 'student_free'
						+table_head_student_free(highlighted, period)
					when 'student_student'
						+table_head_student_student(highlighted, period, tableHeadOptions.showExtraContent)
					when 'student_university'
						+table_head_student_university(highlighted, period)

	for featuresPerSection in config.features
		if featuresPerSection.divider
			tr.plans-v2-table-divider
				td(colspan=Object.keys(config.tableHead).length + 1)
					div
						b.plans-v2-table-divider-label #{translate(featuresPerSection.dividerLabel)}
						//- will only appear on screen width >= 768px (using CSS)
						i.fa.fa-question-circle.plans-v2-table-divider-question-icon(
									data-toggle="tooltip"
									title=translate(featuresPerSection.dividerInfo),
									data-placement="top"
								)
						//- will only appear on screen width < 768px (using CSS)
						span.plans-v2-table-divider-learn-more-container
							span (
							span.plans-v2-table-divider-learn-more-text(
								data-toggle="tooltip"
								title=translate(featuresPerSection.dividerInfo),
								data-placement="top"
							) #{translate("learn_more_lowercase")}
							span )
		for feature, featureIndex in featuresPerSection.items
			tr(
				class=(featureIndex === (featuresPerSection.items.length - 1) ? 'plans-v2-table-row-last-row-per-section' : '')
			)
				td(event-tracking="plans-page-table" event-tracking-trigger="hover" event-tracking-ga="subscription-funnel" event-tracking-label=`${feature.feature}`)
					.plans-v2-table-feature-name
						if feature.info
							span #{translate(feature.feature)}
							//- will only appear on screen width >= 768px (using CSS)
							i.fa.fa-question-circle.plans-v2-table-feature-name-question-icon(
								data-toggle="tooltip"
								title=translate(feature.info),
								data-placement="right"
							)
							//- will only appear on screen width < 768px (using CSS)
							span.plans-v2-table-feature-name-learn-more-container
								span (
								span.plans-v2-table-feature-name-learn-more-text(
									data-toggle="tooltip"
									title=translate(feature.info),
									data-placement="top"
								) #{translate("learn_more_lowercase")}
								span )
						else
							| #{translate(feature.feature)}
				for plan, planIndex in Object.keys(feature.plans)
					td(
						class=(planIndex === config.highlightedColumn.index ? 'plans-v2-table-green-highlighted' : (planIndex === config.highlightedColumn.index - 1 ? 'plans-v2-table-cell-before-highlighted-column' : ''))
					)
						+table_cell(feature, plan)

mixin table_individual(period)
	table.card.plans-v2-table.plans-v2-table-individual
		+plans_v2_table(period, plansV2Config.individual)

mixin table_group
	table.card.plans-v2-table.plans-v2-table-group
		+plans_v2_table('annual', plansV2Config.group)

mixin table_student(period)
	table.card.plans-v2-table.plans-v2-table-student
		+plans_v2_table(period, plansV2Config.student)
	
mixin table_head_individual_free(highlighted, period)
	.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("free")}
		+table_head_price('free', period)
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_individual_free(highlighted)
		ul.plans-v2-table-th-content-benefit
			li #{translate("one_collaborator")}
		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_individual_free(highlighted)

mixin table_head_individual_personal(highlighted, period)
	.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("personal")}
		+table_head_price('personal', period)
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_individual_personal(highlighted, period)
		ul.plans-v2-table-th-content-benefit
			li #{translate("one_collaborator")}
			li #{translate("most_premium_features")}
		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_individual_personal(highlighted, period)

mixin table_head_individual_collaborator(highlighted, period)
	.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("standard")}
		+table_head_price('collaborator', period)
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_individual_collaborator(highlighted, period)
		ul.plans-v2-table-th-content-benefit
			li !{translate("x_collaborators_per_project", {collaboratorsCount: '10'})}
			li #{translate("all_premium_features")}
		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_individual_collaborator(highlighted, period)

mixin table_head_individual_professional(highlighted, period)
	.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("professional")}
		+table_head_price('professional', period)
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_individual_professional(highlighted, period)
		ul.plans-v2-table-th-content-benefit
			li #{translate("unlimited_collabs")}
			li #{translate("all_premium_features")}
		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_individual_professional(highlighted, period)

mixin table_head_group_collaborator(highlighted)
	.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("group_standard")}
		.plans-v2-table-price-container
			strike.plans-v2-table-annual-price-before-discount(data-ol-plans-v2-table-annual-price-before-discount)
				+gen_localized_price_for_plan_view('collaborator', 'annual')
			p.plans-v2-table-price
				span(data-ol-plans-v2-group-price-per-user='collaborator') #{initialLocalizedGroupPrice.pricePerUser.collaborator}
			p.plans-v2-table-price-period-label
				| per user / year
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_group_collaborator(highlighted)
			+additional_link_group('group_collaborator')
		ul.plans-v2-table-th-content-benefit
			li #{translate("up_to")} !{translate("x_collaborators_per_project", {collaboratorsCount: '10'})}
			li
				span.plans-v2-group-total-price(data-ol-plans-v2-group-total-price='collaborator') #{initialLocalizedGroupPrice.price.collaborator}
				span &nbsp;#{translate("total_per_year_lowercase")}
		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_group_collaborator(highlighted)
			+additional_link_group('group_collaborator')

mixin table_head_group_professional(highlighted)
	.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("group_professional")}
		.plans-v2-table-price-container
			strike.plans-v2-table-annual-price-before-discount(data-ol-plans-v2-table-annual-price-before-discount)
				+gen_localized_price_for_plan_view('professional', 'annual')
			p.plans-v2-table-price
				span(data-ol-plans-v2-group-price-per-user='professional') #{initialLocalizedGroupPrice.pricePerUser.professional}
			p.plans-v2-table-price-period-label
				| per user / year
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_group_professional(highlighted)
			+additional_link_group('group_professional')
		ul.plans-v2-table-th-content-benefit
			li #{translate("unlimited_collaborators_in_each_project")}
			li
				span.plans-v2-group-total-price(data-ol-plans-v2-group-total-price='professional') #{initialLocalizedGroupPrice.price.professional}
				span &nbsp;#{translate("total_per_year_lowercase")}
		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_group_professional(highlighted)
			+additional_link_group('group_professional')


mixin table_head_group_organization(highlighted)
	.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("organization")}
		.plans-v2-table-comments-icon
			i.fa.fa-comments-o
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_group_organization(highlighted)
			small.plans-v2-table-th-content-additional-link.invisible(aria-hidden="true")
		ul.plans-v2-table-th-content-benefit
			li #{translate("best_choices_companies_universities_non_profits")}
			li #{translate("for_groups_or_site_wide")}
			li
				a(
					target="_blank"
					href="/for/enterprises/sales-contact"
					event-tracking="plans-page-click"
					event-tracking-mb="true"
					event-tracking-trigger="click"
					event-segmentation='{"button": "group_organization-link", "location": "table-header-list", "period": "annual", "plans-page-layout-v2": "new-plans-page"}'
				) #{translate("also_available_as_on_premises")}
		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_group_organization(highlighted)
			small.plans-v2-table-th-content-additional-link.invisible(aria-hidden="true")

mixin table_head_student_free(highlighted, period)
	div.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("free")}
		+table_head_price('free', period)
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_student_free(highlighted)
		ul.plans-v2-table-th-content-benefit
			li #{translate("one_collaborator")}
		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_student_free(highlighted)

mixin table_head_student_student(highlighted, period, showExtraContent)
	div.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("student")}
		+table_head_price('student', period)
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_student_student(highlighted, period)
		ul.plans-v2-table-th-content-benefit
			li !{translate("x_collaborators_per_project", {collaboratorsCount: '6'})}
			li #{translate("all_premium_features")}
			if showExtraContent
				li #{translate("for_students_only")}

		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_student_student(highlighted, period)

mixin table_head_student_university(highlighted, period)
	div.plans-v2-table-th-content
		p.plans-v2-table-th-content-title #{translate("university")}
		div.plans-v2-table-comments-icon
			i.fa.fa-comments-o
		.plans-v2-table-btn-buy-container-mobile
			+btn_buy_student_university(highlighted, period)
		p.plans-v2-table-th-content-benefit !{translate("all_our_group_plans_offer_educational_discount", {}, [{name: 'b'}, {name: 'b'}])}
		.plans-v2-table-btn-buy-container-desktop
			+btn_buy_student_university(highlighted, period)

mixin table_head_price(plan, period)
	div.plans-v2-table-price-container
		if plan !== 'free'
			strike.plans-v2-table-annual-price-before-discount.hidden(data-ol-plans-v2-table-annual-price-before-discount)
				+gen_localized_price_for_plan_view(plan, 'monthlyTimesTwelve')
		p.plans-v2-table-price
			+gen_localized_price_for_plan_view(plan, period)
		p.plans-v2-table-price-period-label
			if period == 'annual'
				| per year
			else
				| per month

mixin table_cell(feature, plan)
	.plans-v2-table-cell-inner-content
		if (feature.value === 'str')
			| #{feature.plans[plan]}
		else if (feature.plans[plan])
			i.fa.fa-check(aria-hidden="true")
			span.sr-only #{translate("feature_included")}
		else
			span(aria-hidden="true") -
			span.sr-only #{translate("feature_not_included")}

mixin group_plans_license_picker()
	form.plans-v2-license-picker-form(data-ol-plans-v2-license-picker-form)
		.plans-v2-license-picker-select-container
			span #{translate("number_of_users_with_colon")}
			select.plans-v2-license-picker-select(
				name="plans-v2-license-picker-select"
				id="plans-v2-license-picker-select"
				autocomplete="off"
				data-ol-plans-v2-license-picker-select
				event-tracking="plans-page-group-size"
				event-tracking-mb="true"
				event-tracking-trigger="click"
				event-tracking-element="select"
				event-segmentation='{"plans-page-layout-v2": "new-plans-page"}'
			)
				option(value="2") 2
				option(value="3") 3
				option(value="4") 4
				option(value="5") 5
				option(value="10") 10
				option(value="20") 20
				option(value="50") 50
		.plans-v2-license-picker-educational-discount
			label.plans-v2-license-picker-educational-discount-label(data-ol-plans-v2-license-picker-educational-discount-label)
				input.plans-v2-license-picker-educational-discount-checkbox(
					type="checkbox"
					id="license-picker-educational-discount"
					autocomplete="off"
					data-ol-plans-v2-license-picker-educational-discount-input
					event-tracking="plans-page-edu-discount"
					event-tracking-mb="true"
					event-tracking-trigger="click"
					event-tracking-element="checkbox"
					event-segmentation='{"plans-page-layout-v2": "new-plans-page"}'
				)
				span #{translate("apply_educational_discount")}
			//- will only appear on screen width >= 768px (using CSS)
			i.fa.fa-question-circle.plans-v2-license-picker-educational-discount-question-icon(
				data-toggle="tooltip"
				title=translate("apply_educational_discount_info"),
				data-placement="bottom"
			)
			//- will only appear on screen width < 768px (using CSS)
			span.plans-v2-license-picker-educational-discount-learn-more-container
				span (
				span.plans-v2-license-picker-educational-discount-learn-more-text(
					data-toggle="tooltip"
					title=translate("apply_educational_discount_info"),
					data-placement="bottom"
				) #{translate("learn_more_lowercase")}
				span )

mixin btn_buy_individual(highlighted, subscriptionPlan, period) 
	a.btn.plans-v2-table-btn-buy(
		data-ol-start-new-subscription=subscriptionPlan
		data-ol-item-view=period
		class=(highlighted ? 'btn-primary' : 'btn-default')
	)
		if (period === 'monthly')
			span #{translate("try_for_free")}
		else 
			span #{translate("buy_now_no_exclamation_mark")}

mixin btn_buy_individual_free()
	if (!getSessionUser())
		a.btn.plans-v2-table-btn-buy(
			href="/register"
			class=(highlighted ? 'btn-primary' : 'btn-default')
		)
			span #{translate("try_for_free")}
	else
		a.btn.plans-v2-table-btn-buy.invisible(
			aria-hidden="true"
			class=(highlighted ? 'btn-primary' : 'btn-default')
		)

mixin btn_buy_individual_personal(highlighted, period)
	+btn_buy_individual(highlighted, 'paid-personal', period)
	if (period === 'monthly')
		+additional_link_buy('paid-personal', period)

mixin btn_buy_individual_collaborator(highlighted, period)
	+btn_buy_individual(highlighted, 'collaborator', period)
	if (period === 'monthly')
		+additional_link_buy('collaborator', period)

mixin btn_buy_individual_professional(highlighted, period)
	+btn_buy_individual(highlighted, 'professional', period)
	if (period === 'monthly')
		+additional_link_buy('professional', period)

mixin btn_buy_group_collaborator(highlighted) 
	a.btn.plans-v2-table-btn-buy(
		data-ol-start-new-subscription='group_collaborator'
		data-ol-item-view='annual'
		data-ol-has-custom-href
		class=(highlighted ? 'btn-primary' : 'btn-default')
	)
		span #{translate("customize")} 
		span.hidden-mobile #{translate("your_plan_lowercase")}

mixin btn_buy_group_professional(highlighted) 
	a.btn.plans-v2-table-btn-buy(
		data-ol-start-new-subscription='group_professional'
		data-ol-item-view='annual'
		data-ol-has-custom-href
		class=(highlighted ? 'btn-primary' : 'btn-default')
	)
		span #{translate("customize")} 
		span.hidden-mobile #{translate("your_plan_lowercase")}

mixin btn_buy_group_organization(highlighted) 
	a.btn.plans-v2-table-btn-buy(
		data-ol-start-new-subscription='group_organization'
		data-ol-item-view='annual'
		data-ol-has-custom-href
		href='/for/enterprises/sales-contact'
		target='_blank'
		class=(highlighted ? 'btn-primary' : 'btn-default')
	)
		span #{translate("contact_us_lowercase")}

mixin btn_buy_student_free(highlighted)
	if (!getSessionUser())
		a.btn.plans-v2-table-btn-buy(
			href="/register"
			class=(highlighted ? 'btn-primary' : 'btn-default')
		)
			span #{translate("try_for_free")}

mixin btn_buy_student_student(highlighted, period)
	a.btn.plans-v2-table-btn-buy(
		data-ol-start-new-subscription='student'
		data-ol-item-view=period
		data-ol-location='card'
		class=(highlighted ? 'btn-primary' : 'btn-default')
	)
		if (period === 'monthly')
			span #{translate("try_for_free")}
		else 
			span #{translate("buy_now_no_exclamation_mark")}
	if (period === 'monthly')
		+additional_link_buy('student', period)

mixin btn_buy_student_university(highlighted, period)
	a.btn.plans-v2-table-btn-buy(
		href="/for/enterprises/sales-contact"
		target="_blank"
		event-tracking="plans-page-click"
		event-tracking-mb="true"
		event-tracking-trigger="click"
		event-segmentation='{"button": "student-university", "location": "table-header-list", "period": "' + period + '", "plans-page-layout-v2": "new-plans-page"}'
		class=(highlighted ? 'btn-primary' : 'btn-default')
	)
		span #{translate("contact_us_lowercase")}

mixin additional_link_group(plan)
	- var buttonSegmentation = plan + '-link'
	small.plans-v2-table-th-content-additional-link
		| #{translate("or")} 
		a(
			href="/for/enterprises/sales-contact"
			target="_blank"
			event-tracking="plans-page-click"
			event-tracking-mb="true"
			event-tracking-trigger="click"
			event-segmentation='{"button": "' + buttonSegmentation + '", "location": "table-header", "plans-page-layout-v2": "new-plans-page"}'
		) #{translate("contact_us_lowercase")}

mixin additional_link_buy(plan, period)
	- var buttonSegmentation = plan + '-link'
	small.plans-v2-table-th-content-additional-link
		| #{translate("or")} 
		a(
			href="/user/subscription/new?planCode=" + plan + "&currency=" + recommendedCurrency + "&itm_campaign=plans&itm_content=card"
			event-tracking="plans-page-click"
			event-tracking-mb="true"
			event-tracking-trigger="click"
			event-segmentation='{"button": "' + buttonSegmentation + '", "location": "table-header", "period": "' + period + '", "plans-page-layout-v2": "new-plans-page"}'
		) #{translate("buy_now_no_exclamation_mark")}

mixin table_sticky_header
	.row.plans-v2-table-sticky-header.plans-v2-table-sticky-header-individual.sticky(
		data-ol-plans-v2-table-sticky-header
		data-ol-plans-v2-view='individual'
	)
		.plans-v2-table-sticky-header-item
			span #{translate("free")}
		.plans-v2-table-sticky-header-item
			span #{translate("personal")}
		.plans-v2-table-sticky-header-item.plans-v2-table-sticky-header-item-highlighted
			span #{translate("standard")}
		.plans-v2-table-sticky-header-item
			span #{translate("professional")}

	.row.plans-v2-table-sticky-header.plans-v2-table-sticky-header-group.sticky(
		hidden
		data-ol-plans-v2-table-sticky-header
		data-ol-plans-v2-view='group'
	)
		.plans-v2-table-sticky-header-item
			span #{translate("group_standard")}
		.plans-v2-table-sticky-header-item.plans-v2-table-sticky-header-item-highlighted
			span #{translate("group_professional")}
		.plans-v2-table-sticky-header-item
			span #{translate("organization")}

	.row.plans-v2-table-sticky-header.plans-v2-table-sticky-header-student.sticky(
		hidden
		data-ol-plans-v2-table-sticky-header
		data-ol-plans-v2-view='student'
	)
		.plans-v2-table-sticky-header-item
			span #{translate("free")}
		.plans-v2-table-sticky-header-item.plans-v2-table-sticky-header-item-highlighted
			span #{translate("student")}
		.plans-v2-table-sticky-header-item
			span #{translate("university")}

mixin monthly_annual_switch(eventTracking, eventSegmentation)
	.row
		.col-md-4.col-md-offset-4.text-centered.plans-v2-m-a-switch-container(data-ol-plans-v2-m-a-switch-container)
			span.underline(data-ol-plans-v2-m-a-switch-text='monthly') #{translate("monthly")}
			label.plans-v2-m-a-switch(data-ol-plans-v2-m-a-switch)
				input(
					type="checkbox"
					role="switch"
					autocomplete="off"
					event-tracking=eventTracking
					event-tracking-mb="true"
					event-tracking-trigger="click"
					event-tracking-element="checkbox"
					event-segmentation=eventSegmentation
				)
				span
			.plans-v2-m-a-switch-annual-text-container
				span(data-ol-plans-v2-m-a-switch-text='annual') #{translate("annual")}
				.tooltip.in.right.plans-v2-m-a-tooltip(
					role="tooltip"
					data-ol-plans-v2-m-a-tooltip
				)
					.tooltip-arrow
					.tooltip-inner
						span(data-ol-tooltip-period='monthly') #{translate("save_20_percent_by_paying_annually")}
						span(hidden data-ol-tooltip-period='annual') #{translate("saving_20_percent")}
