.faq
	.row.row-spaced-large
		.col-md-12
			.page-header.plans-header.plans-subheader.text-centered
				h2 FAQ
	.row
		.col-md-6
			h3 #{translate("faq_how_free_trial_works_question")}
			p #{translate('faq_how_does_free_trial_works_answer', { appName:'{{settings.appName}}', len:'{{trial_len}}' })}
		.col-md-6
			h3 #{translate('faq_change_plans_question')}
			p #{translate('faq_change_plans_answer')}
	.row
		.col-md-6
			h3 #{translate('faq_do_collab_need_premium_question')}
			p #{translate('faq_do_collab_need_premium_answer')}
		.col-md-6
			h3 #{translate('faq_need_more_collab_question')}
			p !{translate('faq_need_more_collab_answer', { referFriendsLink: translate('referring_your_friends') })}
	.row
		.col-md-6
			h3 #{translate('faq_purchase_more_licenses_question')}
			p !{translate('faq_purchase_more_licenses_answer', { groupLink: translate('discounted_group_accounts') })}&nbsp;
				a(href='#groups', ng-click="openGroupPlanModal()") #{translate("get_in_touch_for_details")}
		.col-md-6
			h3 #{translate('faq_monthly_or_annual_question')}
			p #{translate('faq_monthly_or_annual_answer')}
	.row
		.col-md-6
			h3 #{translate('faq_how_to_pay_question')}
			p #{translate('faq_how_to_pay_answer')}
		.col-md-6
			h3 #{translate('faq_pay_by_invoice_question')}
			p !{translate('faq_pay_by_invoice_answer', { payByInvoiceLinkOpen: '<a href="#pay-by-invoice" ng-click="openPayByInvoiceModal()">', payByInvoiceLinkClose: '</a>' })}
