extends ../layout-react

block entrypointVar
	- entrypoint = 'pages/user/subscription/group-management/add-seats'

block append meta
	meta(name='ol-user' data-type='json' content=user)
	meta(name='ol-groupName' data-type='string' content=groupName)
	meta(name='ol-subscriptionId' data-type='string' content=subscriptionId)
	meta(name='ol-totalLicenses' data-type='number' content=totalLicenses)
	meta(name='ol-isProfessional' data-type='boolean' content=isProfessional)
	meta(
		name='ol-isCollectionMethodManual'
		data-type='boolean'
		content=isCollectionMethodManual
	)
	meta(
		name='ol-subscriptionPaymentErrorCode'
		data-type='string'
		content=redirectedPaymentErrorCode
	)

block content
	main#main-content.content.content-alt
		#add-seats-root
