extends ../layout

block scripts
	script(src=buildJsPath('libs/recurly.min.js', {fingerprint:false}))

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3
					.card
						.page-header
							h1.text-centered #{translate("update_your_billing_details")}
						#billingDetailsForm #{translate("loading_billing_form")}...
	

	script(type="text/javascript").
		Recurly.config(!{recurlyConfig})
		Recurly.buildBillingInfoUpdateForm({
			target      : "#billingDetailsForm",
			successURL  : "#{successURL}?_csrf=#{csrfToken}&origin=editBillingDetails",
			signature   : "!{signature}",
			accountCode : "#{user.id}"
		});



