extends ../layout-marketing

include ./plans/light-redesign/_mixins
include ../_mixins/eyebrow
include ../_mixins/links
	
block entrypointVar
	- entrypoint = 'pages/user/subscription/plans-v2/plans-v2-main'

block vars
	- var suppressFooter = true
	- var suppressNavbarRight = true
	- var suppressCookieBanner = true

block append meta
	meta(name="ol-recommendedCurrency" content=recommendedCurrency)
	meta(name="ol-itm_content" content=itm_content)

block content
	main.website-redesign#main-content
		.plans-page.plans-page-interstitial
			.container
				if showInrGeoBanner
					.mb-5.notification.notification-type-success.text-center
						div.notification-content !{translate("inr_discount_offer_plans_page_banner", {flag: '🇮🇳'})}
				if showBrlGeoBanner
					.mb-5.notification.notification-type-success.text-center
						div.notification-content !{translate("brl_discount_offer_plans_page_banner", {flag: '🇧🇷'})}
				if showLATAMBanner
					.mb-5.notification.notification-type-success.text-center
						div.notification-content !{translate("latam_discount_offer_plans_page_banner", {flag: latamCountryBannerDetails.latamCountryFlag, country: latamCountryBannerDetails.country, currency: latamCountryBannerDetails.currency, discount: latamCountryBannerDetails.discount })}

				.row
					.col-md-12.text-center
						h1
							+eyebrow(translate('plans_and_pricing_lowercase'))
							| #{translate('choose_your_plan')}

				+monthly_annual_switch("monthly", "paywall-plans-page-toggle", '{}')

				.plans-table-sticky-header-container
					+plans_table_sticky_header(true, interstitialPaymentConfig)

				.row.plans-table-container(data-ol-plans-v2-period='monthly')
					.col-sm-12
						.row
							table.card.plans-table.plans-table-individual
								+plans_table('monthly', interstitialPaymentConfig)

				.row.plans-table-container(hidden data-ol-plans-v2-period='annual')
					.col-sm-12
						.row
							table.card.plans-table.plans-table-individual
								+plans_table('annual', interstitialPaymentConfig)

				if (showCurrencyAndPaymentMethods)
					+currency_and_payment_methods()

				//- sticky header on mobile will be "hidden" (by removing its sticky position) if it reaches this div
				.invisible(aria-hidden="true" data-ol-plans-v2-table-sticky-header-stop)

			if (showSkipLink)
				.row.row-spaced-small.text-center
					+linkWithArrow({
						text: translate("continue_with_free_plan"),
						href: skipLinkTarget,
						eventTracking: 'skip-button-click',
						eventSegmentation: {location: 'interstitial-page'}
					})

	!= moduleIncludes("contactModalGeneral-marketing", locals)
