extends ../layout-marketing

include ./_new_mixins

block entrypointVar
	- entrypoint = 'pages/user/subscription/new'

block vars
	- var suppressNavbarRight = true
	- var suppressFooter = true

block append meta
	meta(name="ol-countryCode" content=countryCode)
	meta(name="ol-recurlyApiKey" content=settings.apis.recurly.publicKey)
	meta(name="ol-recommendedCurrency" content=String(currency).slice(0, 3))
	meta(name="ol-plan" data-type="json" content=plan)
	meta(name="ol-planCode" data-type="string" content=planCode)
	meta(name="ol-showCouponField" data-type="boolean" content=showCouponField)
	meta(name="ol-couponCode" content=couponCode)
	meta(name="ol-itm_campaign" content=itm_campaign)
	meta(name="ol-itm_content" content=itm_content)
	meta(name="ol-itm_referrer" content=itm_referrer)

block head-scripts
	script(type="text/javascript", nonce=scriptNonce, src="https://js.recurly.com/v4/recurly.js")

block content
	main.content.content-alt#subscription-new-root

	script(type="text/javascript", nonce=scriptNonce).
		ga('send', 'event', 'pageview', 'payment_form', "#{planCode}")

	script(
		type="text/ng-template"
		id="cvv-tooltip-tpl.html"
	)
		p !{translate("for_visa_mastercard_and_discover", {}, ['strong', 'strong', 'strong'])}
		p !{translate("for_american_express", {}, ['strong', 'strong', 'strong'])}
