extends ../layout

block content
	- locals.supressDefaultJs = true
	script(data-main=jsPath+'main.js', src=jsPath+'libs/require.js', baseurl=jsPath)
	script(src=jsPath+'libs/recurly.min.js')

	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3
					.card
						.page-header
							h1.text-centered New Subscription
						#subscribeForm Loading subscription form...

	script(type="text/javascript")
		ga('send', 'event', 'pageview', 'payment_form', "#{plan_code}")


	script(type="text/javascript").
		Recurly.config(!{recurlyConfig})
		var recurlySubscriptionFormConfig = !{subscriptionFormOptions}
		recurlySubscriptionFormConfig.successHandler = function(){
			ga('send', 'event', 'subscription-funnel', 'subscribed')
		}

		Recurly.buildSubscriptionForm(recurlySubscriptionFormConfig);


