extends ../layout

block content
	- locals.supressDefaultJs = true
	script(data-main=jsPath+'main.js', src=jsPath+'libs/require.js', baseurl=jsPath)
	script(src=jsPath+'libs/recurly.min.js')

	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3
					.card
						.page-header
							h1.text-centered #{translate("new_subscription")}
						#subscribeForm #{translate("loading_billing_form")}...

	script(type="text/javascript").
		ga('send', 'event', 'pageview', 'payment_form', "#{plan_code}")


	script(type="text/javascript").
		Recurly.config(!{recurlyConfig})
		var recurlySubscriptionFormConfig = !{subscriptionFormOptions}
		recurlySubscriptionFormConfig.successHandler = function(){
			ga('send', 'event', 'subscription-funnel', 'subscribed')
		}

		Recurly.buildSubscriptionForm(recurlySubscriptionFormConfig);

		window.ab = [
			{step:1, bucket:"14d", testName:"trial_len"},
			{step:1, bucket:"7d", testName:"trial_len"}
		]
