extends ../layout-marketing

include ./plans-marketing/_mixins
include ./plans-marketing/_tables

block vars
	- entrypoint = 'pages/user/subscription/plans'

block append meta
	meta(name="ol-recommendedCurrency" content=recommendedCurrency)
	meta(name="ol-groupPlans" data-type="json" content=groupPlans)
	meta(name="ol-currencySymbols" data-type="json" content=groupPlanModalOptions.currencySymbols)
	meta(name="ol-itm_content" content=itm_content)

block content
	main.content.content-alt#main-content
		.content-page
			.plans
				.container(ng-cloak)
					.row
						.col-md-12
							.page-header.centered.plans-header.text-centered
								h1.text-capitalize(ng-non-bindable) #{translate('get_instant_access_to')} #{settings.appName}
					.row
						.col-md-8.col-md-offset-2
							p.text-centered #{translate("sl_benefits_plans")}

					+allCardsAndControls()

					.row.row-spaced-large.text-centered
						.col-xs-12
							p.text-centered !{translate('also_provides_free_plan', {}, [{ name: 'a', attrs: { href: '/register' }}])}
							i.fa.fa-cc-mastercard.fa-2x(aria-hidden="true") &nbsp;
							span.sr-only Mastercard accepted
							i.fa.fa-cc-visa.fa-2x(aria-hidden="true") &nbsp;
							span.sr-only Visa accepted
							i.fa.fa-cc-amex.fa-2x(aria-hidden="true") &nbsp;
							span.sr-only Amex accepted
							i.fa.fa-cc-paypal.fa-2x(aria-hidden="true") &nbsp;
							span.sr-only Paypal accepted
							div.text-centered #{translate('change_plans_any_time')}<br/> #{translate('billed_after_x_days', {len:'7'})}
							br
							div.text-centered #{translate('subject_to_additional_vat')}<br/> #{translate('select_country_vat')}

					.row.row-spaced-large
						.col-md-8.col-md-offset-2
							.card.text-centered
								.card-header
									h2 #{translate('looking_multiple_licenses')}
								span #{translate('reduce_costs_group_licenses')}
								br
								br
								a.btn.btn-default(
									href="#groups"
									data-ol-open-group-plan-modal
									data-ol-location='callout'
								) #{translate('find_out_more')}

					.row.row-spaced-large
						.col-sm-12
							.page-header.plans-header.plans-subheader.text-centered
								h2 #{translate('compare_plan_features')}
					.row
						.col-md-6.col-md-offset-3
							+plan_switch('table')
						.col-md-3.text-right
							+currency_dropdown
					.row(event-tracking="features-table-viewed" event-tracking-ga="subscription-funnel" event-tracking-trigger="scroll" event-tracking-send-once="true" event-tracking-label="exp-")
						.col-sm-12(data-ol-view='monthly')
							+table_premium
						.col-sm-12(hidden data-ol-view='annual')
							+table_premium
						.col-sm-12(hidden data-ol-view='student')
							+table_student

					include ./plans-marketing/_quotes

					include ./plans-marketing/_faq

					#bottom-cards.row.row-spaced(style="display: none;")
						.col-sm-12
							+allCardsAndControls(true, 'bottom')

					.row.row-spaced-large
						.col-md-12
							.plans-header.plans-subheader.text-centered
								h2.header-with-btn #{translate('still_have_questions')}
									button.btn.btn-default.btn-header.text-capitalize(
										data-ol-open-contact-form-modal="general"
									) #{translate('get_in_touch')}

					.row.row-spaced

	include ./plans-marketing/_group_plan_modal
	!= moduleIncludes("contactModalGeneral-marketing", locals)
