extends ../layout

mixin liSection(feature)
	| #{feature.text} 
	-if(feature.comingSoon)
		span.label.label-info coming soon
	-if(feature.beta)
		span.label.label-warning beta


mixin plan(plan, cssClass, monthly)
	.pricing-table
		ul(class=cssClass)

			li.pricing-header-row-1
				.package-title
					h2.no-bold #{plan.name}

			li.pricing-header-row-2
				.package-price
					if plan.price == 0
						h1.free Free forever
					else
						h1.no-bold
							| $#{plan.price/100}
							if monthly
								span.cents  /month
							else 
								span.cents  /year

			- var odd = false
			- if(plan.planCode != "personal")
				li.pricing-content-row-even
					mixin liSection({text:"30 day free trial"})
			-each feature in plan.featureDescription
				- odd = !odd
				- if(odd)
					li.pricing-content-row-odd
						mixin liSection(feature)
				- else
					li.pricing-content-row-even
						mixin liSection(feature)
			- if(plan.planCode == "personal")
				li.pricing-content-row-even
					mixin liSection({text:""})


			li.pricing-footer
				- var href = '/user/subscription/new?planCode='+plan.planCode

				- planIsPersonal = plan.planCode.indexOf("personal") != -1
				- userNotLoggedIn = session && !session.user
				-if(planIsPersonal)
					- href = "/register"
				-else if(userNotLoggedIn)
					- href = "/register?redir="+href
				a.btn.btn-success(href='#{href}').sign_up_now	
					| Sign Up Now!


block content
	.container
		.row
			.span12.span-box
				.page-header
					h1 Choose your plan
					blockquote.quote.pull-right
						p 
							| This is one of the most useful resources I have ever found on the Internet.
							br
							| Fantastic execution and thoughtful attention to detail make this product shine!
						small Benjamin Shepherd, Waterloo University

				.row
					.span12
						.offset3
							ul.nav.nav-pills.pricing-pills
								li.active
									a(href="#", data-target=".monthly-pricing", data-toggle="tab") Monthly
								li
									a(href="#", data-target=".annual-pricing", data-toggle="tab") Annual
								li
									a(href="#", data-target=".student-pricing", data-toggle="tab") Half price student plans

				.row
					.span12
						.page-header
							h2 Individual Plans	

				.pricing-steelblue.pricing-row
					.tab-content
						.tab-pane.active.monthly-pricing
							.row
								.span6.offset3.tagline.freeTrialBlurb
									h1 Start your risk free <strong>30 day</strong> trial
							.row
								.span4
									mixin plan(plans.personalAccount, "", true)
								.span4
									mixin plan(plans.allPlans['collaborator_free_trial'], "big", true)
								.span4
									mixin plan(plans.allPlans['professional_free_trial'], "", true)

						.tab-pane.annual-pricing
							.row
								.span6.offset3.tagline.freeTrialBlurb
									h1 Start your risk free <strong>30 day</strong> trial
								.span4
									mixin plan(plans.personalAccount, "", true)
								.span4
									mixin plan(plans.allPlans['collaborator-annual_free_trial'], "big", false)
								.span4
									mixin plan(plans.allPlans['prof-ann_free_trial'], "", false)

						.tab-pane.student-pricing
							.row
								.span6.offset3.tagline.freeTrialBlurb
									h1 Start your risk free <strong>30 day</strong> trial
								.span4
									mixin plan(plans.personalAccount, "", true)
								.span4
									mixin plan(plans.allPlans['student_free_trial'], "big", true)
								.span4
									mixin plan(plans.allPlans['stud-ann_free_trial'], "", false)

				.pricing-steelblue.pricing-row
					.tab-content
						.tab-pane.active.monthly-pricing
							.page-header
								h2 Group Plans	
							.row
								.span12.tagline 
									p Improve the workflow of your research group by unlocking ShareLaTeX's premium features for everyone on your team
							.row
								.span4
									mixin plan(plans.groupMonthlyPlans[0], "", true)
								.span4
									mixin plan(plans.groupMonthlyPlans[1], "big", true)
								.span4
									mixin plan(plans.groupMonthlyPlans[2], "", true)
						.tab-pane.annual-pricing
							.page-header
								h2 Group Plans	
							.row
								.span12.tagline 
									p Improve the workflow of your research group by unlocking ShareLaTeX's premium features for everyone on your team
							.row
								.span4
									mixin plan(plans.groupAnnualPlans[0], "", false)
								.span4
									mixin plan(plans.groupAnnualPlans[1], "big", false)
								.span4
									mixin plan(plans.groupAnnualPlans[2], "", false)
						.tab-pane.student-pricing


				.row
					.span6.offset3
						.alert.alert-info(style="color: #333")
							h3 Want to use ShareLaTeX for free?
							p Tell your university or department about our 
								a(href="/university") site licenses 
								| and use of all our
								| features for free as a student or member of staff.
								
		include ../general/small-footer
		link(rel='stylesheet', href='/brand/plans.css?fingerprint='+fingerprint('/brand/plans.css'))	

