extends ../layout

block content
	.content-alt
		.content.plans(ng-controller="PlansController")
			.container
				.row
					.col-md-12
						.page-header.centered.plans-header.text-centered
							h1 Start Your 30-Day Free Trial Today!

				.row
					.col-md-8.col-md-offset-2
						p.text-centered ShareLaTeX is the world's easiest to use LaTeX editor. Stay up to date with your collaborators, keep track of all changes to your work, and use our LaTeX environment from anywhere in the world.

				.row(ng-cloak)
					.col-md-12
						ul.nav.nav-pills
							li(ng-class="{'active': ui.view == 'monthly'}")
								a(
									href,
									ng-click="switchToMonthly()"
								) Monthly
							li(ng-class="{'active': ui.view == 'annual'}")
								a(
									href
									ng-click="switchToAnnual()"
								) Annual
							li(ng-class="{'active': ui.view == 'student'}")
								a(
									href,
									ng-click="switchToStudent()"
								) Half Price Student Plans

				.row(ng-cloak)
					.col-md-12
						.card-group.text-centered(ng-if="ui.view == 'monthly' || ui.view == 'annual'")
							.card
								.card-header
									h2 Personal
								.circle Free
								ul.list-unstyled
									li Only one collaborator
									li &nbsp;
									li &nbsp;
									li
										br
										a.btn.btn-info(href="/register") Sign up now
							.card.highlighted
								.card-header
									h2 Collaborator
								.circle
									span(ng-if="ui.view == 'monthly'")
										| $15
										span.small /mo
									span(ng-if="ui.view == 'annual'")
										| $180
										span.small/yr
								ul.list-unstyled
									li 
										strong 10 collaborators per project
									li Full document history
									li Sync to Dropbox
									li
										br
										a.btn.btn-info(
											ng-href="#{baseUrl}/user/subscription/new?planCode=collaborator{{ ui.view == 'annual' && '-annual' || ''}}_free_trial", ng-click="signUpNowClicked('collaborator')"
										) Start Free Trial!
							.card
								.card-header
									h2 Professional
								.circle 
									span(ng-if="ui.view == 'monthly'")
										| $30
										span.small /mo
									span(ng-if="ui.view == 'annual'")
										| $360
										span.small /yr
								ul.list-unstyled
									li
										strong Unlimited collaborators
									li Full document history
									li Sync to Dropbox
									li
										br
										a.btn.btn-info(
											ng-href="#{baseUrl}/user/subscription/new?planCode=professional{{ ui.view == 'annual' && '-annual' || ''}}_free_trial", ng-click="signUpNowClicked('professional')"
										) Start Free Trial!

						.card-group.text-centered(ng-if="ui.view == 'student'")
							.card
								.card-header
									h2 Personal
								.circle Free
								ul.list-unstyled
									li Only one collaborator
									li &nbsp;
									li &nbsp;
									li
										br
										a.btn.btn-info(href="/register") Sign up now
							.card.highlighted
								.card-header
									h2 Student
								.circle
									span
										| $8
										span.small /mo
								ul.list-unstyled
									li
										strong 6 collaborators per project
									li Full document history
									li Sync to Dropbox
									li
										br
										a.btn.btn-info(
											ng-href="#{baseUrl}/user/subscription/new?planCode=student_free_trial", ng-click="signUpNowClicked('student')"
										) Start Free Trial!
							.card
								.card-header
									h2 Student (Annual)
								.circle
									span
										| $80
										span.small /yr
								ul.list-unstyled
									li
										strong 6 collaborators per project
									li Full document history
									li Sync to Dropbox
									li
										br
										a.btn.btn-info(
											ng-href="#{baseUrl}/user/subscription/new?planCode=stud-ann_free_trial", ng-click="signUpNowClicked('student')"
										) Start Free Trial!

				.row(ng-cloak)
					p.text-centered Choose the plan that works for you with our 30-day free trial. Cancel at any time.
					
				.row(ng-cloak)
					.col-md-8.col-md-offset-2
						.alert.alert-info.text-centered
							| Interested in using ShareLaTeX with a group, team or department wide account?
							br
							a(href, ng-click="openGroupPlanModal()") Get in touch for details!
						
					script(type="text/ng-template", id="groupPlanModalTemplate")
						.modal-header
							h3 Group Plan Enquiry
						.modal-body
							form(name='form1', autocomplete='off', enctype='multipart/form-data', method='post', novalidate='', action='https://sharelatex.wufoo.com/forms/z7x3p3/#public', _lpchecked='1')
								.form-group
									label(for='Field9') Name
									input.form-control(name='Field9', type='text', value='', maxlength='255', tabindex='1', onkeyup='')
								
								.form-group
									label(for='Field11') Email
									input.form-control(name='Field11', type='email', spellcheck='false', value='', maxlength='255', tabindex='2')
								
								.form-group
									label(for='Field12') University
									input.form-control(name='Field12', type='text', value='', maxlength='255', tabindex='3', onkeyup='')
									
								.form-group
									label(for='Field13') Position
									input.form-control(name='Field13', type='text', value='', maxlength='255', tabindex='4', onkeyup='')
								
								.form-group
									input.btn.btn-primary.btn-large(name='saveForm', type='submit', value='Send')
								div(style='display: none;')
									label(for='comment') Do Not Fill This Out
									textarea#comment(name='comment', rows='1', cols='1')
									input#idstamp(type='hidden', name='idstamp', value='xkgLkZnS/AQW71jCS1d0XrrFjq26lJryIPVk2rx0YkU=')


				.row
					.col-md-12
						.page-header.plans-header.plans-subheader.text-centered
							h2 Enjoy all of these great features
					.col-md-4
						.card.features.text-centered
							i.fa.fa-file-text-o.fa-5x
							h4 Unlimited projects
							p Create as many projects as you need.
					.col-md-4
						.card.features.text-centered
							i.fa.fa-clock-o.fa-5x
							h4 Full document history
							p Never lose a step, we've got your back.
					.col-md-4
						.card.features.text-centered
							i.fa.fa-dropbox.fa-5x
							h4 Sync to Dropbox
							p Access your projects everywhere.
