extends ../layout-website-redesign
include ../_mixins/quote
include ../_mixins/eyebrow

block vars
	- entrypoint = 'pages/user/subscription/plans-v2/plans-v2-main'

block append meta
	meta(name="ol-recommendedCurrency" content=recommendedCurrency)
	meta(name="ol-groupPlans" data-type="json" content=groupPlans)
	meta(name="ol-currencySymbols" data-type="json" content=groupPlanModalOptions.currencySymbols)
	meta(name="ol-itm_content" content=itm_content)
	meta(name="ol-currentView" content=currentView)

block content
	main.website-redesign#main-content
		.plans-page
			.container
				//- if showInrGeoBanner
				//- 	div.notification.notification-type-success.text-centered
				//- 		div.notification-content !{translate("inr_discount_offer_plans_page_banner", {flag: '🇮🇳'})}
				//- if showBrlGeoBanner
				//- 	div.notification.notification-type-success.text-centered
				//- 		div.notification-content !{translate("brl_discount_offer_plans_page_banner", {flag: '🇧🇷'})}
				//- if showLATAMBanner
				//- 	div.notification.notification-type-success.text-centered
				//- 		div.notification-content !{translate("latam_discount_offer_plans_page_banner", {flag: latamCountryBannerDetails.latamCountryFlag, country: latamCountryBannerDetails.country, currency: latamCountryBannerDetails.currency, discount: latamCountryBannerDetails.discount })}

				.row
					.col-md-12
						h1.text-centered
							+eyebrow(translate('plans_and_pricing_lowercase'))
							| #{translate('choose_your_plan')}

				include ./plans/light-redesign/_cards_controls_tables
					
				+currency_and_payment_methods()

				//- TODO: changing .plans-page-quote-row-hidden causes flickering on page load
				.plans-page-quote-row(data-ol-show-for-plan-type="individual")
					+collinsQuote1()

				.plans-page-quote-row.plans-page-quote-row-hidden(data-ol-show-for-plan-type="group")
					+bennettQuote1()

				.plans-page-quote-row.plans-page-quote-row-hidden(data-ol-show-for-plan-type="student")
					+collinsQuote2()


				include ./plans/_university_info

				include ./plans/_faq_new

	include ./plans/_group_plan_modal
