extends ../layout-react

block entrypointVar
	- entrypoint = 'pages/user/subscription/preview-change'

block append meta
	meta(name='ol-user' data-type='json' content=user)
	meta(
		name='ol-subscriptionChangePreview'
		data-type='json'
		content=changePreview
	)
	meta(name='ol-purchaseReferrer' data-type='string' content=purchaseReferrer)
	meta(
		name='ol-subscriptionPaymentErrorCode'
		data-type='string'
		content=redirectedPaymentErrorCode
	)
	meta(
		name='ol-trialDisabledReason'
		data-type='string'
		content=trialDisabledReason
	)

block content
	main#main-content.content.content-alt
		#subscription-preview-change
