extends ../layout

block content
	main.content.content-alt#main-content
		.container
			.row
				.col-md-8.col-md-offset-2
					.card(ng-cloak)
						.page-header
							h2 #{translate("thanks_for_subscribing")}

						.alert.alert-success
							if (personalSubscription.recurly.trial_ends_at)
								p !{translate("next_payment_of_x_collectected_on_y", {paymentAmmount: personalSubscription.recurly.displayPrice, collectionDate: personalSubscription.recurly.nextPaymentDueAt}, ['strong', 'strong'])}
								include ./_price_exceptions
							p #{translate("to_modify_your_subscription_go_to")} 
								a(href="/user/subscription")  #{translate("manage_subscription")}.
						p
							if (personalSubscription.groupPlan == true)
								a.btn.btn-success.btn-large(href=`/manage/groups/${personalSubscription._id}/members`) #{translate("add_your_first_group_member_now")}
						p.letter-from-founders
							p #{translate("thanks_for_subscribing_you_help_sl", {planName:personalSubscription.plan.name})}
							p #{translate("need_anything_contact_us_at")} 
								a(href=`mailto:${settings.adminEmail}`, ng-non-bindable) #{settings.adminEmail}
								| .
							p !{translate("help_improve_overleaf_fill_out_this_survey", {}, [{name: 'a', attrs: {href: 'https://forms.gle/CdLNX9m6NLxkv1yr5', target:'_blank', rel:'noopener noreferrer'}}])}
							p #{translate("regards")},
								br(ng-non-bindable)
								| The #{settings.appName} Team
						p
							a.btn.btn-primary(href="/project") &lt; #{translate("back_to_your_projects")}
