extends ../layout-react

block entrypointVar
	- entrypoint = 'pages/user/subscription/group-management/upgrade-group-subscription'

block append meta
	meta(name='ol-user' data-type='json' content=user)
	meta(
		name='ol-subscriptionChangePreview'
		data-type='json'
		content=changePreview
	)
	meta(name='ol-totalLicenses' data-type='number' content=totalLicenses)
	meta(name='ol-groupName' data-type='string' content=groupName)
	meta(
		name='ol-subscriptionPaymentErrorCode'
		data-type='string'
		content=redirectedPaymentErrorCode
	)

block content
	main#upgrade-group-subscription-root.content.content-alt
