

footer.site-footer
	.site-footer-content.hidden-print
		.row
			ul.col-md-9
				
				if Object.keys(settings.i18n.subdomainLang).length > 1
					li.dropdown.dropup.subdued(dropdown)
						a.dropdown-toggle(
							href="#",
							dropdown-toggle,
							data-toggle="dropdown",
							aria-haspopup="true",
							aria-expanded="false",
							aria-label="Select " + translate('language')
							tooltip=translate('language')
						)
							figure(class="sprite-icon sprite-icon-lang sprite-icon-"+currentLngCode alt=translate(currentLngCode))

						ul.dropdown-menu(role="menu")
							li.dropdown-header #{translate("language")}
							each subdomainDetails, subdomain in settings.i18n.subdomainLang
								if !subdomainDetails.hide
									li.lngOption
										a.menu-indent(href=subdomainDetails.url+currentUrl)
											figure(class="sprite-icon sprite-icon-lang sprite-icon-"+subdomainDetails.lngCode alt=translate(subdomainDetails.lngCode))
											|  #{translate(subdomainDetails.lngCode)}
										//- img(src="/img/flags/24/.png")
				each item in nav.left_footer
					li
						if item.url
							a(href=item.url, class=item.class) !{translate(item.text)}
						else
							| !{translate(item.text)}

			ul.col-md-3.text-right

				each item in nav.right_footer
					li(ng-non-bindable)
						if item.url
							a(href=item.url, class=item.class, aria-label=item.label) !{item.text}
						else
							| !{item.text}
