

footer.site-footer
	.container
		.row
			ul.col-md-6
				
				if Object.keys(settings.i18n.subdomainLang).length > 1
					li.dropdown.dropup.subdued
						a.dropdown-toggle(
							href="#",
							data-toggle="dropdown",
							aria-haspopup="true",
							aria-expanded="false",
							tooltip="#{translate('language')}"
						)
							img(src="/img/flags/24/#{currentLngCode}.png")

						ul.dropdown-menu(role="menu")
							li.dropdown-header #{translate("language")}
							each subdomainDetails, subdomain in settings.i18n.subdomainLang
								if !subdomainDetails.hide
									li.lngOption
										a.menu-indent(href=subdomainDetails.url+currentUrl)
											img(src="/img/flags/24/#{subdomainDetails.lngCode}.png")
											|  #{translate(subdomainDetails.lngCode)}
										
				each item in nav.left_footer
					li
						if item.url
							a(href=item.url, class=item.class) !{translate(item.text)}
						else
							| !{translate(item.text)}

			ul.col-md-6.text-right

				each item in nav.right_footer
					li
						if item.url
							a(href=item.url, class=item.class) !{item.text}
						else
							| !{item.text}




				//- li
				//- 	a(href="http://www.twitter.com/sharelatex")
				//- 		i.fa.fa-twitter-square
				//- li
				//- 	a(href="http://www.facebook.com/pages/ShareLaTeX/301671376556660")
				//- 		i.fa.fa-facebook-square
				//- li
				//- 	a(href="https://plus.google.com/115074691861228882827", rel="publisher")
				//- 		i.fa.fa-google-plus-square
				//- li
				//- 	a(href="https://github.com/sharelatex/sharelatex")
				//- 		i.fa.fa-github-square
