li.dropdown.dropup.subdued(dropdown).language-picker
	button#language-picker-toggle.btn.btn-link.btn-inline-link(
		dropdown-toggle,
		data-ol-lang-selector-tooltip,
		data-bs-toggle="dropdown",
		aria-haspopup="true",
		aria-expanded="false",
		aria-label="Select " + translate('language'),
		tooltip=translate('language')
		title=translate('language')
	)
		span.material-symbols(aria-hidden="true") translate
		| &nbsp;
		span.language-picker-text #{settings.translatedLanguages[currentLngCode]}

	ul.dropdown-menu.dropdown-menu-sm-width(role="menu" aria-labelledby="language-picker-toggle")
		li.dropdown-header #{translate("language")}
		each subdomainDetails, subdomain in settings.i18n.subdomainLang
			if !subdomainDetails.hide
				- let isActive = subdomainDetails.lngCode === currentLngCode
				li.lng-option
					a.menu-indent(href=subdomainDetails.url+currentUrlWithQueryParams, role="menuitem", class=isActive ? 'dropdown-item active' : 'dropdown-item', aria-selected=isActive ? 'true' : 'false')
						| #{settings.translatedLanguages[subdomainDetails.lngCode]}
						if subdomainDetails.lngCode === currentLngCode
							span.material-symbols.dropdown-item-trailing-icon(aria-hidden="true") check
