li.dropdown.dropup.subdued(dropdown).language-picker
	a.dropdown-toggle#language-picker-toggle(
		href="#",
		dropdown-toggle,
		data-ol-lang-selector-tooltip,
		data-toggle="dropdown",
		role="button"
		aria-haspopup="true",
		aria-expanded="false",
		aria-label="Select " + translate('language'),
		tooltip=translate('language')
		title=translate('language')
	)
		i.fa.fa-fw.fa-language
		|
		| #{settings.translatedLanguages[currentLngCode]}

	ul.dropdown-menu(role="menu" aria-labelledby="language-picker-toggle")
		li.dropdown-header #{translate("language")}
		each subdomainDetails, subdomain in settings.i18n.subdomainLang
			if !subdomainDetails.hide
				li.lng-option
					a.menu-indent(href=subdomainDetails.url+currentUrlWithQueryParams role="menuitem")
						| #{settings.translatedLanguages[subdomainDetails.lngCode]}
