nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed", ng-class="{active: !navCollapsed}")
				i.fa.fa-bars
			a(href='/').navbar-brand

		.navbar-collapse.collapse(collapse="navCollapsed")

			.dropdown
				button.btn.btn-default.dropdown-toggle Lang
					span.caret
				ul.dropdown-menu
					li
						a(href="/?setLng=en-GB") british
						a(href="/?setLng=en-US") USA
						a(href="/?setLng=fr-FR") french


			ul.nav.navbar-nav.navbar-right
				each item in nav.header
					if ((item.only_when_logged_in && session && session.user) || (item.only_when_logged_out && (!session || !session.user)) || (!item.only_when_logged_out && !item.only_when_logged_in))
						if item.dropdown
							li.dropdown(class=item.class)
								a.dropdown-toggle(href)
									| !{item.text} 
									b.caret
								ul.dropdown-menu
									each child in item.dropdown
										if child.divider
											li.divider
										else
											li
												if child.url
													a(href=child.url, class=child.class) !{child.text}
												else
													| !{child.text}
						else
							li(class=item.class)
								if item.url
									a(href=item.url, class=item.class) !{item.text}
								else
									| !{item.text}


