nav.navbar.navbar-default.navbar-main
	.container-fluid
		.navbar-header
			button.navbar-toggle(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed", ng-class="{active: !navCollapsed}", aria-label="Toggle " + translate('navigation'))
				i.fa.fa-bars(aria-hidden="true")
			if settings.nav.custom_logo
				a(href='/', aria-label=settings.appName, style='background-image:url("'+settings.nav.custom_logo+'")').navbar-brand
			else if (nav.title)
				a(href='/', aria-label=settings.appName, ng-non-bindable).navbar-title #{nav.title}
			else
				a(href='/', aria-label=settings.appName).navbar-brand

		- var canDisplayAdminMenu = hasAdminAccess()
		- var canDisplayAdminRedirect = canRedirectToAdminDomain()
		- var canDisplaySplitTestMenu = hasFeature('saas') && (canDisplayAdminMenu || (getSessionUser() && getSessionUser().staffAccess && (getSessionUser().staffAccess.splitTestMetrics || getSessionUser().staffAccess.splitTestManagement)))
		.navbar-collapse.collapse(collapse="navCollapsed")
			ul.nav.navbar-nav.navbar-right
				if (canDisplayAdminMenu || canDisplayAdminRedirect || canDisplaySplitTestMenu)
					li.dropdown(class="subdued", dropdown)
						a.dropdown-toggle(href, dropdown-toggle)
							| Admin
							b.caret
						ul.dropdown-menu
							if canDisplayAdminMenu
								li
									a(href="/admin") Manage Site
								li
									a(href="/admin/user") Manage Users
								li
									a(href="/admin/project") Project URL Lookup
							if canDisplayAdminRedirect
								li
									a(href=settings.adminUrl) Switch to Admin
							if canDisplaySplitTestMenu
								li
									a(href="/admin/split-test") Manage Split Tests

				// loop over header_extras
				each item in ((splitTestVariants && (splitTestVariants['unified-navigation'] === 'show-unified-navigation')) ? nav.header_extras_unified : nav.header_extras)
					-
						if ((item.only_when_logged_in && getSessionUser())
							|| (item.only_when_logged_out && (!getSessionUser()))
							|| (!item.only_when_logged_out && !item.only_when_logged_in && !item.only_content_pages)
							|| (item.only_content_pages && (typeof(suppressNavContentLinks) == "undefined" || !suppressNavContentLinks))
						){ 
							var showNavItem = true
						} else {
							var showNavItem = false
						}

					if showNavItem
						if item.dropdown
							li.dropdown(class=item.class, dropdown)
								a.dropdown-toggle(href, dropdown-toggle)
									| !{translate(item.text)}
									b.caret
								ul.dropdown-menu
									each child in item.dropdown
										if child.divider
											li.divider
										else
											li
												if child.url
													a(
														href=child.url,
														class=child.class,
														event-tracking=child.event
														event-tracking-mb="true"
														event-tracking-trigger="click"
													) !{translate(child.text)}
												else
													| !{translate(child.text)}
						else
							li(class=item.class)
								if item.url
									a(
										href=item.url,
										class=item.class,
										event-tracking=item.event
										event-tracking-mb="true"
										event-tracking-trigger="click"
									) !{translate(item.text)}
								else
									| !{translate(item.text)}

				// logged out
				if !getSessionUser()
					// register link
					if hasFeature('registration-page')
						li
							a(
								href="/register"
								event-tracking="menu-clicked-register"
								event-tracking-action="clicked"
								event-tracking-trigger="click"
								event-tracking-mb="true"
								event-segmentation={ page: currentUrl }
							) #{translate('register')}

					// login link
					li
						a(
							href="/login"
							event-tracking="menu-clicked-login"
							event-tracking-action="clicked"
							event-tracking-trigger="click"
							event-tracking-mb="true"
							event-segmentation={ page: currentUrl }
						) #{translate('log_in')}

				// projects link and account menu
				if getSessionUser()
					li
						a(href="/project") #{translate('Projects')}
					li.dropdown(dropdown)
						a.dropdown-toggle(href, dropdown-toggle)
							| #{translate('Account')}
							b.caret
						ul.dropdown-menu
							li
								div.subdued {{ usersEmail }}
							li.divider.hidden-xs.hidden-sm
							li
								a(href="/user/settings") #{translate('Account Settings')}
							if nav.showSubscriptionLink
								li
									a(href="/user/subscription") #{translate('subscription')}
							li.divider.hidden-xs.hidden-sm
							li
								form(method="POST" action="/logout")
									input(name='_csrf', type='hidden', value=csrfToken)
									button.btn-link.text-left.dropdown-menu-button #{translate('log_out')}
