nav.navbar.navbar-default
	.container-fluid
		.navbar-header
			button.navbar-toggle(ng-init="navCollapsed = true", ng-click="navCollapsed = !navCollapsed", ng-class="{active: !navCollapsed}")
				i.fa.fa-bars
			if settings.nav.custom_logo
				a(href='/', style='background-image:url("#{settings.nav.custom_logo}")').navbar-brand
			else if (nav.title)
				a(href='/').navbar-title #{nav.title}
			else
				a(href='/').navbar-brand

		.navbar-collapse.collapse(collapse="navCollapsed")

			ul.nav.navbar-nav.navbar-right
				if (getSessionUser() && getSessionUser().isAdmin)
					li.dropdown(class="subdued", dropdown)
						a.dropdown-toggle(href, dropdown-toggle)
							| Admin
							b.caret
						ul.dropdown-menu
							li
								a(href="/admin") Manage Site
							li
								a(href="/admin/user") Manage Users

				each item in nav.header
					if ((item.only_when_logged_in && getSessionUser()) || (item.only_when_logged_out && (!getSessionUser())) || (!item.only_when_logged_out && !item.only_when_logged_in))
						if item.dropdown
							li.dropdown(class=item.class, dropdown)
								a.dropdown-toggle(href, dropdown-toggle)
									| !{translate(item.text)}
									b.caret
								ul.dropdown-menu
									each child in item.dropdown
										if child.divider
											li.divider
										else
											li
												if child.url
													a(href=child.url, class=child.class) !{translate(child.text)}
												else
													| !{translate(child.text)}
						else
							li(class=item.class)
								if item.url
									a(href=item.url, class=item.class) !{translate(item.text)}
								else
									| !{translate(item.text)}
				
				
				

