footer.site-footer
	- var showLanguagePicker = Object.keys(settings.i18n.subdomainLang).length > 1
	- var hasCustomLeftNav = nav.left_footer && nav.left_footer.length > 0
	.site-footer-content.hidden-print
		.row
			ul.site-footer-items.col-lg-9
				if !settings.nav.hide_powered_by
					li
						//- year of Server Pro release, static
						| © 2025
						|
						a(href='https://www.overleaf.com/for/enterprises') Powered by Overleaf

					if showLanguagePicker || hasCustomLeftNav
						li
							strong.text-muted |

				if showLanguagePicker
					include language-picker

				if showLanguagePicker && hasCustomLeftNav
					li
						strong.text-muted |

				each item in nav.left_footer
					li
						if item.url
							a(href=item.url class=item.class) !{translate(item.text)}
						else
							| !{item.text}

			ul.site-footer-items.col-lg-3.text-end
				each item in nav.right_footer
					li
						if item.url
							a(href=item.url class=item.class aria-label=item.label) !{item.text}
						else
							| !{item.text}
