extends ../../layout

block scripts
	script(type='text/javascript').
		window.teamId = '#{teamId}'
		window.hasPersonalSubscription = #{hasPersonalSubscription}
		window.inviteToken = '#{inviteToken}'

block content
	.content.content-alt.team-invite
		.container
			.row
				.col-md-8.col-md-offset-2
					-if (query.expired)
						.alert.alert-warning #{translate("email_link_expired")}

			.row.row-spaced
				.col-md-8.col-md-offset-2(ng-cloak)
					.card(ng-controller="TeamInviteController")
						.page-header
							h1.text-centered #{translate("invited_to_group", {inviterName: inviterName, appName: appName})}

						div(ng-show="view =='personalSubscription'").text-centered.message
							p #{translate("cancel_personal_subscription_first")}
							.row
								.col-md-12
									a.btn.btn.btn-default(ng-click="keepPersonalSubscription()", ng-disabled="inflight") #{translate("not_now")}
									span &nbsp;
									a.btn.btn.btn-primary(ng-click="cancelPersonalSubscription()", ng-disabled="inflight") #{translate("cancel_your_subscription")}

						div(ng-show="view =='teamInvite'").row.text-centered.message
							p #{translate("join_team_explanation", {appName: appName})}
							.row 
								.col-md-12
									.text-center
										a.btn.btn-default(href="/project") #{translate("not_now")}
										span &nbsp;
										a.btn.btn.btn-primary(ng-click="joinTeam()", ng-disabled="inflight") #{translate("accept_invitation")} 

						div(ng-show="view =='inviteAccepted'").row.text-centered.text-center
							.row
								.col-md-12 #{translate("joined_team", {inviterName: inviterName})}
							.row
								.col-md-12 &nbsp;
							.row
								.col-md-12
									a.btn.btn.btn-primary(href="/project") #{translate("done")}
