extends ../../layout

block append meta
	meta(name="ol-hasIndividualRecurlySubscription" data-type="boolean" content=hasIndividualRecurlySubscription)
	meta(name="ol-inviteToken" content=inviteToken)
	meta(name="ol-groupSSOActive" data-type="boolean" content=groupSSOActive)
	meta(name="ol-subscriptionId" data-type="string" content=subscriptionId)

block content
	main.content.content-alt.team-invite#main-content
		.container
			.row
				.col-md-8.col-md-offset-2
					if (expired)
						.alert.alert-warning #{translate("email_link_expired")}

			.row.row-spaced
				.col-md-8.col-md-offset-2.text-center(ng-cloak)
					.card(ng-controller="TeamInviteController")
						.page-header
							h1.text-centered(ng-non-bindable) #{translate("invited_to_group", {inviterName: inviterName, appName: appName})}

						div(ng-show="view =='restrictedByManagedGroup'")
							.alert.alert-info
								strong #{translate("you_cant_join_this_group_subscription")}
								p !{translate("your_account_is_managed_by_admin_cant_join_additional_group", {admin: currentManagedUserAdminEmail}, [{name: 'a', attrs: {href: '/learn/how-to/Understanding_Managed_Overleaf_Accounts'}}])}

						div(ng-show="view =='hasIndividualRecurlySubscription'")
							p #{translate("cancel_personal_subscription_first")}
							.alert.alert-danger(ng-show="cancel_error" ng-cloak) #{translate("something_went_wrong_canceling_your_subscription")}
							p
								a.btn.btn.btn-secondary(ng-click="keepPersonalSubscription()", ng-disabled="inflight") #{translate("not_now")}
								| &nbsp;
								a.btn.btn.btn-primary(ng-click="cancelPersonalSubscription()", ng-disabled="inflight") #{translate("cancel_your_subscription")}

						div(ng-show="view =='teamInvite'")
							p #{translate("join_team_explanation", {appName: appName})}
							if (!expired)
								p
									a.btn.btn-secondary(href="/project") #{translate("not_now")}
									| &nbsp;
									a.btn.btn.btn-primary(ng-click="joinTeam()", ng-disabled="inflight") #{translate("accept_invitation")} 

						div(ng-show="view =='inviteAccepted'")
							- var doneLink = groupSSOActive ? `/subscription/${subscriptionId}/sso_enrollment` : '/project'
							p(ng-non-bindable) #{translate("joined_team", {inviterName: inviterName})}
							p
								a.btn.btn.btn-primary(href=doneLink) #{translate("done")}
