aside.change-list(
	ng-if="history.isV2"
	ng-controller="HistoryV2ListController"
)
	history-entries-list(
		entries="history.updates"
		current-user="user"
		load-entries="loadMore()"
		load-disabled="history.loading || history.atEnd"
		load-initialize="ui.view == 'history'"
		is-loading="history.loading"
		on-entry-select="handleEntrySelect(selectedEntry)"
	)

script(type="text/ng-template", id="historyEntriesListTpl")
	.history-entries(
		infinite-scroll="$ctrl.loadEntries()"
		infinite-scroll-disabled="$ctrl.loadDisabled"
		infinite-scroll-initialize="$ctrl.loadInitialize"
	)
		.infinite-scroll-inner
			history-entry(
				ng-repeat="entry in $ctrl.entries"
				entry="entry"
				current-user="$ctrl.currentUser"
				on-select="$ctrl.onEntrySelect({ selectedEntry: selectedEntry })"
				ng-show="!$ctrl.isLoading"
			)
			.loading(ng-show="$ctrl.isLoading")
				i.fa.fa-spin.fa-refresh
				| &nbsp;&nbsp; #{translate("loading")}...

script(type="text/ng-template", id="historyEntryTpl")
	.history-entry(
		ng-class="{\
			'history-entry-first-in-day': $ctrl.entry.meta.first_in_day,\
			'history-entry-selected': $ctrl.entry.inSelection,\
			'history-entry-selected-to': $ctrl.entry.selectedTo,\
			'history-entry-selected-from': $ctrl.entry.selectedFrom,\
			'history-entry-hover-selected': $ctrl.entry.inHoverSelection,\
			'history-entry-hover-selected-to': $ctrl.entry.hoverSelectedTo,\
			'history-entry-hover-selected-from': $ctrl.entry.hoverSelectedFrom,\
		}"
	)

		time.history-entry-day(ng-if="::$ctrl.entry.meta.first_in_day") {{ ::$ctrl.entry.meta.end_ts | relativeDate }}

		//- div.selectors
		//- 	div.range
		//- 	form
		//- 		input.selector-from(
		//- 			type="radio"
		//- 			name="fromVersion"
		//- 			ng-model="$ctrl.entry.selectedFrom"
		//- 			ng-value="true"
		//- 			ng-mouseover="mouseOverSelectedFrom()"
		//- 			ng-mouseout="mouseOutSelectedFrom()"
		//- 			ng-show="$ctrl.entry.afterSelection || $ctrl.entry.inSelection"
		//- 		)
		//- 	form
		//- 		input.selector-to(
		//- 			type="radio"
		//- 			name="toVersion"
		//- 			ng-model="$ctrl.entry.selectedTo"
		//- 			ng-value="true"
		//- 			ng-mouseover="mouseOverSelectedTo()"
		//- 			ng-mouseout="mouseOutSelectedTo()"
		//- 			ng-show="$ctrl.entry.beforeSelection || $ctrl.entry.inSelection"
				)

		.history-entry-details(ng-click="$ctrl.onSelect({ selectedEntry: $ctrl.entry })")
			ol.history-entry-changes
				li.history-entry-change(
					ng-repeat="pathname in ::$ctrl.entry.pathnames"
				)
					span.history-entry-change-action Edited
					span.history-entry-change-doc {{ ::pathname }}
				li.history-entry-change(
					ng-repeat="project_op in ::$ctrl.entry.project_ops"
				)
					span.history-entry-change-action {{ ::$ctrl.getProjectOpAction(project_op) }}
					span.history-entry-change-doc {{ ::$ctrl.getProjectOpDoc(project_op) }}
			.history-entry-metadata
				time.history-entry-metadata-time {{ ::$ctrl.entry.meta.end_ts | formatDate:'h:mm a' }}
				span &nbsp;&bull;&nbsp;
				ol.history-entry-metadata-users
					li.history-entry-metadata-user(ng-repeat="update_user in ::$ctrl.entry.meta.users")
						span.name(
							ng-if="::update_user && update_user.id != $ctrl.currentUser.id"
							ng-style="$ctrl.getUserCSSStyle(update_user);"
						) {{ ::$ctrl.displayName(update_user) }} 
						span.name(
							ng-if="::update_user && update_user.id == $ctrl.currentUser.id"
							ng-style="$ctrl.getUserCSSStyle(update_user);"
						) You
						span.name(
							ng-if="::update_user == null"
							ng-style="$ctrl.getUserCSSStyle(update_user);"
						) #{translate("anonymous")}
					li.history-entry-metadata-user(ng-if="::$ctrl.entry.meta.users.length == 0")
						span.name(
							ng-style="$ctrl.getUserCSSStyle();"
						) #{translate("anonymous")}