aside.change-list(
	ng-if="history.isV2"
	ng-controller="HistoryV2ListController"
)
	history-entries-list(
		entries="history.updates"
		load-entries="loadMore()"
		load-disabled="history.loading || history.atEnd"
		load-initialize="ui.view == 'history'"
		is-loading="history.loading"
	)


script(type="text/ng-template", id="historyEntriesListTpl")
	div(
		infinite-scroll="$ctrl.loadEntries()"
		infinite-scroll-disabled="$ctrl.loadDisabled"
		infinite-scroll-initialize="$ctrl.loadInitialize"
	)
		.infinite-scroll-inner
			history-entry(
				ng-repeat="entry in $ctrl.entries"
				entry="entry"
			)
			.loading(ng-show="history.loading")
				i.fa.fa-spin.fa-refresh
				| &nbsp;&nbsp; #{translate("loading")}...

script(type="text/ng-template", id="historyEntryTpl")
	.change(
		ng-class="{\
			'first-in-day': $ctrl.entry.meta.first_in_day,\
			'selected': $ctrl.entry.inSelection,\
			'selected-to': $ctrl.entry.selectedTo,\
			'selected-from': $ctrl.entry.selectedFrom,\
			'hover-selected': $ctrl.entry.inHoverSelection,\
			'hover-selected-to': $ctrl.entry.hoverSelectedTo,\
			'hover-selected-from': $ctrl.entry.hoverSelectedFrom,\
		}"
	)

		div.day(ng-show="$ctrl.entry.meta.first_in_day") {{ $ctrl.entry.meta.end_ts | relativeDate }}

		//- div.selectors
		//- 	div.range
		//- 	form
		//- 		input.selector-from(
		//- 			type="radio"
		//- 			name="fromVersion"
		//- 			ng-model="$ctrl.entry.selectedFrom"
		//- 			ng-value="true"
		//- 			ng-mouseover="mouseOverSelectedFrom()"
		//- 			ng-mouseout="mouseOutSelectedFrom()"
		//- 			ng-show="$ctrl.entry.afterSelection || $ctrl.entry.inSelection"
		//- 		)
		//- 	form
		//- 		input.selector-to(
		//- 			type="radio"
		//- 			name="toVersion"
		//- 			ng-model="$ctrl.entry.selectedTo"
		//- 			ng-value="true"
		//- 			ng-mouseover="mouseOverSelectedTo()"
		//- 			ng-mouseout="mouseOutSelectedTo()"
		//- 			ng-show="$ctrl.entry.beforeSelection || $ctrl.entry.inSelection"
				)

		div.description(ng-click="select()")
			div.time {{ $ctrl.entry.meta.end_ts | formatDate:'h:mm a' }}
			div.action.action-edited(ng-if="history.isV2 && $ctrl.entry.pathnames.length > 0")
				| Edited
			div.docs(ng-repeat="pathname in $ctrl.entry.pathnames")
				div 
					.action Edited
					.doc {{ pathname }}
			div.docs(ng-repeat="project_op in $ctrl.entry.project_ops")
				div(ng-if="project_op.rename")
					.action Renamed
					.doc {{ project_op.rename.pathname }} &rarr; {{ project_op.rename.newPathname }}
				div(ng-if="project_op.add")
					.action Created
					.doc {{ project_op.add.pathname }}
				div(ng-if="project_op.remove")
					.action Deleted
					.doc {{ project_op.remove.pathname }}
			div.users
				div.user(ng-repeat="update_user in $ctrl.entry.meta.users")
					.color-square(ng-if="update_user != null", ng-style="{'background-color': 'hsl({{ update_user.hue }}, 70%, 50%)'}")
					.color-square(ng-if="update_user == null", ng-style="{'background-color': 'hsl(100, 70%, 50%)'}")
					.name(ng-if="update_user && update_user.id != user.id" ng-bind="$ctrl.displayName(update_user)") 
					.name(ng-if="update_user && update_user.id == user.id") You
					.name(ng-if="update_user == null") #{translate("anonymous")}
				div.user(ng-if="$ctrl.entry.meta.users.length == 0")
					.color-square(style="background-color: hsl(100, 100%, 50%)")
					span #{translate("anonymous")}