.diff-panel.full-size(
	ng-if="history.isV2 && history.viewMode === HistoryViewModes.COMPARE"
)
	.diff(
		ng-show="!!history.selection.diff && !isHistoryLoading() && !history.selection.diff.error",
		ng-class="{ 'diff-binary': history.selection.diff.binary }"
	)
		.diff-editor-v2.hide-ace-cursor(
			ng-if="!history.selection.diff.binary"
			ace-editor="history",
			theme="settings.editorTheme",
			font-size="settings.fontSize",
			text="history.selection.diff.text",
			highlights="history.selection.diff.highlights",
			read-only="true",
			resize-on="layout:main:resize,history:toggle",
			navigate-highlights="true"
		)
		.alert.alert-info(ng-if="history.selection.diff.binary")
			| We're still working on showing image and binary changes, sorry. Stay tuned!

	.loading-panel(ng-show="isHistoryLoading()")
		i.fa.fa-spin.fa-refresh
		| &nbsp;&nbsp;#{translate("loading")}...
	.error-panel(ng-show="history.selection.diff.error && !isHistoryLoading()")
		.alert.alert-danger #{translate("generic_something_went_wrong")}

.point-in-time-panel.full-size(
	ng-if="history.isV2 && history.viewMode === HistoryViewModes.POINT_IN_TIME"
)
	.point-in-time-editor-container(
		ng-if="!!history.selection.file && !history.selection.file.loading && !history.selection.file.error"
	)
		.hide-ace-cursor(
			ng-if="!history.selection.file.binary"
			ace-editor="history-pointintime",
			theme="settings.editorTheme",
			font-size="settings.fontSize",
			text="history.selection.file.text",
			read-only="true",
			resize-on="layout:main:resize,history:toggle",
		)
		.alert.alert-info(ng-if="history.selection.file.binary")
			| We're still working on showing image and binary changes, sorry. Stay tuned!
	.loading-panel(ng-show="isHistoryLoading()")
		i.fa.fa-spin.fa-refresh
		| &nbsp;&nbsp;#{translate("loading")}...
	.error-panel(ng-show="history.error")
		.alert.alert-danger 
			p
				| #{translate("generic_history_error")} 
				a(
					ng-href="mailto:#{settings.adminEmail}?Subject=Error%20loading%20history%20for%project%20{{ project_id }}",
					ng-non-bindable
				) #{settings.adminEmail}
			p.clearfix
				a.alert-link-as-btn.pull-right(
					href
					ng-click="toggleHistory()"
			) #{translate("back_to_editor")}
	.error-panel(ng-show="history.selection.file.error")
		.alert.alert-danger #{translate("generic_something_went_wrong")}
