extends ../layout

block content
	.content.content-alt
		.container
			.row.template-page-header(ng-controller="SearchController")
				
				.col-md-2
					h2
						a(href="/templates") Templates
				.col-md-8
					form.project-search.form-horizontal(role="form")
						.form-group.has-feedback.has-feedback-left.col-md-12
							input.form-control.col-md-12(type='text', ng-model='searchQueryText', ng-keyup='search()', placeholder="Search template library....")
							i.fa.fa-search.form-control-feedback-left
							i.fa.fa-times.form-control-feedback(
								ng-click="clearSearchText()",
								style="cursor: pointer;",
								ng-show="searchQueryText.length > 0"
							)
				.col-md-12
					ul.list-unstyled
						li(ng-repeat='hit in hits')
							.thumbnail.searchResult
								.row
									a(ng-href='{{hit.url}}')
										.col-md-3
											img(ng-src='{{hit.image_url}}')
										.col-md-7
											h1(ng-bind-html='hit.name')
											p(ng-bind-html='hit.description')




			.row
				-each tag in tags
					-if(tag.totalNumberOfTemplates > 0)
						.template-section-header.col-md-12
							h2 
								a(href=tag.tagPagePath) #{tag.name}
						.row
							-each template in tag.exampleTemplates
								.col-md-3.template-thumbnail
									a(href=template.templatePagePath ? template.templatePagePath : template.canonicalUrl).thumbnail
										img(src=template.thumbnailUrl)
										div.caption
											h3.txt-middle #{template.name}

						-if(tag.totalNumberOfTemplates > 4)
							.row
								.col-md-12.text-center
									a(href=tag.tagPagePath) View all #{tag.totalNumberOfTemplates} #{tag.name} templates »



