extends ../layout

block content
	.content.content-alt
		.container
			.row
				.page-header
					h2
						a(href="/templates") #{translate("templates")}
						|  ›
						a(href=tag.tagPagePath)  #{tag.name}
				.row
					- _.groupBy(templates, function(e, i) { return Math.floor(index/4) });
					//- -each template in templates
					//- 	a(href=template.templatePagePath || template.canonicalUrl) 
					//- 		.col-md-3.template-thumbnail
					//- 			a(href=template.templatePagePath ? template.templatePagePath : template.canonicalUrl).thumbnail
					//- 				img(src=template.thumbnailUrl)
					//- 				div.caption
					//- 					h3 #{template.name}
