extends ../layout-marketing

block content
	main#main-content.content.content-alt
		.container
			.row
				.col-md-10.offset-md-1
					h3 #{entityName} "#{entityId}" does not exist in v2
					form(data-ol-regular-form method='post' action='')
						input(name='_csrf' type='hidden' value=csrfToken)
						button.btn.btn-primary.text-capitalize(
							type='submit'
							data-ol-disabled-inflight
						)
							span(data-ol-inflight='idle') Create #{entityName} in v2
							span(hidden data-ol-inflight='pending') #{translate("creating")}…
