extends ../layout

block content
	mixin projectList(projects)
		-each project in projects
			- project_id = project._id.toString()
			.project_entry(id=project_id)
				.btn-group.project-actions
					a.btn(href='/project/'+project_id+'/restore', data-csrf=csrfToken, data-id=project_id).restoreProject Restore
				.projectName #{project.name}

	include ../general/sidebar

	.content-with-navigation-sidebar
		.box#projectListArea
			.row-fluid
				.span12
					.page-header
						h1 Archived Projects
			- if (projects.length > 0)
				.row-fluid			
					.span9
						ul#projectList
							mixin projectList(projects)


			- else
				.row-fluid			
					.span12 You don't have any archived projects

		include ../general/small-footer

	- locals.supressDefaultJs = true

	script
		window.requirejs = {
			"paths" : {
				"moment": "libs/moment"
			}
		};
	script(
		data-main=jsPath+'list.js?fingerprint='+fingerprint(jsPath + 'list.js'), 
		baseurl=jsPath,
		src=jsPath+'libs/require.js?fingerprint='+fingerprint(jsPath + 'libs/require.js')
	)

