extends ../layout

block vars
	- var suppressNavbar = true
	- var suppressFooter = true
	- var suppressDefaultJs = true

block scripts
	//- Only use the native bootstrap on the editor page,
	//- since we use the Angular-based bootstrap elsewhere.
	//- script(src=jsPath+'libs/bootstrap-3.1.1.js')
	script(src=jsPath+'libs/jquery-layout.js')
	script(src=jsPath+'libs/jquery.storage.js')

block content
	.editor(ng-controller="IdeController")
		.loading-screen(ng-show="state.loading")
			.container
				h3 Loading...
				.progress
					.progress-bar(ng-style="{'width': state.load_progress + '%'}")

		.global-alerts(ng-cloak)
			.alert.alert-danger.small(ng-if="connection.forced_disconnect")
				strong Disconnected
				|  Please refresh the page to continue.

			.alert.alert-warning.small(ng-if="connection.reconnection_countdown")
				strong Lost Connection.
				|  Reconnecting in {{ connection.reconnection_countdown }} secs. 
				a.pull-right(href, ng-click="tryReconnectNow()") Try Now

			.alert.alert-warning.small(ng-if="connection.reconnecting")
				strong Reconnecting...

			.div(ng-controller="SavingNotificationController")
				.alert.alert-warning.small(
					ng-repeat="(doc_id, state) in docSavingStatus"
					ng-if="state.unsavedSeconds > 3"
				)
					| Saving {{ state.doc.name }}... ({{ state.unsavedSeconds }} seconds of unsaved changes)


		include ./editor/left-menu

		#chat-wrapper(
			layout="chat",
			spacing-open="12",
			spacing-closed="0",
			initial-size-east="250",
			init-closed-east="true",
			open-east="ui.chatOpen",
			ng-hide="state.loading",
			ng-cloak
		)
			.ui-layout-center
				include ./editor/header

				include ./editor/share

				#ide-body(ng-cloak, layout="main", ng-hide="state.loading", resize-on="layout:chat:resize")
					.ui-layout-west
						include ./editor/file-tree

					.ui-layout-center
						include ./editor/editor
						include ./editor/binary-file
						include ./editor/track-changes

			.ui-layout-east
				include ./editor/chat

	script(type="text/ng-template", id="genericMessageModalTemplate")
		.modal-header
			button.close(
				type="button"
				data-dismiss="modal"
				ng-click="done()"
			) &times;
			h3 {{ title }}
		.modal-body {{ message }}
		.modal-footer
			button.btn.btn-info(ng-click="done()") OK

	script(src='/socket.io/socket.io.js')

	script(type='text/javascript').
		window.project_id = "!{project_id}"
		window.sharelatex = !{sharelatexObject};
		window.userSettings = !{userSettingsObject};
		window.user = !{userObject};
		window.csrfToken = "!{csrfToken}";
		window.requirejs = {
			"paths" : {
				"underscore": "../libs/underscore-1.3.3",
				"mathjax": "https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS_HTML",
				"moment": "libs/moment-2.4.0",
				"ace": "#{jsPath}ace",
				"libs": "#{jsPath}libs",
				"text": "#{jsPath}text"
			},
			"urlArgs" : "fingerprint=#{fingerprint(jsPath + 'ide.js')}",
			"waitSeconds": 0,
			"shim": {
				"libs/backbone": {
					deps: ["libs/underscore-1.3.3"]
				},
				"libs/pdfListView/PdfListView": {
					deps: ["libs/pdf"]
				},
				"libs/pdf": {
					deps: ["libs/compatibility"]
				}
			}
		};

	script(type='text/javascript').
		ga('send', 'event', 'editor-interaction', 'editor-opened')

	- locals.suppressDefaultJs = true

	- var fingerprintedPath = fingerprint(jsPath+'libs/pdf.worker.js')
	- var pdfJsWorkerPath = jsPath+'libs/pdf.worker.js?fingerprint='+fingerprintedPath
	script(type='text/javascript').
		window.sharelatex.pdfJsWorkerPath = "#{pdfJsWorkerPath}"

	script(
		data-main=jsPath+'app/ide.js',
		baseurl=jsPath,
		data-ace-base=jsPath+'ace',
		src=jsPath+'libs/require.js?fingerprint='+fingerprint(jsPath + 'libs/require.js')
	)

	- if (!anonymous)
		script(type="text/javascript").
			var chatReq = require.config({
				context: "chat",
				baseUrl: "#{chatUrl}/chat"
			});
			chatReq(["require", "chat"], function(require, Chat) {
				new Chat({
					room: {
						project_id: window.userSettings.project_id
					},
					url: "#{chatUrl}"
				})
			});
	

