extends ../layout

block content
	//- We need to do .replace(/\//g, '\\/') do that '</script>' -> '<\/script>'
	//- and doesn't prematurely end the script tag.



	script(type="text/javascript").
		window.data = {
			projects: !{JSON.stringify(projects).replace(/\//g, '\\/')},
			tags: !{JSON.stringify(tags).replace(/\//g, '\\/')},
			notifications: !{JSON.stringify(notifications).replace(/\//g, '\\/')},
			caseStudy: !{JSON.stringify(caseStudyToShow())}
		};
		window.algolia = {
			institutions: {
				app_id:  '#{algolia_app_id}',
				api_key: '#{algolia_api_key}'
			}
		};

	.content.content-alt(ng-controller="ProjectPageController")
		.container
			
			//- div(ng-controller="AnnouncementsController", ng-cloak)
			//- 	.alert.alert-success(ng-show="dataRecived")
			//- 		a(href, ng-click="openLink()") {{title}} and {{totalAnnouncements}} others

			.row(ng-cloak)
				span(ng-if="projects.length > 0")
					aside.col-md-2.col-xs-3
						include ./list/side-bar

					.col-md-10.col-xs-9
						include ./list/notifications
						include ./list/project-list
				
				span(ng-if="projects.length === 0")
					.col-md-offset-2.col-md-8.col-md-offset-2.col-xs-8
						include ./list/empty-project-list

		include ./list/modals