extends ../layout-marketing

block entrypointVar
	- entrypoint = 'pages/project-list'

block vars
	- var suppressNavContentLinks = true

block append meta
	meta(name="ol-usersBestSubscription" data-type="json" content=usersBestSubscription)
	meta(name="ol-notifications" data-type="json" content=notifications)
	meta(name="ol-notificationsInstitution" data-type="json" content=notificationsInstitution)
	meta(name="ol-userEmails" data-type="json" content=userEmails)
	meta(name="ol-allInReconfirmNotificationPeriods" data-type="json" content=allInReconfirmNotificationPeriods)
	meta(name="ol-user" data-type="json" content=user)
	meta(name="ol-reconfirmedViaSAML" content=reconfirmedViaSAML)
	meta(name="ol-survey" data-type="json" content=survey)
	meta(name="ol-tags" data-type="json" content=tags)

block content
	main.content.content-alt.project-list-react#project-list-root
