extends ../layout

block vars
	- metadata = { viewport: true }

block content
	main.content
		.container
			.row
				.col-sm-8.col-sm-offset-2
					h1.text-center Move project to Overleaf v2
					img.v2-import__img(
						src="/img/v1-import/v2-editor.png"
						alt="The new V2 editor."
					)

					if loginRedirect
						p.text-center.row-spaced-small
							| This project has not yet been moved into the new version of
							| Overleaf. You will need to log in and move it in order to
							| continue working on it.

						.row-spaced.text-center
							a.btn.btn-primary(
								href="/login?redir=" + loginRedirect
							) Log In To Move Project
					else
						if hasOwner
							p.text-center.row-spaced-small
								| #[strong(ng-non-bindable) #{name}] has not yet been moved into
								| the new version of Overleaf. You will need to move it in order
								| to continue working on it. It should only take a few seconds.

							form(
								async-form="v2Import"
								name="v2ImportForm"
								action="/overleaf/project/"+ projectId + "/import"
								method="POST"
								ng-cloak
							)
								input(name='_csrf', type='hidden', value=csrfToken)
								form-messages(for="v2ImportForm")
								input.row-spaced.btn.btn-primary.text-center.center-block(
									type="submit"
									ng-value="v2ImportForm.inflight || v2ImportForm.response.success ? 'Moving to v2...' : 'Move Project and Continue'"
									ng-disabled="v2ImportForm.inflight || v2ImportForm.response.success"
								)

							.row-spaced-small.text-center
								a(href="/overleaf/project/" + projectId + "/download/zip") Download project zip file
						else
							p.text-center.row-spaced.small
								| #[strong(ng-non-bindable) #{name}] has not yet been moved into
								| the new version of Overleaf. This project was created
								| anonymously and therefore cannot be automatically imported.
								| Please download a zip file of the project and upload that to
								| continue editing it. If you would like to delete this project
								| after you have made a copy, please contact support.

							.row-spaced.text-center
								a.btn.btn-primary(href="/overleaf/project/" + projectId + "/download/zip") Download project zip file

					.row-spaced.text-center
						if hasAssignment
							p
								| #[span.fa.fa-exclamation-triangle]
								| This project is an assignment, and the assignment toolkit is
								| no longer supported in Overleaf v2. When you move it to
								| Overleaf v2, it will become a normal project.
								| #[a(href="https://www.overleaf.com/learn/how-to/Overleaf_v2_FAQ#assignment-tools") Please see our FAQ]
								| for more information or contact your instructor if you haven't
								| already submitted it.
						else if brandInfo == 'f1000'
							p
								| #[span.fa.fa-exclamation-triangle]
								| This project is an F1000Research article, and our integration
								| with F1000Research has changed in Overleaf v2.
								| #[a(href="https://www.overleaf.com/learn/how-to/Overleaf_v2_FAQ#f1000research") Find out more about moving to Overleaf v2]
						else if brandInfo == 'wellcome'
							p
								| #[span.fa.fa-exclamation-triangle]
								| This project is an Wellcome Open Research article, and our
								| integration with Wellcome Open Research has changed in
								| Overleaf v2.
								| #[a(href="https://www.overleaf.com/learn/how-to/Overleaf_v2_FAQ#f1000research") Find out more about moving to Overleaf v2]
						else
							a(href="https://www.overleaf.com/learn/how-to/Overleaf_v2_FAQ")
								| Find out more about moving to Overleaf v2
