.faq.plans-v2-faq
	.row.row-spaced-large
		.col-md-12
			.page-header.plans-header.plans-subheader.text-centered
				h2 FAQ
	.row
		.col-md-12
			h3 #{translate('faq_what_is_the_difference_between_users_and_collaborators_question')}
			p !{translate('faq_what_is_the_difference_between_users_and_collaborators_answer_first_paragraph', {}, [{name: 'strong'}])}
			br
			p #{translate('faq_what_is_the_difference_between_users_and_collaborators_answer_second_paragraph')}
	.row
		.col-md-12
			h3 #{translate('faq_do_collab_need_on_paid_plan_question')}
			p !{translate('faq_do_collab_need_on_paid_plan_answer', {}, [{ name: 'a', attrs: { href: "/learn/how-to/Overleaf_Accounts_and_Subscriptions", target: '_blank'}}, { name: 'a', attrs: { href: "/learn/how-to/Overleaf_premium_features", target: '_blank'}}])}
	.row
		.col-md-12
			h3 #{translate('faq_i_have_free_account_want_subscription_how_question')}
			p !{translate('faq_i_have_free_account_want_subscription_how_answer_first_paragraph', {}, [{ name: 'a', attrs: { href: "/for/universities", target: '_blank'}}])}
			br
			p !{translate('faq_i_have_free_account_want_subscription_how_answer_second_paragraph', {}, [{ name: 'a', attrs: { href: "/learn/how-to/Overleaf_Accounts_and_Subscriptions", target: '_blank'}}])}
	.row
		.col-md-12
			h3 #{translate('faq_the_individual_standard_plan_10_collab_question')}
			p #{translate('faq_the_individual_standard_plan_10_collab_first_paragraph')}
			br
			p !{translate('faq_the_individual_standard_plan_10_collab_second_paragraph', {}, [{ name: 'a', attrs: { href: "/learn/how-to/Overleaf_premium_features#Account_and_project_level_features", target: '_blank'}}])}
	.row
		.col-md-12
			h3 #{translate('faq_how_does_a_group_plan_work_question')}
			p !{translate('faq_how_does_a_group_plan_work_answer', {}, [{ name: 'a', attrs: { href: "/learn/how-to/Joining_an_Overleaf_Group_Subscription", target: '_blank'}}, { name: 'a', attrs: { href: "/learn/how-to/Managing_a_group_subscription", target: '_blank'}}, { name: 'a', attrs: { href: "/contact", target: '_blank'}}])}
	.row
		.col-md-12
			h3 #{translate('faq_how_free_trial_works_question')}
			p #{translate('faq_how_free_trial_works_answer_v2', { len:'7' })}
	.row
		.col-md-12
			h3 #{translate('faq_change_plans_or_cancel_question')}
			p #{translate('faq_change_plans_or_cancel_answer')}
	.row
		.col-md-12
			h3 #{translate('faq_pay_by_invoice_question')}
			p #{translate('faq_pay_by_invoice_answer_v2')}
