mixin managingYourSubscription()
	.ol-accordions-container
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#managingYourSubscriptionQ1" aria-expanded="false" aria-controls="managingYourSubscriptionQ1")
				| Can I change plans or cancel later?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="managingYourSubscriptionQ1")
				.custom-accordion-body
					span Yes, you can do this at any time by going to 
					strong Account > Subscription 
					span when logged in to Overleaf. You can change plans, switch between monthly and annual billing options, or cancel to downgrade to the free plan. When canceling, your subscription will continue until the end of the billing period.
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#managingYourSubscriptionQ2" aria-expanded="false" aria-controls="managingYourSubscriptionQ2")
				| If I change or cancel my Overleaf plan, will I lose my projects?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="managingYourSubscriptionQ2")
				.custom-accordion-body
					| No. Changing or canceling your plan won’t affect your projects, the only change will be to the features available to you. You can see which features are available only on paid plans in the comparison table.
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#managingYourSubscriptionQ3" aria-expanded="false" aria-controls="managingYourSubscriptionQ3")
				| Can I pay by invoice or purchase order?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="managingYourSubscriptionQ3")
				.custom-accordion-body
					| This is possible when you’re purchasing a group subscription for five or more people, or a site license. For individual subscriptions, we can only accept payment online via credit card, debit card, or PayPal.
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#managingYourSubscriptionQ4" aria-expanded="false" aria-controls="managingYourSubscriptionQ4")
				| How do I view/update the credit card being charged for my subscription?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="managingYourSubscriptionQ4")
				.custom-accordion-body
					| You can view and update the card on file by going to Account > 
					a.inline-green-link(
						target="_blank"
						href="/user/subscription"
						event-tracking="plans-page-click"
						event-tracking-mb="true"
						event-tracking-trigger="click"
						event-segmentation={ button: 'contact', location: 'faq' }
					)
						span Subscription
					| .




mixin overleafIndividualPlans()
	.ol-accordions-container
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafIndividualPlansQ1" aria-expanded="false" aria-controls="overleafIndividualPlansQ1")
				| How does the free trial work?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafIndividualPlansQ1")
				.custom-accordion-body
					span You get full access to your chosen plan during your 7-day free trial, and there’s no obligation to continue beyond the trial. Your card will be charged at the end of your trial unless you cancel before then. To cancel, go to 
					strong Account > 
						a.inline-green-link(
							target="_blank"
							href="/user/subscription"
							event-tracking="plans-page-click"
							event-tracking-mb="true"
							event-tracking-trigger="click"
							event-segmentation={ button: 'contact', location: 'faq' }
						)
							span Subscription
					span  when logged in to Overleaf (the trial will continue for the full 7 days).

		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafIndividualPlansQ2" aria-expanded="false" aria-controls="overleafIndividualPlansQ2")
				| What’s a collaborator on an Overleaf individual subscription?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafIndividualPlansQ2")
				.custom-accordion-body
					| A collaborator is someone you invite to work with you on a project. So, for example, on our Standard plan you can have up to 10 people collaborating with you on any given project. 

		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafIndividualPlansQ3" aria-expanded="false" aria-controls="overleafIndividualPlansQ3")
				| The individual Standard plan has 10 project collaborators, does it mean that 10 people will be upgraded?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafIndividualPlansQ3")
				.custom-accordion-body
					span No. Only the subscriber’s account will be upgraded. An individual Standard subscription allows you to invite 10 people per project to edit the project with you. Your collaborators can access features such as the full document history and extended compile time, but 
					strong only 
					span for the project(s) they’re working on with you. If your collaborators want access to those features on their own projects, they will need to purchase their own subscription. (If you work with the same people regularly, you might find a group subscription more cost effective.)
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafIndividualPlansQ4" aria-expanded="false" aria-controls="overleafIndividualPlansQ4")
				| Do collaborators also have access to the editing and collaboration features I’ve paid for?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafIndividualPlansQ4")
				.custom-accordion-body
					span If you have an Overleaf subscription, then your project collaborators will have access to features like real-time track changes and document history, but 
					strong only 
					span for the project(s) they’re working on with you. If your collaborators want access to those features on their own projects, they will need to purchase their own subscription. (If you work with the same people regularly, you might find a group subscription more cost effective.)
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafIndividualPlansQ5" aria-expanded="false" aria-controls="overleafIndividualPlansQ5")
				| Can I purchase an individual plan on behalf of someone else?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafIndividualPlansQ5")
				.custom-accordion-body
					| Individual subscriptions must be purchased by the account that will be the end user. If you want to purchase a plan for someone else, you’ll need to provide them with relevant payment details to enable them to make the purchase. 
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafIndividualPlansQ6" aria-expanded="false" aria-controls="overleafIndividualPlansQ6")
				| Who is eligible for the Student plan?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafIndividualPlansQ6")
				.custom-accordion-body
					| As the name suggests, the Student plan is only for students at educational institutions. This includes graduate students.
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafIndividualPlansQ7" aria-expanded="false" aria-controls="overleafIndividualPlansQ7")
				| Can I transfer an individual subscription to someone else?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafIndividualPlansQ7")
				.custom-accordion-body
					| No. Individual plans can’t be transferred. 





mixin overleafGroupPlans()
	.ol-accordions-container
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafGroupPlansQ1" aria-expanded="false" aria-controls="overleafGroupPlansQ1")
				| What’s the difference between users and collaborators on an Overleaf group subscription?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafGroupPlansQ1")
				.custom-accordion-body
					div On any of our group plans, the number of users refers to the number of people you can invite to join your group. All of these people will have access to the plan’s paid-for features across all their projects, such as real-time track changes and document history. 
					div.mt-2 Collaborators are people that your group users may invite to work with them on their projects. So, for example, if you have the Group Standard plan, the users in your group can invite up to 10 people to work with them on a project. And if you have the Group Professional plan, your users can invite as many people to work with them as they want.
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafGroupPlansQ2" aria-expanded="false" aria-controls="overleafGroupPlansQ2")
				| What is the benefit of purchasing an Overleaf Group plan?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafGroupPlansQ2")
				.custom-accordion-body
					| Our Group subscriptions allow you to purchase access to our premium features for multiple people. They’re easy to manage, help save on paperwork, and allow groups of 5 or more to purchase via purchase order (PO). We also offer discounts on purchases of Group subscriptions for more than 50 users; just get in touch with our 
					a.inline-green-link(
						target="_blank"
						href="/for/contact-sales"
						event-tracking="plans-page-click"
						event-tracking-mb="true"
						event-tracking-trigger="click"
						event-segmentation={ button: 'contact', location: 'faq' }
					)
						span Sales team
					| .
		.custom-accordion-item
			button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafGroupPlansQ3" aria-expanded="false" aria-controls="overleafGroupPlansQ3")
				| Who is eligible for the educational discount?
				span.custom-accordion-icon
					i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
			.collapse(id="overleafGroupPlansQ3")
				.custom-accordion-body
					| The educational discount for group subscriptions is for students or faculty who are using Overleaf primarily for teaching. 
		if canUseFlexibleLicensing
			.custom-accordion-item
				button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafGroupPlansQ4" aria-expanded="false" aria-controls="overleafGroupPlansQ4")
					| How do I add more licenses to my group subscription, and what will it cost?
					span.custom-accordion-icon
						i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
				.collapse(id="overleafGroupPlansQ4")
					.custom-accordion-body
						div 
							| You can add up to 50 licenses using the 
							a.inline-green-link(
								target="_blank"
								href="/user/subscription"
								event-tracking="plans-page-click"
								event-tracking-mb="true"
								event-tracking-trigger="click"
								event-segmentation={ button: 'contact', location: 'faq' }
							)
								span subscription management page
							|  accessed by going to Account > 
							a.inline-green-link(
								target="_blank"
								href="/user/subscription"
								event-tracking="plans-page-click"
								event-tracking-mb="true"
								event-tracking-trigger="click"
								event-segmentation={ button: 'contact', location: 'faq' }
							)
								span Subscription
							|  when logged into Overleaf. The cost per license will be prorated at the current per license rate, and will end with your existing renewal date.
						div.mt-2 
							| If you need more than 50 licenses added to your subscription, please 
							a.inline-green-link(
								target="_blank"
								href="/for/contact-sales"
								event-tracking="plans-page-click"
								event-tracking-mb="true"
								event-tracking-trigger="click"
								event-segmentation={ button: 'contact', location: 'faq' }
							)
								span contact the Sales team
							| .
			.custom-accordion-item
				button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafGroupPlansQ5" aria-expanded="false" aria-controls="overleafGroupPlansQ5")
					| How do I upgrade my plan from Group Standard to Group Professional?
					span.custom-accordion-icon
						i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
				.collapse(id="overleafGroupPlansQ5")
					.custom-accordion-body
						| You can upgrade your plan from Group Standard to Group Professional on the 
						a.inline-green-link(
							target="_blank"
							href="/user/subscription"
							event-tracking="plans-page-click"
							event-tracking-mb="true"
							event-tracking-trigger="click"
							event-segmentation={ button: 'contact', location: 'faq' }
						)
							span subscription management page
						| .	
		else
			.custom-accordion-item
				button.custom-accordion-header.collapsed(type="button" data-toggle="collapse" data-target="#overleafGroupPlansQ4" aria-expanded="false" aria-controls="overleafGroupPlansQ4")
					| Can I add more users to my group subscription at a later date?
					span.custom-accordion-icon
						i.material-symbols.material-symbols-outlined(aria-hidden="true") keyboard_arrow_down
				.collapse(id="overleafGroupPlansQ4")
					.custom-accordion-body
						| Yes. To add more users to your subscription you’ll need to 
						button.btn-link.inline-green-link(data-ol-open-contact-form-modal="general")
							span #{translate("contact_us")}