div.binary-file.full-size(
	ng-controller="BinaryFileController"
	ng-show="ui.view == 'file'"
	ng-if="openFile"
)

	include ./binary-file-header

	img(
		ng-show="!failedLoad"
		ng-src="/project/{{ project_id }}/file/{{ openFile.id }}"
		ng-if="isImageFile()"
		ng-class="{'img-preview': !imgLoaded}"
		onerror="sl_binaryFilePreviewError()"
		onabort="sl_binaryFilePreviewError()"
		onload="sl_binaryFilePreviewLoaded()"
	)

	img(
		ng-show="!failedLoad"
		ng-src="/project/{{ project_id }}/file/{{ openFile.id }}?format=png"
		ng-if="isPreviewableFile()"
		ng-class="{'img-preview': !imgLoaded}"
		onerror="sl_binaryFilePreviewError()"
		onabort="sl_binaryFilePreviewError()"
		onload="sl_binaryFilePreviewLoaded()"
	)
	
	div(ng-if="isTextFile() && !textPreview.error")
		div.text-loading(ng-show="textPreview.loading && !textPreview.error")
			| #{translate('loading')}...
		div.text-preview(ng-show="textPreview.data && !textPreview.loading && !textPreview.error")
			div.scroll-container
				p
					| {{ textPreview.data }}
				p(ng-show="textPreview.shouldShowDots")
					| ...

	p.no-preview(
		ng-if="failedLoad || textPreview.error || isUnpreviewableFile()"
	) #{translate("no_preview_available")}
