aside.chat(
	ng-controller="ReactChatController"
)
	chat(
		at-end="atEnd"
		loading="loading"
		load-more-messages="loadMoreMessages"
		messages="messages"
		reset-unread-messages="resetUnreadMessages"
		send-message="sendMessage"
		user-id="userId"
	)
