script(type="text/ng-template", id="dropboxModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("dropbox_sync")}
	.modal-body.modal-body-share

		div(ng-show="dbState.gotLinkStatus")
			div(ng-hide="dbState.userIsLinkedToDropbox || !dbState.hasDropboxFeature")

				span(ng-hide="dbState.startedLinkProcess") #{translate("account_not_linked_to_dropbox")}
					| &nbsp; &nbsp;
					a(ng-click="linkToDropbox()").btn.btn-info #{translate("update_dropbox_settings")}

				p.small.text-center(ng-show="dbState.startedLinkProcess")
					| #{translate("refresh_page_after_starting_free_trial")}


			div(ng-show="dbState.hasDropboxFeature && dbState.userIsLinkedToDropbox")
				progressbar.progress-striped.active(value='dbState.percentageLeftTillNextPoll', type="info")
				p
					strong {{dbState.minsTillNextPoll}} #{translate("minutes")} 
					span #{translate("until_db_checked_for_changes")}
				p.small
					| #{translate("this_project_will_appear_in_your_dropbox_folder_at")}
					strong Dropbox/sharelatex/{{ project.name }}
			div.text-center(ng-hide="dbState.hasDropboxFeature")
				p #{translate("need_to_upgrade_for_dropbox")}
				p
					a.btn.btn-info(ng-click="startFreeTrial('dropbox')") #{translate("start_free_trial")}
				p.small(ng-show="startedFreeTrial")
					| #{translate("refresh_page_after_starting_free_trial")}

		div(ng-hide="dbState.gotLinkStatus")
			i.fa.fa-refresh.fa-spin 
			span.small &nbsp; #{translate("checking_dropbox_status")}

	.modal-footer()
		button.btn.btn-default(
			ng-click="cancel()",
		)
			span #{translate("dismiss")}
