div.full-size(
	ng-show="ui.view == 'editor'"
	layout="pdf"
	layout-disabled="ui.pdfLayout != 'sideBySide'"
	mask-iframes-on-resize="true"
	resize-on="layout:main:resize"
	resize-proportionally="true"
	initial-size-east="'50%'"
	minimum-restore-size-east="300"
)
	.ui-layout-center(ng-controller="ReviewPanelController", ng-class="{'has-review-panel': ui.reviewPanelOpen}")
		.loading-panel(ng-show="!editor.sharejs_doc || editor.opening")
			span(ng-show="editor.open_doc_id")
				i.fa.fa-spin.fa-refresh
				| &nbsp;&nbsp;#{translate("loading")}...
			span(ng-show="!editor.open_doc_id")
				i.fa.fa-arrow-left
				| &nbsp;&nbsp;#{translate("open_a_file_on_the_left")}

		#editor(
			ace-editor="editor",
			ng-show="!!editor.sharejs_doc && !editor.opening"
			theme="settings.theme",
			keybindings="settings.mode",
			font-size="settings.fontSize",
			auto-complete="settings.autoComplete",
			spell-check="!anonymous",
			spell-check-language="project.spellCheckLanguage",
			highlights="onlineUserCursorHighlights[editor.open_doc_id]"
			show-print-margin="false",
			sharejs-doc="editor.sharejs_doc",
			last-updated="editor.last_updated",
			cursor-position="editor.cursorPosition",
			goto-line="editor.gotoLine",
			resize-on="layout:main:resize,layout:pdf:resize,layout:review:resize,reviewPanel:toggle",
			annotations="pdf.logEntryAnnotations[editor.open_doc_id]",
			read-only="!permissions.write",
			file-name="editor.open_doc_name",
			on-ctrl-enter="recompileViaKey",
			syntax-validation="settings.syntaxValidation",
			review-panel="reviewPanel",
			on-scroll="onScroll",
			scroll-events="scrollEvents",
			track-changes-enabled="trackChangesFeatureFlag"
			track-new-changes= "reviewPanel.trackNewChanges"
		)
		#review-panel
			.review-panel-toolbar
				| Track Changes 
				input(type="checkbox", ng-model="reviewPanel.trackNewChanges")
			.review-panel-scroller
				.rp-entry-list(review-panel-sorted)
					.rp-entry-wrapper(
						ng-repeat="(entry_id, entry) in reviewPanel.entries"
					)
						.rp-entry-callout(
							ng-class="'rp-entry-callout-' + entry.type"
							style="top: {{ entry.screenPos.y + 15 }}px; height: {{ top - entry.screenPos.y }}px"
						)
						.rp-entry(
							ng-class="'rp-entry-' + entry.type"
							ng-style="{'top': top}"
						)
							div(ng-if="entry.type == 'insert' || entry.type == 'delete'")
								.rp-entry-header
									.rp-entry-action-icon(ng-switch="entry.type")
										i.fa.fa-pencil(ng-switch-when="insert")
										i.rp-icon-delete(ng-switch-when="delete")

									.rp-entry-metadata
										{{ users[entry.metadata.user_id].name }} {{ entry.metadata.ts }}
									.rp-entry-avatar(style="background-color: hsl({{ users[entry.metadata.user_id].hue }}, 70%, 50%);") {{ users[entry.metadata.user_id].avatar_text }}
								.rp-entry-body
									{{ entry.content }}
								.rp-entry-actions

							div(ng-if="entry.type == 'comment'")
								div(ng-repeat="comment in entry.thread", class="comment-thread__comment")
									div.small(style="color: hsl({{ users[comment.user_id].hue }}, 70%, 50%)") {{ users[comment.user_id].name }}
									div.small {{ comment.ts }}
									| {{ comment.content }}
								div(ng-if="entry.replying")
									textarea(ng-model="entry.replyContent")
									a.btn.btn-sm.btn-primary(href, ng-click="submitReply(entry)") Submit
									a(href, ng-click="cancelReply(entry)") X
								a.btn.btn-sm.btn-primary(href, ng-click="startReply(entry)", ng-if="!entry.replying") Reply
							div(ng-if="entry.type == 'focus-position'")
								a.btn.btn-sm(href, ng-if="!commentState.adding", ng-click="startNewComment()") Add comment
								div(ng-if="commentState.adding")
									textarea(ng-model="commentState.content")
									a.btn.btn-sm.btn-primary(href, ng-click="submitNewComment()") Submit
									a(href, ng-click="cancelNewComment()") X

	.ui-layout-east
		div(ng-if="ui.pdfLayout == 'sideBySide'")
			include ./pdf

	.ui-layout-resizer-controls.synctex-controls(
		ng-show="!!pdf.url && settings.pdfViewer == 'pdfjs'"
		ng-controller="PdfSynctexController"
	)
		a.btn.btn-default.btn-xs(
			tooltip="#{translate('go_to_code_location_in_pdf')}"
			tooltip-placement="right"
			tooltip-append-to-body="true"
			ng-click="syncToPdf()"
		)
			i.fa.fa-long-arrow-right
		br
		a.btn.btn-default.btn-xs(
			tooltip-html="'#{translate('go_to_pdf_location_in_code')}'"
			tooltip-placement="right"
			tooltip-append-to-body="true"
			ng-click="syncToCode()"
		)
			i.fa.fa-long-arrow-left
			
div.full-size(
	ng-if="ui.pdfLayout == 'flat'"
	ng-show="ui.view == 'pdf'"
)
	include ./pdf
	