div.full-size(ng-show="ui.view == 'editor'")
	.loading-panel(ng-show="!editor.sharejs_doc || editor.opening")
		i.fa.fa-spin.fa-refresh
		| &nbsp;&nbsp;Loading...

	#editor(
		ace-editor,
		ng-show="!!editor.sharejs_doc && !editor.opening"
		theme="settings.theme",
		keybindings="settings.mode",
		font-size="settings.fontSize",
		auto-complete="settings.autoComplete",
		spell-check-language="project.spellCheckLanguage",
		annotations="onlineUserCursorAnnotations[editor.open_doc_id]"
		show-print-margin="false",
		sharejs-doc="editor.sharejs_doc",
		last-updated="editor.last_updated",
		cursor-position="editor.cursorPosition"
	)