.ui-layout-center(
		ng-controller="ReviewPanelController",
		ng-class="{\
			'rp-unsupported': editor.showRichText,\
			'rp-state-current-file': (reviewPanel.subView === SubViews.CUR_FILE),\
			'rp-state-current-file-expanded': (reviewPanel.subView === SubViews.CUR_FILE && ui.reviewPanelOpen),\
			'rp-state-current-file-mini': (reviewPanel.subView === SubViews.CUR_FILE && !ui.reviewPanelOpen),\
			'rp-state-overview': (reviewPanel.subView === SubViews.OVERVIEW),\
			'rp-size-mini': ui.miniReviewPanelVisible,\
			'rp-size-expanded': ui.reviewPanelOpen,\
			'rp-layout-left': reviewPanel.layoutToLeft,\
			'rp-loading-threads': loadingThreads,\
		}"
	)

		.multi-selection-ongoing(
			ng-show="editor.multiSelectedCount > 0"
		)
			.multi-selection-message
				h4 {{ editor.multiSelectedCount }} #{translate('files_selected')}

		include ./file-view

		.editor-container.full-size(
			ng-show="ui.view == 'editor' && editor.multiSelectedCount === 0"
			vertical-resizable-panes="south-pane-resizer"
			vertical-resizable-panes-hidden-externally-on="south-pane-toggled"
			vertical-resizable-panes-hidden-initially="true"
			vertical-resizable-panes-default-size="250"
			vertical-resizable-panes-min-size="250"
			vertical-resizable-panes-max-size="336"
			vertical-resizable-panes-resize-on="layout:flat-screen:toggle,south-pane-toggled"
		)
			.div(vertical-resizable-top)

				.loading-panel(
					ng-show="(!editor.sharejs_doc || editor.opening) && !editor.error_state",
					style=showRichText ? "top: 32px" : "",
				)
					span(ng-show="editor.open_doc_id")
						i.fa.fa-spin.fa-refresh
						| &nbsp;&nbsp;#{translate("loading")}…
					span(ng-show="!editor.open_doc_id")
						i.fa.fa-arrow-left
						| &nbsp;&nbsp;#{translate("open_a_file_on_the_left")}

				if moduleIncludesAvailable('editor:main')
					!= moduleIncludes('editor:main', locals)
				else
					.toolbar.toolbar-editor

				div(ng-if="editor.newSourceEditor")
					include ../../source-editor/source-editor
				div(ng-if="!editor.newSourceEditor")
					include ./source-editor

				if !isRestrictedTokenMember
							include ./review-panel

			if moduleIncludesAvailable('editor:symbol-palette') || moduleIncludesAvailable('editor:galileo')
				.div(vertical-resizable-bottom)
					if moduleIncludesAvailable('editor:symbol-palette')
						!= moduleIncludes('editor:symbol-palette', locals)
					if moduleIncludesAvailable('editor:galileo')
						!= moduleIncludes('editor:galileo', locals)
