div.full-size(
	ng-show="ui.view == 'editor'"
	layout="pdf"
	resize-on="layout:main:resize"
)
	.ui-layout-center
		.loading-panel(ng-show="!editor.sharejs_doc || editor.opening")
			i.fa.fa-spin.fa-refresh
			| &nbsp;&nbsp;Loading...

		#editor(
			ace-editor,
			ng-show="!!editor.sharejs_doc && !editor.opening"
			theme="settings.theme",
			keybindings="settings.mode",
			font-size="settings.fontSize",
			auto-complete="settings.autoComplete",
			spell-check-language="project.spellCheckLanguage",
			highlights="onlineUserCursorHighlights[editor.open_doc_id]"
			show-print-margin="false",
			sharejs-doc="editor.sharejs_doc",
			last-updated="editor.last_updated",
			cursor-position="editor.cursorPosition",
			goto-line="editor.gotoLine",
			resize-on="layout:main:resize,layout:pdf:resize",
			annotations="pdf.logEntryAnnotations[editor.open_doc_id]"
		)

	.ui-layout-east
		include ./pdf

	.ui-layout-resizer-controls.synctex-controls(
		ng-show="!!pdf.url && settings.pdfViewer == 'pdfjs' && showControls"
		ng-controller="PdfSynctexController"
	)
		a.btn.btn-default.btn-xs(
			tooltip="Go to code location in PDF"
			tooltip-placement="right"
			tooltip-append-to-body="true"
			ng-click="syncToPdf()"
		)
			i.fa.fa-long-arrow-right
		br
		a.btn.btn-default.btn-xs(
			tooltip-html-unsafe="Go to PDF location in code<br/>(or double click PDF)"
			tooltip-placement="right"
			tooltip-append-to-body="true"
			ng-click="syncToCode()"
		)
			i.fa.fa-long-arrow-left