div.full-size(
	ng-show="ui.view == 'editor' || ui.view === 'file'"
	layout="pdf"
	layout-disabled="ui.pdfLayout != 'sideBySide'"
	mask-iframes-on-resize="true"
	resize-on="layout:main:resize"
	resize-proportionally="true"
	initial-size-east="'50%'"
	minimum-restore-size-east="300"
	allow-overflow-on="'center'"
	custom-toggler-pane=hasFeature('custom-togglers') ? "east" : false
	custom-toggler-msg-when-open=hasFeature('custom-togglers') ? translate("tooltip_hide_pdf") : false
	custom-toggler-msg-when-closed=hasFeature('custom-togglers') ? translate("tooltip_show_pdf") : false
)
	include ./editor-pane

	.ui-layout-east
		div(ng-if="ui.pdfLayout == 'sideBySide'")
			pdf-preview()

	.ui-layout-resizer-controls.synctex-controls(
		ng-show="settings.pdfViewer !== 'native'"
	)
		pdf-synctex-controls()

div.full-size(
	ng-if="ui.pdfLayout == 'flat'"
	ng-show="ui.view == 'pdf'"
)
	pdf-preview()

// fallback, shown when no file/view is selected
div.full-size.no-file-selection(
	ng-if="!ui.view"
)
	.no-file-selection-message(
		ng-if="rootFolder.children && rootFolder.children.length > 0"
	)
		h3
			| #{translate('no_selection_select_file')}
	.no-file-selection-message(
		ng-if="rootFolder.children && rootFolder.children.length === 0"
	)
		h3
			| #{translate('no_selection_create_new_file')}
		div(
			ng-controller="FileTreeController"
		)
			button.btn.btn-primary(
				ng-click="openNewDocModal()"
			)
				| #{translate('new_file')}

