div(ng-controller="ReactShareProjectModalController")
	share-project-modal(
		handle-hide="handleHide"
		show="show"
		is-project-owner="isProjectOwner"
	)
		
	div(ng-controller="EditorNavigationToolbarController")
		editor-navigation-toolbar-root(
			open-doc="openDoc"
			online-users-array="onlineUsersArray"
			open-share-project-modal="openShareProjectModal"
		)
