header.toolbar.toolbar-header(ng-cloak, ng-hide="state.loading")
	a.btn.btn-full-height(
		href,
		ng-click="ui.leftMenuShown = true"
		tooltip="Menu",
		tooltip-placement="bottom",
		tooltip-append-to-body="true"
	)
		i.fa.fa-fw.fa-bars
	a(
		href="/project"
		tooltip="Back to projects",
		tooltip-placement="bottom",
		tooltip-append-to-body="true"
	)
		i.fa.fa-fw.fa-level-up

	.toolbar-center.project-name(ng-controller="ProjectNameController")
		span.name(
			ng-dblclick="startRenaming()",
			ng-show="!state.renaming"
		) {{ project.name }}

		input.form-control(
			type="text"
			ng-model="inputs.name",
			ng-show="state.renaming",
			on-enter="finishRenaming()",
			ng-blur="finishRenaming()",
			select-name-when="state.renaming"
		)

		a.rename(
			href='#',
			tooltip-placement="bottom",
			tooltip="Rename",
			tooltip-append-to-body="true",
			ng-click="startRenaming()",
			ng-show="!state.renaming"
		)
			i.fa.fa-pencil

	.toolbar-right
		span.online-users(
			ng-show="onlineUsersArray.length > 0"
			ng-controller="OnlineUsersController"
		)
			span.online-user(
				ng-repeat="user in onlineUsersArray",
				ng-style="{ 'background-color': 'hsl({{ getHueForUserId(user.user_id) }}, 70%, 50%)' }",
				popover="{{ user.name }}"
				popover-placement="bottom"
				popover-append-to-body="true"
				popover-trigger="mouseenter"
				ng-click="gotoUser(user)"
			) {{ user.name.slice(0,1) }}
	
		a.btn.btn-full-height(
			href,
			ng-if="permissions.admin",
			tooltip="Share",
			tooltip-placement="bottom",
			ng-click="openShareProjectModal()",
			ng-controller="ShareController"
		)
			i.fa.fa-fw.fa-group
		a.btn.btn-full-height(
			href,
			ng-click="toggleTrackChanges()",
			ng-class="{ active: (ui.view == 'track-changes') }"
			tooltip="Recent Changes",
			tooltip-placement="bottom"
		)
			i.fa.fa-fw.fa-history
		a.btn.btn-full-height(
			href,
			tooltip="Chat",
			tooltip-placement="bottom",
			ng-class="{ active: ui.chatOpen }",
			ng-click="toggleChat()",
			ng-controller="ChatButtonController",
			ng-show="!anonymous"
		)
			i.fa.fa-fw.fa-comment(
				ng-class="{ 'bounce': unreadMessages > 0 }"
			)
			span.label.label-info(
				ng-show="unreadMessages > 0"
			) {{ unreadMessages }}