aside#left-menu.full-size(
	ng-class="{ 'shown': ui.leftMenuShown }"
	ng-cloak
)
	h4 Download

	ul.list-unstyled.nav.nav-downloads
		li
			a(
				ng-href="/project/{{project_id}}/download/zip"
				target="_blank"
			)
				i.fa.fa-file-archive-o.fa-2x
				br
				| Source
		li
			a(
				ng-href="{{pdf.url}}"
				target="_blank"
				ng-if="pdf.url"
			)
				i.fa.fa-file-pdf-o.fa-2x
				br
				| PDF
			div.pdf-disabled(
				ng-if="!pdf.url"
				tooltip="Please compile your project before downloading the PDF"
				tooltip-placement="bottom"
			)
				i.fa.fa-file-pdf-o.fa-2x
				br
				| PDF

	h4 Settings
	form.settings(ng-controller="SettingsController")
		.containter-fluid
			.form-controls
				label(for="compiler") Compiler
				select(
					name="compiler"
					ng-model="project.compiler"
				)
					option(value='pdflatex') pdfLaTeX
					option(value='latex') LaTeX
					option(value='xelatex') XeLaTeX
					option(value='lualatex') LuaLaTeX

			.form-controls
				label(for="spellCheckLanguage") Spell Check
				select(
					name="spellCheckLanguage"
					ng-model="project.spellCheckLanguage"
				)
					option(value="") Off
					optgroup(label="Language")
						for language in languages
							option(
								value=language.code
							)= language.name

			.form-controls
				label(for="autoComplete") Auto-Complete
				select(
					name="autoComplete"
					ng-model="settings.autoComplete"
					ng-options="o.v as o.n for o in [{ n: 'On', v: true }, { n: 'Off', v: false }]"
				)

			.form-controls
				label(for="theme") Theme
				select(
					name="theme"
					ng-model="settings.theme"
				)
					each theme in themes
						option(value=theme) #{theme}

			.form-controls
				label(for="mode") Keybindings
				select(
					name="mode"
					ng-model="settings.mode"
				)
					option(value='default') None
					option(value='vim') Vim
					option(value='emacs') Emacs

			.form-controls
				label(for="fontSize") Font Size
				select(
					name="fontSize"
					ng-model="settings.fontSize"
				)
					each size in ['10','11','12','13','14','16','20','24']
						option(value=size) #{size}px

			.form-controls
				label(for="pdfViewer") PDF Viewer
				select(
					name="pdfViewer"
					ng-model="settings.pdfViewer"
				)
					option(value="pdfjs") Built-In
					option(value="native") Native
					
	span(ng-controller="TemplatesController", ng-show="permissions.admin")
		h4() Publish
		ul.list-unstyled.nav()
			li
				a(ng-click="openPublishTemplateModal()")
					i.fa.fa-list-alt.fa-fw 
					| &nbsp;&nbsp;Publish as Template


#left-menu-mask(
	ng-show="ui.leftMenuShown",
	ng-click="ui.leftMenuShown = false"
	ng-cloak
)