aside#left-menu.full-size(
	ng-class="{ 'shown': ui.leftMenuShown }"
	ng-cloak
)
	h4 Settings
	form.settings(ng-controller="SettingsController")
		.containter-fluid
			.form-controls
				.row
					label.col-md-6(for="compiler") Compiler
					.col-md-6
						select.form-control(
							name="compiler"
							ng-model="project.compiler"
						)
							option(value='pdflatex') pdfLaTeX
							option(value='latex') LaTeX
							option(value='xelatex') XeLaTeX
							option(value='lualatex') LuaLaTeX

			.form-controls
				.row
					label.col-md-6(for="spellCheckLanguage") Spell Check
					.col-md-6
						select.form-control(
							name="spellCheckLanguage"
							ng-model="project.spellCheckLanguage"
						)
							option(value="") Off
							optgroup(label="Language")
								for language in languages
									option(
										value=language.code
									)= language.name

			.form-controls
				.row
					label.col-md-6(for="autoComplete") Auto-Complete
					.col-md-6
						input.form-control(
							type="checkbox"
							name="autoComplete"
							ng-model="settings.autoComplete"
						)

			.form-controls
				.row
					label.col-md-6(for="theme") Theme
					.col-md-6
						select.form-control(
							name="theme"
							ng-model="settings.theme"
						)
							each theme in themes
								option(value=theme) #{theme}

			.form-controls
				.row
					label.col-md-6(for="mode") Keybindings
					.col-md-6
						select.form-control(
							name="mode"
							ng-model="settings.mode"
						)
							option(value='default') None
							option(value='vim') Vim
							option(value='emacs') Emacs

			.form-controls
				.row
					label.col-md-6(for="fontSize") Font Size
					.col-md-6
						select.form-control(
							name="fontSize"
							ng-model="settings.fontSize"
						)
							each size in ['10','11','12','13','14','16','20','24']
								option(value=size) #{size}px

			.form-controls
				.row
					label.col-md-6(for="pdfViewer") PDF Viewer
					.col-md-6
						select.form-control(
							name="pdfViewer"
							ng-model="settings.pdfViewer"
						)
							option(value="pdfjs") Built-In
							option(value="native") Native

#left-menu-mask(
	ng-show="ui.leftMenuShown",
	ng-click="ui.leftMenuShown = false"
	ng-cloak
)