aside#left-menu.full-size(
	ng-class="{ 'shown': ui.leftMenuShown }"
	ng-cloak
)
	h4 Download

	ul.list-unstyled.nav.nav-downloads.text-center
		li
			a(
				ng-href="/project/{{project_id}}/download/zip"
				target="_blank"
			)
				i.fa.fa-file-archive-o.fa-2x
				br
				| Source
		li
			a(
				ng-href="{{pdf.url}}"
				target="_blank"
				ng-if="pdf.url"
			)
				i.fa.fa-file-pdf-o.fa-2x
				br
				| PDF
			div.pdf-disabled(
				ng-if="!pdf.url"
				tooltip="Please compile your project before downloading the PDF"
				tooltip-placement="bottom"
			)
				i.fa.fa-file-pdf-o.fa-2x
				br
				| PDF
				
	span(ng-show="!anonymous")
		h4 Actions
		ul.list-unstyled.nav
			li(ng-controller="CloneProjectController")
				a(
					href,
					ng-click="openCloneProjectModal()"
				)
					i.fa.fa-fw.fa-copy
					| &nbsp;&nbsp;Copy Project
			li(ng-controller="TemplatesController", ng-show="permissions.admin")
				a(ng-click="openPublishTemplateModal()")
					i.fa.fa-external-link.fa-fw 
					| &nbsp;&nbsp;Publish as Template


	span(ng-controller="DropboxController", ng-show="permissions.admin")
		h4() Sync
		ul.list-unstyled.nav()
			li
				a(ng-click="openDropboxModal()")
					i.fa.fa-dropbox.fa-fw
					| &nbsp;&nbsp; Dropbox

	h4(ng-show="!anonymous") Settings
	form.settings(ng-controller="SettingsController", ng-show="!anonymous")
		.containter-fluid
			.form-controls(ng-show="permissions.write")
				label(for="compiler") Compiler
				select(
					name="compiler"
					ng-model="project.compiler"
				)
					option(value='pdflatex') pdfLaTeX
					option(value='latex') LaTeX
					option(value='xelatex') XeLaTeX
					option(value='lualatex') LuaLaTeX
					
			.form-controls(ng-show="permissions.write")
				label(for="rootDoc_id") Main document
				select(
					name="rootDoc_id",
					ng-model="project.rootDoc_id",
					ng-options="doc.doc.id as doc.path for doc in docs"
				)

			.form-controls
				label(for="spellCheckLanguage") Spell Check
				select(
					name="spellCheckLanguage"
					ng-model="project.spellCheckLanguage"
				)
					option(value="") Off
					optgroup(label="Language")
						for language in languages
							option(
								value=language.code
							)= language.name

			.form-controls
				label(for="autoComplete") Auto-Complete
				select(
					name="autoComplete"
					ng-model="settings.autoComplete"
					ng-options="o.v as o.n for o in [{ n: 'On', v: true }, { n: 'Off', v: false }]"
				)

			.form-controls
				label(for="theme") Theme
				select(
					name="theme"
					ng-model="settings.theme"
				)
					each theme in themes
						option(value=theme) #{theme.replace(/_/g, ' ')}

			.form-controls(ng-show="!anonymous")
				label(for="mode") Keybindings
				select(
					name="mode"
					ng-model="settings.mode"
				)
					option(value='default') None
					option(value='vim') Vim
					option(value='emacs') Emacs

			.form-controls
				label(for="fontSize") Font Size
				select(
					name="fontSize"
					ng-model="settings.fontSize"
				)
					each size in ['10','11','12','13','14','16','20','24']
						option(value=size) #{size}px

			.form-controls
				label(for="pdfViewer") PDF Viewer
				select(
					name="pdfViewer"
					ng-model="settings.pdfViewer"
				)
					option(value="pdfjs") Built-In
					option(value="native") Native

	h4 Hotkeys
	ul.list-unstyled.nav
		li(ng-controller="HotkeysController")
			a(ng-click="openHotkeysModal()")
				i.fa.fa-keyboard-o.fa-fw
				| &nbsp;&nbsp; Show Hotkeys

#left-menu-mask(
	ng-show="ui.leftMenuShown",
	ng-click="ui.leftMenuShown = false"
	ng-cloak
)

script(type='text/ng-template', id='cloneProjectModalTemplate')
	.modal-header
		h3 Copy Project
	.modal-body
		form(name="cloneProjectForm", novalidate)
			.form-group
				label New Name
				input.form-control(
					type="text",
					placeholder="New Project Name",
					required,
					ng-model="inputs.projectName",
					on-enter="clone()",
					focus-on="open"
				)
	.modal-footer
		button.btn.btn-default(
			ng-disabled="state.inflight"
			ng-click="cancel()"
		) Cancel
		button.btn.btn-primary(
			ng-disabled="cloneProjectForm.$invalid || state.inflight"
			ng-click="clone()"
		)
			span(ng-hide="state.inflight") Copy
			span(ng-show="state.inflight") Copying...
