include ./left-menu-react

#chat-wrapper.full-size(
	layout="chat",
	spacing-open="{{ui.chatResizerSizeOpen}}",
	spacing-closed="{{ui.chatResizerSizeClosed}}",
	ng-hide="state.loading",
	ng-cloak
)
	.ui-layout-center
		include ./header-react

		main#ide-body(
			ng-cloak,
			role="main",
			layout="main",
			ng-hide="state.loading",
			resize-on="layout:chat:resize,history:toggle,layout:flat-screen:toggle,south-pane-toggled",
			minimum-restore-size-west="130"
			custom-toggler-pane="west"
			custom-toggler-msg-when-open=translate("tooltip_hide_filetree")
		custom-toggler-msg-when-closed=translate("tooltip_show_filetree")
		tabindex="0"
			initial-size-east="250"
			init-closed-east="true"
			open-east="ui.chatOpen"
		)
			.ui-layout-west
				include ./file-tree-react
				include ./file-tree-history-react

			.ui-layout-center
				include ./editor
				history-root()

			if !isRestrictedTokenMember
				.ui-layout-east
					aside.chat
						chat()
