include ./left-menu

#chat-wrapper.full-size(
	layout="chat",
	spacing-open="{{ui.chatResizerSizeOpen}}",
	spacing-closed="{{ui.chatResizerSizeClosed}}",
	initial-size-east="250",
	init-closed-east="true",
	open-east="ui.chatOpen",
	ng-hide="state.loading",
	ng-cloak
)
	.ui-layout-center
		include ./header-react

		include ./history/toolbarV2.pug

		main#ide-body(
			ng-cloak,
			role="main",
			ng-class="{ 'ide-history-open' : (ui.view == 'history' && history.isV2) }",
			layout="main",
			ng-hide="state.loading",
			resize-on="layout:chat:resize,history:toggle,layout:flat-screen:toggle,symbol-palette-toggled",
			minimum-restore-size-west="130"
			custom-toggler-pane=hasFeature('custom-togglers') ? "west" : false
			custom-toggler-msg-when-open=hasFeature('custom-togglers') ? translate("tooltip_hide_filetree") : false
			custom-toggler-msg-when-closed=hasFeature('custom-togglers') ? translate("tooltip_show_filetree") : false
			ng-keydown="handleKeyDown($event)"
			tabindex="0"
		)
			.ui-layout-west
				include ./file-tree-react
				include ./file-tree-history
				include ./history/fileTreeV2

			.ui-layout-center
				include ./editor

				include ./history

	if !isRestrictedTokenMember
		.ui-layout-east
			aside.chat
				chat()
