if editorLeftMenuReact
	include ./left-menu-react
else
	include ./left-menu

#chat-wrapper.full-size(
	layout="chat",
	spacing-open="{{ui.chatResizerSizeOpen}}",
	spacing-closed="{{ui.chatResizerSizeClosed}}",
	ng-hide="state.loading",
	ng-cloak
)
	.ui-layout-center
		include ./header-react

		if (!historyViewReact)
			include ./history/toolbarV2.pug

		main#ide-body(
			ng-cloak,
			role="main",
			ng-class="{ 'ide-history-open' : (ui.view == 'history' && history.isV2 && !history.isReact) }",
			layout="main",
			ng-hide="state.loading",
			resize-on="layout:chat:resize,history:toggle,layout:flat-screen:toggle,south-pane-toggled",
			minimum-restore-size-west="130"
			custom-toggler-pane=hasFeature('custom-togglers') ? "west" : false
			custom-toggler-msg-when-open=hasFeature('custom-togglers') ? translate("tooltip_hide_filetree") : false
		custom-toggler-msg-when-closed=hasFeature('custom-togglers') ? translate("tooltip_show_filetree") : false
		tabindex="0"
			initial-size-east="250"
			init-closed-east="true"
			open-east="ui.chatOpen"
		)
			.ui-layout-west
				include ./file-tree-react
				if (historyViewReact)
					include ./file-tree-history-react
				else
					include ./file-tree-history
					include ./history/fileTreeV2

			.ui-layout-center
				include ./editor

				if (historyViewReact)
					history-root()
				else
					include ./history

			if !isRestrictedTokenMember
				.ui-layout-east
					aside.chat
						chat()

			if showOnboardingVideoTour
				div(
					ng-if="!state.loading"
					ng-controller="OnboardingVideoTourModalController"
				)
					onboarding-video-tour-modal(
						close-modal="closeModal"
						show="show"
					)
