script(type="text/ng-template", id="publishProjectAsTemplateModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 Publish as Template
	.modal-body.modal-body-share
		span(ng-hide="problemTalkingToTemplateApi")
			form()
				label(for='Description') Template Description
				.form-group
					textarea.form-control(
					rows=5,
					name='Description',
					ng-model="templateDetails.description",
					ng-blur="updateProjectDescription()",
					value=""
				)
			div(ng-show="templateDetails.exists").text-center.templateDetails
				|  Your project was last published at 
				strong {{templateDetails.publishedDate}}. 
				a(ng-href="{{templateDetails.canonicalUrl}}") View it in template gallery.

		span(ng-show="problemTalkingToTemplateApi") There is a problem with our publishing service, please try again in a few minutes.




	.modal-footer(ng-hide="problemTalkingToTemplateApi")
		button.btn.btn-default(
			ng-click="cancel()",
			ng-disabled="state.publishInflight || state.unpublishInflight"
		)
			span Cancel

		button.btn.btn-info(
			ng-click="unpublishTemplate()",
			ng-disabled="state.publishInflight || state.unpublishInflight"
			ng-show="templateDetails.exists"
		) 
			span(ng-show="!state.unpublishInflight") Unpublish
			span(ng-show="state.unpublishInflight") Unpublishing...

		button.btn.btn-primary(
			ng-click="publishTemplate()",
			ng-disabled="state.publishInflight || state.unpublishInflight"
		)
			span(ng-show="!state.publishInflight && !templateDetails.exists") Publish
			span(ng-show="!state.publishInflight && templateDetails.exists") Republish
			span(ng-show="state.publishInflight") Publishing...