script(type='text/ng-template', id='shareProjectModalTemplate')
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("share_project")}
	.modal-body.modal-body-share
		.container-fluid
			.row.public-access-level(ng-show="project.publicAccesLevel == 'private'")
				.col-xs-12.text-center
					| #{translate("this_project_is_private")}
					| &nbsp;&nbsp;
					a(
						href
						ng-click="openMakePublicModal()"
					) #{translate("make_public")}
			.row.public-access-level(ng-show="project.publicAccesLevel != 'private'")
				.col-xs-12.text-center
					strong(ng-if="project.publicAccesLevel == 'readAndWrite'") #{translate("this_project_is_public")}
					strong(ng-if="project.publicAccesLevel == 'readOnly'") #{translate("this_project_is_public_read_only")}
					| &nbsp;&nbsp;
					a(
						href
						ng-click="openMakePrivateModal()"
					) #{translate("make_private")}
			.row.project-member
				.col-xs-8 {{ project.owner.email }}
				.text-right(
					ng-class="{'col-xs-3': project.members.length > 0, 'col-xs-4': project.members.length == 0}"
				) #{translate("owner")}
			.row.project-member(ng-repeat="member in project.members")
				.col-xs-8 {{ member.email }}
				.col-xs-3.text-right
					span(ng-show="member.privileges == 'readAndWrite'") #{translate("can_edit")}
					span(ng-show="member.privileges == 'readOnly'") #{translate("read_only")}
				.col-xs-1
					a(
						href
						tooltip="#{translate('remove_collaborator')}"
						tooltip-placement="bottom"
						ng-click="removeMember(member)"
					)
						i.fa.fa-times
			.row.invite-controls
				form(ng-show="canAddCollaborators")
					.small #{translate("share_with_your_collabs")}
					.form-group
						input.form-control(
							type="text"
							placeholder="joe@example.com, sue@example.com, ..."
							ng-model="inputs.email"
							focus-on="open"
						)
					.form-group
						.pull-right
							select.privileges.form-control(
								ng-model="inputs.privileges"
								name="privileges"
							)
								option(value="readAndWrite") #{translate("can_edit")}
								option(value="readOnly") #{translate("read_only")}
							| &nbsp;&nbsp;
							button.btn.btn-info(
								type="submit"
								ng-click="addMembers()"
							) #{translate("share")}
				div.text-center(ng-hide="canAddCollaborators")
					p #{translate("need_to_upgrade_for_more_collabs")}.
					p(ng-controller="FreeTrialModalController")
						a.btn(href, ng-click="startFreeTrial('projectMembers')", ng-class="buttonClass") #{translate("start_free_trial")}
					p.small(ng-show="startedFreeTrial")
						| #{translate("refresh_page_after_starting_free_trial")}.

	.modal-footer
		.modal-footer-left
			i.fa.fa-refresh.fa-spin(ng-show="state.inflight")
			span.text-danger.error(ng-show="state.error") {{ state.error }}
		button.btn.btn-primary(
			ng-click="done()"
		) #{translate("done")}

script(type="text/ng-template", id="makePublicModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("make_project_public")}?
	.modal-body.modal-body-share
		p #{translate("make_project_public_consequences")}
		p
			select.form-control(
				ng-model="inputs.privileges"
				name="privileges"
			)
				option(value="readAndWrite") #{translate("allow_public_editing")}
				option(value="readOnly")     #{translate("allow_public_read_only")}
	.modal-footer
		button.btn.btn-default(
			ng-click="cancel()"
		) #{translate("cancel")}
		button.btn.btn-info(
			ng-click="makePublic()"
		) #{translate("make_public")}

script(type="text/ng-template", id="makePrivateModalTemplate")
	.modal-header
		button.close(
			type="button"
			data-dismiss="modal"
			ng-click="cancel()"
		) &times;
		h3 #{translate("make_project_private")}?
	.modal-body.modal-body-share
		p #{translate("make_project_private_consequences")}
	.modal-footer
		button.btn.btn-default(
			ng-click="cancel()"
		) #{translate("cancel")}
		button.btn.btn-info(
			ng-click="makePrivate()"
		) #{translate("make_private")}
