#editor(
	ace-editor="editor",
	ng-if="!editor.showRichText",
	ng-show="!!editor.sharejs_doc && !editor.opening && multiSelectedCount === 0 && !editor.error_state",
	theme="settings.editorTheme",
	keybindings="settings.mode",
	font-size="settings.fontSize",
	auto-complete="settings.autoComplete",
	auto-pair-delimiters="settings.autoPairDelimiters",
	spell-check="!anonymous",
	spell-check-language="project.spellCheckLanguage"
	highlights="onlineUserCursorHighlights[editor.open_doc_id]"
	show-print-margin="false",
	sharejs-doc="editor.sharejs_doc",
	last-updated="editor.last_updated",
	cursor-position="editor.cursorPosition",
	goto-line="editor.gotoLine",
	resize-on="layout:main:resize,layout:pdf:resize,layout:review:resize,review-panel:toggle,layout:flat-screen:toggle",
	annotations="pdf.logEntryAnnotations[editor.open_doc_id]",
	read-only="!permissions.write",
	file-name="editor.open_doc_name",
	on-ctrl-enter="recompileViaKey",
	on-save="recompileViaKey",
	on-ctrl-j="toggleReviewPanel",
	on-ctrl-shift-c="addNewCommentFromKbdShortcut",
	on-ctrl-shift-a="toggleTrackChangesFromKbdShortcut",
	syntax-validation="settings.syntaxValidation",
	review-panel="reviewPanel",
	events-bridge="reviewPanelEventsBridge"
	track-changes= "editor.trackChanges",
	doc-id="editor.open_doc_id"
	renderer-data="reviewPanel.rendererData"
	font-family="settings.fontFamily"
	line-height="settings.lineHeight"
)
