.row.row-spaced
	.col-xs-12
		.card.card-thin
			div.welcome.text-centered(ng-cloak)
				h2 #{translate("welcome_to_sl")}
				p #{translate("new_to_latex_look_at")} 
					a(
						href="/templates"
						event-tracking="welcome-page-templates-click"
						event-tracking-mb="true"
						event-tracking-trigger="click"
						event-segmentation='{"project-dashboard-react": "default"}'
					) #{translate("templates").toLowerCase()}
					|   #{translate("or")}
					a(
						href="/learn"
						event-tracking="welcome-page-latex-help-click"
						event-tracking-mb="true"
						event-tracking-trigger="click"
						event-segmentation='{"project-dashboard-react": "default"}'
					)  #{translate("latex_help_guide")}


				.row
					.col-md-offset-4.col-md-4
						.dropdown.minimal-create-proj-dropdown(dropdown)
							a.btn.btn-primary.dropdown-toggle(
								href="#",
								data-toggle="dropdown",
								dropdown-toggle
								event-tracking="welcome-page-create-first-project-click"
								event-tracking-mb="true"
								event-tracking-trigger="click"
								event-segmentation='{"project-dashboard-react": "default", "dropdownMenu": "main-button", "dropdownOpen": "null" }'
							)
								//- We can't know if dropdown is open or not, so will send "dropdownOpen: null" as a segmentation above
								| Create First Project

							ul.dropdown-menu.minimal-create-proj-dropdown-menu(role="menu")
								li
									a(
										href,
										ng-click="openCreateProjectModal()"
										event-tracking="welcome-page-create-first-project-click"
										event-tracking-mb="true"
										event-tracking-trigger="click"
										event-segmentation='{"project-dashboard-react": "default", "dropdownMenu": "blank-project", "dropdownOpen": "true" }'
									) #{translate("blank_project")}
								li
									a(
										href,
										ng-click="openCreateProjectModal('example')"
										event-tracking="welcome-page-create-first-project-click"
										event-tracking-mb="true"
										event-tracking-trigger="click"
										event-segmentation='{"project-dashboard-react": "default", "dropdownMenu": "example-project", "dropdownOpen": "true" }'
									) #{translate("example_project")}
								li
									a(
										href,
										ng-click="openUploadProjectModal()"
										event-tracking="welcome-page-create-first-project-click"
										event-tracking-mb="true"
										event-tracking-trigger="click"
										event-segmentation='{"project-dashboard-react": "default", "dropdownMenu": "upload-project", "dropdownOpen": "true" }'
									) #{translate("upload_project")}
								!= moduleIncludes("newProjectMenu", locals)
								if (templates)
									li.divider
									li.dropdown-header #{translate("templates")}
									each item in templates
										- var eventSegmentation = '{"project-dashboard-react": "default", "dropdownMenu":"' + item.trackingKey + '", "dropdownOpen": "true" }'
										li
											a.menu-indent(
												href=item.url
												event-tracking="welcome-page-create-first-project-click"
												event-tracking-mb="true"
												event-tracking-trigger="click"
												event-segmentation=eventSegmentation
											) #{translate(item.name)}

							
