.col-xs-6.col-sm-4.col-md-6
	input.select-item(
		select-individual,
		type="checkbox",
		ng-disabled="shouldDisableCheckbox(project)",
		ng-model="project.selected"
		stop-propagation="click"
		aria-label=translate('select_project') + " '{{ project.name }}'"
	)
	span
		a.projectName(
			ng-href="{{projectLink(project)}}"
			stop-propagation="click"
		) {{project.name}}
		span(
			ng-controller="TagListController"
		)
			.tag-label(
				ng-repeat='tag in project.tags'
				stop-propagation="click"
			)
				a.label.label-default.tag-label-name(
					href,
					ng-click="selectTag(tag)"
				) {{tag.name}}
				a.label.label-default.tag-label-remove(
					href
					ng-click="removeProjectFromTag(project, tag)"
				) &times;

.col-xs-2
	span.owner {{ownerName()}}
	span(ng-if="isLinkSharingProject(project)")
		| &nbsp;
		i.fa.fa-link.small(
			tooltip=translate("link_sharing")
			tooltip-placement="right"
			tooltip-append-to-body="true"
		)
.col-xs-4.col-sm-3.col-md-2
	if settings.overleaf
		span.last-modified(tooltip="{{project.lastUpdated | formatDate}}") {{project.lastUpdated | fromNowDate}}
	else
		span.last-modified {{project.lastUpdated | formatDate}}
.hidden-xs.col-sm-3.col-md-2
	button.btn.btn-link.action-btn(
		tooltip=translate('copy'),
		tooltip-placement="top",
		tooltip-append-to-body="true",
	)
		i.icon.fa.fa-files-o
	button.btn.btn-link.action-btn(
		tooltip=translate('download'),
		tooltip-placement="top",
		tooltip-append-to-body="true",
	)
		i.icon.fa.fa-cloud-download
	button.btn.btn-link.action-btn(
		tooltip=translate('archive'),
		tooltip-placement="top",
		tooltip-append-to-body="true",
	)
		i.icon.fa.fa-inbox