- var titleClasses = settings.overleaf ? "col-xs-6 col-sm-4 col-md-6" : "col-xs-6"
- var lastUpdatedClasses = settings.overleaf ? " col-xs-4 col-sm-3 col-md-2" : "col-xs-4"

div(class=titleClasses)
	input.select-item(
		select-individual,
		type="checkbox",
		ng-disabled="shouldDisableCheckbox(project)",
		ng-model="project.selected"
		stop-propagation="click"
		aria-label=translate('select_project') + " '{{ project.name }}'"
	)
	span
		a.projectName(
			ng-href="{{projectLink(project)}}"
			stop-propagation="click"
		) {{project.name}}
		span(
			ng-controller="TagListController"
		)
			.tag-label(
				ng-repeat='tag in project.tags'
				stop-propagation="click"
			)
				a.label.label-default.tag-label-name(
					href,
					ng-click="selectTag(tag)"
				) {{tag.name}}
				a.label.label-default.tag-label-remove(
					href
					ng-click="removeProjectFromTag(project, tag)"
				) &times;

.col-xs-2
	span.owner {{ownerName()}}
		| &nbsp;
		i.fa.fa-question-circle.small(
			ng-if="hasGenericOwnerName()"
			tooltip="This project is owned by a user who hasn’t yet migrated their account to Overleaf v2"
			tooltip-append-to-body="true"
			aria-hidden="true"
		)
	span(ng-if="isLinkSharingProject(project)")
		| &nbsp;
		i.fa.fa-link.small(
			tooltip=translate("link_sharing")
			tooltip-placement="right"
			tooltip-append-to-body="true"
			aria-hidden="true"
		)
		span.sr-only #{translate("link_sharing")}

div(class=lastUpdatedClasses)
	if settings.overleaf
		span.last-modified(tooltip="{{project.lastUpdated | formatDate}}") {{project.lastUpdated | fromNowDate}}
	else
		span.last-modified {{project.lastUpdated | formatDate}}

if settings.overleaf
	.hidden-xs.col-sm-3.col-md-2.action-btn-row
		div(
			ng-if="!project.isTableActionInflight"
		)
			button.btn.btn-link.action-btn(
				aria-label=translate('copy'),
				tooltip=translate('copy'),
				tooltip-placement="top",
				tooltip-append-to-body="true",
				ng-click="clone($event)"
			)
				i.icon.fa.fa-files-o(aria-hidden="true")
			button.btn.btn-link.action-btn(
				aria-label=translate('download'),
				tooltip=translate('download'),
				tooltip-placement="top",
				tooltip-append-to-body="true",
				ng-click="download($event)"
			)
				i.icon.fa.fa-cloud-download(aria-hidden="true")
			button.btn.btn-link.action-btn(
				ng-if="!project.archived && isOwner()"
				aria-label=translate('archive'),
				tooltip=translate('archive'),
				tooltip-placement="top",
				tooltip-append-to-body="true",
				ng-click="archiveOrLeave($event)"
			)
				i.icon.fa.fa-inbox(aria-hidden="true")
			button.btn.btn-link.action-btn(
				ng-if="!isOwner()"
				aria-label=translate('leave'),
				tooltip=translate('leave'),
				tooltip-placement="top",
				tooltip-append-to-body="true",
				ng-click="archiveOrLeave($event)"
			)
				i.icon.fa.fa-sign-out(aria-hidden="true")
			button.btn.btn-link.action-btn(
				ng-if="project.archived && isOwner()"
				aria-label=translate('unarchive'),
				tooltip=translate('unarchive'),
				tooltip-placement="top",
				tooltip-append-to-body="true",
				ng-click="restore($event)"
			)
				i.icon.fa.fa-reply(aria-hidden="true")
			button.btn.btn-link.action-btn(
				ng-if="project.archived && isOwner()"
				aria-label=translate('delete_forever'),
				tooltip=translate('delete_forever'),
				tooltip-placement="top",
				tooltip-append-to-body="true",
				ng-click="deleteProject($event)"
			)
				i.icon.fa.fa-trash(aria-hidden="true")
		div(
			ng-if="project.isTableActionInflight"
			aria-label=translate('processing')
		)
			i.fa.fa-spinner.fa-spin(aria-hidden="true")