span(ng-controller="NotificationsController").userNotifications
	ul.list-unstyled.notifications-list(
		ng-if="notifications.length > 0",
		ng-cloak
	)
		li.notification_entry(
			ng-repeat="notification in notifications",
		)
			.row(ng-hide="notification.hide")
				.col-xs-12
					div(ng-switch="notification.templateKey")
						.alert.alert-info(ng-switch-when="notification_project_invite", ng-controller="ProjectInviteNotificationController")
							div.notification_inner
								.notification_body(ng-show="!notification.accepted")
									| !{translate("notification_project_invite_message", { userName: "{{ userName }}", projectName: "{{ projectName }}" })}
									a.pull-right.btn.btn-sm.btn-info(href, ng-click="accept()", ng-disabled="notification.inflight")
										span(ng-show="!notification.inflight") #{translate("join_project")}
										span(ng-show="notification.inflight")
											i.fa.fa-fw.fa-spinner.fa-spin(aria-hidden="true")
											| &nbsp;
											| #{translate("joining")}...
								.notification_body(ng-show="notification.accepted")
									| !{translate("notification_project_invite_accepted_message", { projectName: "{{ projectName }}" })}
									a.pull-right.btn.btn-sm.btn-info(href="/project/{{ notification.messageOpts.projectId }}") #{translate("open_project")}
								span().notification_close
									button(ng-click="dismiss(notification)").close.pull-right
										span(aria-hidden="true") &times;
										span.sr-only #{translate("close")}
						.alert.alert-info(ng-switch-when="notification_ip_matched_affiliation")
							div.notification_inner
								.notification_body
									| It looks like you're at 
									strong {{ notification.messageOpts.university_name }}! <br/>
									|	Did you know that {{notification.messageOpts.university_name}} is providing
									strong  free Overleaf Professional accounts 
									|	 to everyone at {{notification.messageOpts.university_name}}? <br/>
									|	Add an institutional email address to claim your account.
									a.pull-right.btn.btn-sm.btn-info(href="/user/settings")
										| Add Affiliation
								span().notification_close
									button(ng-click="dismiss(notification)").close.pull-right
										span(aria-hidden="true") &times;
										span.sr-only #{translate("close")}
						.alert.alert-info(ng-switch-default)
							div.notification_inner
								span(ng-bind-html="notification.html").notification_body
								span().notification_close
									button(ng-click="dismiss(notification)").close.pull-right
										span(aria-hidden="true") &times;
										span.sr-only #{translate("close")}

	ul.list-unstyled.notifications-list(
		ng-controller="EmailNotificationController",
		ng-cloak
	)
		li.notification_entry(
			ng-repeat="userEmail in userEmails",
			ng-if="!userEmail.confirmedAt && !userEmail.hide"
		)
			.row
				.col-xs-12
					.alert.alert-warning
						.notification_inner(
							ng-if="!userEmail.confirmationInflight"
						)
							| #{translate("please_confirm_email", {emailAddress: "{{ userEmail.email }}"})}
							|
							a(
								href
								ng-click="resendConfirmationEmail(userEmail)"
							) (#{translate('resend_confirmation_email')})
						.notification_inner(
							ng-if="userEmail.confirmationInflight"
						)
							i.fa.fa-spinner.fa-spin(aria-hidden="true")
							|
							| #{translate('resending_confirmation_email')}&hellip;
