.dropdown
	a.btn.btn-primary.dropdown-toggle(
		href="#",
		data-toggle="dropdown"
	) 
		p(ng-i18next="new_project") 
	ul.dropdown-menu(role="menu")
		li
			a(
				href,
				ng-click="openCreateProjectModal()"
			) #{translate("blank_project")}
		li
			a(
				href,
				ng-click="openCreateProjectModal('example')"
			) #{translate("example_project")}
		li
			a(
				href,
				ng-click="openUploadProjectModal()"
			) #{translate("upload_project")}
		li.divider
		li.dropdown-header #{translate("templates")}
		li
			a.menu-indent(href="/templates/cv") #{translate("cv_or_resume")}
		li
			a.menu-indent(href="/templates/cover-letters") #{translate("cover_letter")}
		li
			a.menu-indent(href="/templates/journals") #{translate("journal_article")}
		li
			a.menu-indent(href="/templates/presentations") #{translate("presentation")}
		li
			a.menu-indent(href="/templates/thesis") #{translate("thesis")}
		li
			a.menu-indent(href="/templates/bibliographies") #{translate("bibliographies")}
		li
			a.menu-indent(href="/templates") #{translate("view_all")} »

.row-spaced(ng-if="projects.length > 0", ng-cloak)
	ul.list-unstyled.folders-menu(
		ng-controller="TagListController"
	)
		li(ng-class="{active: (filter == 'all')}")
			a(href, ng-click="filterProjects('all')") #{translate("all_projects")}
		li(ng-class="{active: (filter == 'owned')}")
			a(href, ng-click="filterProjects('owned')") #{translate("your_projects")}
		li(ng-class="{active: (filter == 'shared')}")
			a(href, ng-click="filterProjects('shared')") #{translate("shared_with_you")}
		li(ng-class="{active: (filter == 'archived')}")
			a(href, ng-click="filterProjects('archived')") #{translate("deleted_projects")}
		li
			h2 Folders
		li(
			ng-repeat="tag in tags | filter:nonEmpty",
			ng-class="{active: tag.selected}",
			ng-cloak
		)
			a.tag(href, ng-click="selectTag(tag)")
				i.icon.fa.fa-fw(
					ng-class="{\
						'fa-folder-open-o': tag.selected,\
						'fa-folder-o': !tag.selected\
					}"
				)
				span.name {{tag.name}} 
					span.subdued  ({{tag.project_ids.length}})
		li(ng-cloak)
			a.tag(href, ng-click="openNewTagModal()")
				i.fa.fa-fw.fa-plus
				span.name #{translate("new_folder")}

.row-spaced(ng-if="projects.length == 0", ng-cloak)
	.first-project
		div
			i.fa.fa-arrow-up.fa-2x
		div
			strong #{translate("create_your_first_project")}

- if (showUserDetailsArea)
	.row-spaced#userProfileInformation(ng-if="projects.length > 0", ng-cloak)
		div(ng-controller="UserProfileController")
			hr(ng-show="percentComplete < 100")
			.text-centered.user-profile(ng-show="percentComplete < 100")
				.progress
					.progress-bar.progress-bar-info(ng-style="{'width' : (percentComplete+'%')}")

				p.small #{translate("profile_complete_percentage")}
				
				button#completeUserProfileInformation.btn.btn-info(
					ng-hide="formVisable",
					ng-click="openUserProfileModal()"
				) #{translate("complete")}

-if (settings.enableSubscriptions && !hasSubscription)
	.row-spaced(ng-if="projects.length > 0", ng-cloak).text-centered
		hr
		p.small You are using the free version of ShareLaTeX.
		p
			a(href="/user/subscription/plans").btn.btn-primary Upgrade
		p.small
			| or unlock some free bonus features by 
			a(href="/user/bonus") sharing ShareLaTeX.