.col-xs-6
	span.v1-badge(
		aria-label=translate("v1_badge")
		tooltip-template="'v1ProjectTooltipTemplate'"
		tooltip-append-to-body="true"
	)
	span
		a.projectName(
			href=settings.overleaf.host + "/{{project.id}}"
			target="_blank"
		) {{project.name}}
		//- To re-enable the import dialog:
		//- a.projectName(
		//- 	ng-click="openV1ImportModal(project)"
		//- 	stop-propagation="click"
		//- ) {{project.name}}

.col-xs-2
	span.owner {{ownerName()}}

.col-xs-4
	span.last-modified {{project.lastUpdated | formatDate}}