extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 Login
						form(async-form="login", action='/login')
							input(name='_csrf', type='hidden', value=csrfToken)
							input(name='redir', type='hidden', value=redir)
							form-messages
							.form-group
								input.form-control(
									type='email',
									name='email',
									placeholder='email@example.com'
								)
							.form-group
								input.form-control(
									type='password',
									name='password',
									placeholder='********'
								)
							.actions
								button.btn-primary.btn(type='submit') Login
								a.pull-right(href='/user/password/reset') Forgot your password?
