extends ../layout-marketing

block vars
	- metadata = { viewport: true }

block content
	.content.content-alt
		main.login-register-container#main-content
			.card.login-register-card
				.login-register-header
					h1.login-register-header-heading #{translate("log_out")}
				form.login-register-form(
					data-ol-async-form,
					name="logoutForm",
					action='/logout',
					method="POST"
					data-ol-auto-submit
				)
					input(name='_csrf', type='hidden', value=csrfToken)
					div(data-ol-form-messages)
					.actions
						button#submit-logout.btn-primary.btn.btn-block(
							data-ol-disabled-inflight,
							type='submit'
						)
							span(data-ol-inflight="idle" aria-label=translate('log_out')) #{translate('log_out')}
							span(hidden data-ol-inflight="pending" aria-label=translate("logging_out")) #{translate('logging_out')}…
