extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 Password Reset
						.messageArea
						form(
							async-form="password-reset-request",
							name="passwordResetForm"
							action="/user/password/reset",
							ng-cloak
						)
							input(type="hidden", name="_csrf", value=csrfToken)
							form-messages
								.alert.alert-success(ng-show="success")
									| You have been sent an email to complete your password reset.
							.form-group
								label(for='email') Please enter your email address 
								input.form-control(
									type='email',
									name='email',
									placeholder='email@example.com',
									required,
									ng-model="email"
								)
								span.small.text-primary(
									ng-show="passwordResetForm.email.$invalid && passwordResetForm.email.$dirty"
								) Must be a valid email address
							.actions
								button.btn.btn-primary(
									type='submit',
									ng-disabled="passwordResetForm.$invalid"
								) Request password reset
