extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 Password Reset
						.messageArea
						form(
							async-form="password-reset-request",
							action="/user/password/reset"
						)
							input(type="hidden", name="_csrf", value=csrfToken)
							form-messages
								.alert.alert-success(ng-show="success")
									| You have been sent an email to complete your password reset.
							.form-group
								label(for='email') Please enter your email address 
								input.form-control(
									type='email',
									name='email',
									placeholder='email@example.com'
								)
							.actions
								button.btn.btn-primary(type='submit') Request password reset
