extends ../layout

block vars
	- metadata = { viewport: true }

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 #{translate("password_reset")}
						.messageArea
						form(
							async-form="password-reset-request",
							name="passwordResetForm"
							action="/user/password/reset",
							method="POST",
							ng-cloak
						)
							input(type="hidden", name="_csrf", value=csrfToken)
							form-messages(for="passwordResetForm" role="alert")
							.form-group
								label(for='email') #{translate("please_enter_email")}
								input.form-control(
									type='email',
									name='email',
									placeholder='email@example.com',
									required,
									ng-model="email",
									autofocus
								)
								span.small.text-primary(
									ng-show="passwordResetForm.email.$invalid && passwordResetForm.email.$dirty"
								) #{translate("must_be_email_address")}
							.actions
								button.btn.btn-primary(
									type='submit',
									ng-disabled="passwordResetForm.$invalid"
								) #{translate("request_password_reset")}
