extends ../layout

block content
	.content.content-alt
		.container
			.row
				.registration_message
					if sharedProjectData.user_first_name !== undefined
						h1 #{sharedProjectData.user_first_name} would like you to view '#{sharedProjectData.project_name}'
						div Join ShareLaTeX to view this project
					else if newTemplateData.templateName !== undefined
						h1 Please register to edit the '#{newTemplateData.templateName}' template
						div Already have a ShareLaTeX account? 
							a(href="/login") Login here

			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 Register
						form(async-form="register", name="registerForm", action="/register", ng-cloak)
							input(name='_csrf', type='hidden', value=csrfToken)
							input(name='redir', type='hidden', value=redir)
							form-messages(for="registerForm")
							.form-group
								label(for='email') Email
								input.form-control(
									type='email',
									name='email',
									placeholder="email@example.com"
									required,
									ng-model="email",
									ng-init="email = #{JSON.stringify(new_email)}",
									ng-model-options="{ updateOn: 'blur' }",
									autofocus
								)
								span.small.text-primary(ng-show="registerForm.email.$invalid && registerForm.email.$dirty")
									| Must be an email address
							.form-group
								label(for='password') Password
								input.form-control(
									type='password',
									name='password',
									placeholder="********",
									required,
									ng-model="password"
								)
								span.small.text-primary(ng-show="registerForm.password.$invalid && registerForm.password.$dirty")
									| Required
							.actions
								button.btn-primary.btn(
									type='submit'
									ng-disabled="registerForm.inflight"
								)
									span(ng-show="!registerForm.inflight") Register
									span(ng-show="registerForm.inflight") Registering...
