extends ../layout

block content
	.content.content-alt
		.container
			.row
				.registration_message
					if sharedProjectData.user_first_name !== undefined
						h1 #{sharedProjectData.user_first_name} would like you to view '#{sharedProjectData.project_name}'
						div Join ShareLaTeX to view this project
					else if newTemplateData.templateName !== undefined
						h1 Please register to edit the '#{newTemplateData.templateName}' template
						div Already have a ShareLaTeX account? 
							a(href="/login") Login here

			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 Register
						.messageArea
						form#registerFormShort(method="post")
							input(name='_csrf', type='hidden', value=csrfToken)
							input(name='redir', type='hidden', value=redir)
							.form-group
								label(for='email') Email 
								input#email.email.required.form-control(type='email', name='email', value='#{new_email}')
							.form-group
								label(for='password') Password 
								input#password.required.form-control(type='password', name='password')
							.actions
								button#registerButton.btn-primary.btn(type='submit') Register
						
