extends ../layout-marketing

block content
	main#main-content.content.content-alt
		.container
			.row
				.registration-message
					if sharedProjectData.user_first_name !== undefined
						h1 #{translate("user_wants_you_to_see_project", {username:sharedProjectData.user_first_name, projectname:""})}
							em #{sharedProjectData.project_name}
						div
							| #{translate("join_sl_to_view_project")}.
						div
							| #{translate("already_have_sl_account")}
							|
							a(href='/login') #{translate("login_here")}
					else if newTemplateData.templateName !== undefined
						h1 #{translate("register_to_edit_template", {templateName:newTemplateData.templateName})}

						div #{translate("already_have_sl_account")}
							|
							a(href='/login') #{translate("login_here")}

			.row
				.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
					.card
						.card-body
							.page-header
								h1 #{translate("register")}
							form(
								data-ol-async-form
								action='/register'
								method='POST'
							)
								input(name='_csrf' type='hidden' value=csrfToken)
								+formMessagesNewStyle
								.form-group
									.notification.notification-type-error.mb-3(hidden data-ol-custom-form-message="email-already-registered")
										.notification-content #{translate("email_already_registered")}
											|
											a(href='/login') #{translate("login_here")}
									.notification.notification-type-error.mb-3(hidden data-ol-custom-form-message="something-went-wrong")
										.notification-content Something went wrong. Please try again.
								.form-group
									label.form-label(for='email') #{translate("email")}
									input.form-control(
										name='email'
										type='email'
										id='email'
										autocomplete='username'
										required
										autofocus='true'
									)
								.form-group
									label.form-label(for='passwordField') #{translate("password")}
									input#passwordField.form-control(
										name='password'
										type='password'
										autocomplete='new-password'
										required
									)
								.actions
									button.btn.btn-primary(type='submit' data-ol-disabled-inflight)
										span(data-ol-inflight='idle') #{translate("register")}
										span(hidden data-ol-inflight='pending') #{translate("registering")}…
							hr
							p.text-center
								| #{translate("already_have_sl_account")}
								|
								a(href='/login') #{translate("login_here")}
