extends ../layout

block content
	.content.content-alt
		.container
			.row
				.registration_message
					if sharedProjectData.user_first_name !== undefined
						h1  #{translate("user_wants_you_to_see_project", {username:sharedProjectData.user_first_name, projectname:""})}
							em(ng-non-bindable) #{sharedProjectData.project_name}
						div
							| #{translate("join_sl_to_view_project")}.
						div
							| #{translate("if_you_are_registered")},
							a(href="/login")  #{translate("login_here")}
					else if newTemplateData.templateName !== undefined
						h1 #{translate("register_to_edit_template", {templateName:newTemplateData.templateName})}

						div #{translate("already_have_sl_account")}
							a(href="/login")  #{translate("login_here")}

			.row
				.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
					.card
						.page-header
							h1 #{translate("register")}
						p
							| Please contact 
							strong(ng-non-bindable) #{settings.adminEmail} 
							| to create an account.
