extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 Reset your password
						form(
							async-form="password-reset",
							name="passwordResetForm",
							action="/user/password/set",
							ng-cloak
						)
							input(type="hidden", name="_csrf", value=csrfToken)
							form-messages
								.alert.alert-success(ng-show="success")
									| Your password has been reset. 
									a(href='/login') Login here

							.form-group
								input.form-control(
									type='password',
									name='password',
									placeholder='new password',
									required,
									ng-model="password"
								)
								span.small.text-primary(
									ng-show="passwordResetForm.password.$invalid && passwordResetForm.password.$dirty"
								) Required
								input(
									type="hidden",
									name="passwordResetToken",
									value=passwordResetToken
								)
							.actions
								button.btn.btn-primary(
									type='submit',
									ng-disabled="passwordResetForm.$invalid"
								) Set new password