extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 #{translate("reset_your_password")}
						form(
							async-form="password-reset",
							name="passwordResetForm",
							action="/user/password/set",
							method="POST",
							ng-cloak
						)
							input(type="hidden", name="_csrf", value=csrfToken)
							form-messages(for="passwordResetForm")
								.alert.alert-success(ng-show="passwordResetForm.response.success")
									| #{translate("password_has_been_reset")}. 
									a(href='/login') #{translate("login_here")}

							.form-group
								input.form-control#passwordField(
									type='password',
									name='password',
									placeholder='new password',
									required,
									ng-model="password",
									autofocus,
									complex-password
								)
								span.small.text-primary(ng-show="passwordResetForm.password.$error.complexPassword", ng-bind-html="complexPasswordErrorMessage") 
								input(
									type="hidden",
									name="passwordResetToken",
									value=passwordResetToken
								)
							.actions
								button.btn.btn-primary(
									type='submit',
									ng-disabled="passwordResetForm.$invalid"
								) #{translate("set_new_password")}


	script(type='text/javascript').
		window.usersEmail = "#{getReqQueryParam('email')}"
		window.passwordStrengthOptions = !{JSON.stringify(settings.passwordStrengthOptions || {})}