extends ../layout-marketing

block content
	main.content.content-alt#main-content
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 #{translate("reset_your_password")}
						form(
							data-ol-async-form,
							name="passwordResetForm",
							action="/user/password/set",
							method="POST",
						)
							div(data-ol-not-sent)
								+formMessages()

								+customFormMessage('token-expired', 'danger')
									| #{translate('password_reset_token_expired')}
									br
									a(href="/user/password/reset")
										| #{translate('request_new_password_reset_email')}

								+customFormMessage('invalid-password', 'danger')
									| #{translate('invalid_password')}

								+customFormMessage('password-must-be-different', 'danger')
									| #{translate('password_change_password_must_be_different')}
									br
									a(href='/user/password/reset') #{translate("request_new_password_reset_email")}

							div.alert.alert-success(
								hidden
								role="alert"
								aria-live="assertive"
								data-ol-sent
							)
								| #{translate("password_has_been_reset")}.
								br
								a(href='/login') #{translate("login_here")}

							input(type="hidden", name="_csrf", value=csrfToken)
							input(type="hidden", name="email", value=email)

							.form-group
								input.form-control#passwordField(
									type='password',
									name='password',
									placeholder='new password',
									autocomplete="new-password",
									autofocus,
									required,
									minlength=settings.passwordStrengthOptions.length.min
								)
								input(
									type="hidden",
									name="passwordResetToken",
									value=passwordResetToken
								)
							.actions
								button.btn.btn-primary(
									type='submit',
									data-ol-disabled-inflight
									aria-label=translate('set_new_password')
								) 
									span(data-ol-inflight="idle")
										| #{translate('set_new_password')}
									span(hidden data-ol-inflight="pending")
										| #{translate('set_new_password')}… 
