extends ../layout-react

block entrypointVar
	- entrypoint = 'pages/user/settings'
		
block vars
	- bootstrap5PageStatus = 'enabled' // One of 'disabled', 'enabled', and 'queryStringOnly'
	- bootstrap5PageSplitTest = 'bootstrap-5'
	- isWebsiteRedesign = true

block append meta
	meta(name="ol-hasPassword" data-type="boolean" content=hasPassword)
	meta(name="ol-shouldAllowEditingDetails" data-type="boolean" content=shouldAllowEditingDetails)
	meta(name="ol-oauthProviders", data-type="json", content=oauthProviders)
	meta(name="ol-institutionLinked", data-type="json", content=institutionLinked)
	meta(name="ol-samlError", data-type="json", content=samlError)
	meta(name="ol-institutionEmailNonCanonical", content=institutionEmailNonCanonical)

	meta(name="ol-reconfirmedViaSAML", content=reconfirmedViaSAML)
	meta(name="ol-reconfirmationRemoveEmail", content=reconfirmationRemoveEmail)
	meta(name="ol-samlBeta", content=samlBeta)
	meta(name="ol-ssoErrorMessage", content=ssoErrorMessage)
	meta(name="ol-thirdPartyIds", data-type="json", content=thirdPartyIds || {})
	meta(name="ol-passwordStrengthOptions", data-type="json", content=settings.passwordStrengthOptions || {})
	meta(name="ol-isExternalAuthenticationSystemUsed" data-type="boolean" content=externalAuthenticationSystemUsed())
	meta(name="ol-user" data-type="json" content=user)
	meta(name="ol-dropbox" data-type="json" content=dropbox)
	meta(name="ol-github" data-type="json" content=github)
	meta(name="ol-projectSyncSuccessMessage", content=projectSyncSuccessMessage)
	meta(name="ol-personalAccessTokens", data-type="json" content=personalAccessTokens)
	meta(name="ol-emailAddressLimit", data-type="json", content=emailAddressLimit)
	meta(name="ol-currentManagedUserAdminEmail" data-type="string" content=currentManagedUserAdminEmail)
	meta(name="ol-gitBridgeEnabled" data-type="boolean" content=gitBridgeEnabled)
	meta(name="ol-isSaas" data-type="boolean" content=isSaas)
	meta(name="ol-memberOfSSOEnabledGroups" data-type="json" content=memberOfSSOEnabledGroups)

block content
	main.content.content-alt#main-content
		#settings-page-root
