include ./_mixins

.row.plans-top-switch
	.col-xs-12
		ul.nav(role="tablist")
			li.active.plans-switch-individual(
				data-ol-plans-v2-view-tab='individual'
				event-tracking="plans-page-toggle-plan"
				event-tracking-mb="true"
				event-tracking-trigger="click"
				event-segmentation='{"button": "individual"}'
				role="presentation"
			)
				button.btn.btn-default-outline(role="tab" aria-controls="panel-individual" aria-selected="true") #{translate("indvidual_plans")}
			li.plans-switch-group(
				data-ol-plans-v2-view-tab='group'
				event-tracking="plans-page-toggle-plan"
				event-tracking-mb="true"
				event-tracking-trigger="click"
				event-segmentation='{"button": "group"}'
				role="presentation"
			)
				button.btn.btn-default-outline(
					aria-controls="panel-group"
					href="#"
					role="tab"
					aria-selected="false"
				)
					span #{translate("group_plans")} 
					span (#{translate("save_30_percent_or_more")})
			li.plans-switch-student(
				data-ol-plans-v2-view-tab='student'
				event-tracking="plans-page-toggle-plan"
				event-tracking-mb="true"
				event-tracking-trigger="click"
				event-segmentation='{"button": "student"}'
				role="presentation"
			)
				button.btn.btn-default-outline(
					aria-controls="panel-student"
					href="#"
					role="tab"
					aria-selected="false"					
				) #{translate("student_plans")}

+monthly_annual_switch("annual", "plans-page-toggle-period")

.row(hidden data-ol-plans-v2-license-picker-container)
	.col-sm-12
		+group_plans_license_picker()

+table_sticky_header_all(plansConfig)

.row.plans-table-container(hidden data-ol-plans-v2-period='monthly')
	.col-sm-12(data-ol-plans-v2-view='individual' role="tabpanel")
		.row
			+table_individual('monthly')
	.col-sm-12(hidden data-ol-plans-v2-view='student' role="tabpanel")
		.row
			+table_student('monthly')

.row.plans-table-container(data-ol-plans-v2-period='annual')
	.col-sm-12(data-ol-plans-v2-view='individual' id="panel-individual" role="tabpanel")
		.row
			+table_individual('annual')
	.col-sm-12(hidden data-ol-plans-v2-view='group' id="panel-group" role="tabpanel")
		.row
			+table_group('annual')
	.col-sm-12(hidden data-ol-plans-v2-view='student' id="panel-student" role="tabpanel")
		.row
			+table_student('annual')

//- sticky header on mobile will be "hidden" (by removing its sticky position) if it reaches this div
.invisible(aria-hidden="true" data-ol-plans-v2-table-sticky-header-stop)
