include ../../../_mixins/notification

div.modal.fade.group-customize-subscription-modal.website-redesign-modal(tabindex="-1" role="dialog" data-ol-group-plan-modal)
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				button.close(
					type="button"
					data-dismiss="modal"
					aria-label=translate("close")
				)
					i.material-symbols(aria-hidden="true") close
				h1.modal-title #{translate("customize_your_group_subscription")}
				h2.modal-subtitle #{translate("save_30_percent_or_more_uppercase")}
			.modal-body
				.container-fluid
					.row
						.col-md-6.text-center
							.circle.circle-lg
								.group-price
									span(data-ol-group-plan-display-price) ...
									span &nbsp;/#{translate('year')}
								.group-price-per-user(data-ol-group-plan-price-per-user=translate('per_user')) ...
							.group-modal-features
								| #{translate('each_user_will_have_access_to')}:
								ul.list-unstyled
									li(
										hidden=(groupPlanModalDefaults.plan_code !== 'collaborator')
										data-ol-group-plan-plan-code='collaborator'
									)
										strong #{translate("collabs_per_proj", {collabcount:10})}
									li(
										hidden=(groupPlanModalDefaults.plan_code !== 'professional')
										data-ol-group-plan-plan-code='professional'
									)
										strong #{translate("unlimited_collabs")}
									li.list-item-pro-features-header #{translate('all_premium_features')}
									li #{translate('sync_dropbox_github')}
									li #{translate('full_doc_history')}
									li #{translate('track_changes')}
									li + #{translate('more_lowercase')}
						.col-md-6
							form.form(data-ol-group-plan-form)
								.form-group
									label(for='plan_code')
										| #{translate('plan')}
									for plan_code in groupPlanModalOptions.plan_codes
										label.group-plan-option
											input(
												type="radio"
												name="plan_code"
												checked=(plan_code.code === groupPlanModalDefaults.plan_code)
												value=plan_code.code
												data-ol-group-plan-code=plan_code.code
											)
											span #{translate(plan_code.i18n)}
								.form-group
									label(for='size')
										| #{translate('number_of_users')}
									select.form-control(
										id="size"
										event-tracking="groups-modal-group-size"
										event-tracking-mb="true"
										event-tracking-trigger="click"
										event-tracking-element="select"
									)
										for size in groupPlanModalOptions.sizes
											option(
												value=size
												selected=(size === groupPlanModalDefaults.size)
											) #{size}
								.form-group(data-ol-group-plan-form-currency)
									label(for='currency')
										| #{translate('currency')}
									select.form-control(id="currency")
										for currency in groupPlanModalOptions.currencies
											option(
												value=currency.code
												selected=(currency.code === groupPlanModalDefaults.currency)
											) #{currency.display}
								.form-group
									label(for='usage')
										| #{translate('educational_discount_for_groups_of_ten_or_more')}
								label.group-plan-educational-discount
									input(
										id="usage"
										type="checkbox"
										autocomplete="off"
										event-tracking="groups-modal-edu-discount"
										event-tracking-mb="true"
										event-tracking-trigger="click"
										event-tracking-element="checkbox"
									)
									span #{translate('educational_discount_disclaimer')}

					.row
						.col-md-12
							.educational-discount-section
								div(hidden=(groupPlanModalDefaults.usage !== 'educational') data-ol-group-plan-educational-discount)
									.applied(hidden=true data-ol-group-plan-educational-discount-applied)
										+notification({ariaLive: 'polite', content: translate('educational_discount_applied'), type: 'success', ariaLive: 'polite'})
									.ineligible(hidden=true data-ol-group-plan-educational-discount-ineligible)
										+notification({ariaLive: 'polite', content: translate('educational_discount_available_for_groups_of_ten_or_more'), type: 'info', ariaLive: 'polite'})
			.modal-footer
				.text-center
					button.btn.btn-primary.btn-lg(
						data-ol-purchase-group-plan
						event-tracking="form-submitted-groups-modal-purchase-click"
						event-tracking-mb="true"
						event-tracking-trigger="click"
						) #{translate('purchase_now_lowercase')}
					br
					p #{translate('need_more_than_x_licenses', {x: '50'})}
						| &nbsp;
						button.btn.btn-inline-link(
							data-ol-open-contact-form-for-more-than-50-licenses
						) #{translate('please_get_in_touch')}

