mixin features_premium
	li &nbsp;
	li
		strong #{translate('all_premium_features')}
	li #{translate('sync_dropbox_github')}
	li #{translate('full_doc_history')}
	li #{translate('track_changes')}
	li + #{translate('more').toLowerCase()}

mixin gen_localized_price_for_plan_view(plan, view)
	span #{formatCurrency(settings.localizedPlanPricing[recommendedCurrency][plan][view], recommendedCurrency, language, true)}

mixin currency_and_payment_methods()
	.row.row-spaced-large.text-centered
		.col-xs-12
			p.text-centered
				strong #{translate("all_prices_displayed_are_in_currency", { recommendedCurrency })}
				| &nbsp;
				span #{translate("subject_to_additional_vat")}
			i.fa.fa-cc-mastercard.fa-2x(aria-hidden="true") &nbsp;
			span.sr-only #{translate('payment_method_accepted', { paymentMethod: 'Mastercard' })}
			i.fa.fa-cc-visa.fa-2x(aria-hidden="true") &nbsp;
			span.sr-only #{translate('payment_method_accepted', { paymentMethod: 'Visa' })}
			i.fa.fa-cc-amex.fa-2x(aria-hidden="true") &nbsp;
			span.sr-only #{translate('payment_method_accepted', { paymentMethod: 'Amex' })}
			i.fa.fa-cc-paypal.fa-2x(aria-hidden="true") &nbsp;
			span.sr-only #{translate('payment_method_accepted', { paymentMethod: 'Paypal' })}

mixin plans_cta(tableHeadKey, highlighted, eventTrackingKey, additionalEventSegmentation, period)
	case tableHeadKey
		when 'individual_free'
			+btn_buy_individual_free()
		when 'individual_collaborator'
			+btn_buy_individual_collaborator(highlighted, eventTrackingKey, additionalEventSegmentation, period)
		when 'individual_professional'
			+btn_buy_individual_professional(highlighted, eventTrackingKey, additionalEventSegmentation, period)
		when 'group_collaborator'
			+btn_buy_group_collaborator(highlighted, eventTrackingKey)
			+additional_link_group(eventTrackingKey, additionalEventSegmentation, 'group_collaborator')
		when 'group_professional'
			+btn_buy_group_professional(highlighted, eventTrackingKey)
			+additional_link_group(eventTrackingKey, additionalEventSegmentation, 'group_professional')
		when 'group_organization'
			+btn_buy_group_organization(highlighted, eventTrackingKey)
			small.plans-table-th-content-additional-link.invisible(aria-hidden="true")
		when 'student_free'
			+btn_buy_student_free(highlighted)
		when 'student_student'
			+btn_buy_student_student(highlighted, eventTrackingKey, additionalEventSegmentation, period)

mixin plans_table(period, config)
	- var maxColumn = config.maxColumn || 4
	- var tableHeadKeys = Object.keys(config.tableHead)
	- var highlightedColKey = tableHeadKeys[config.highlightedColumn.index]

	tr(class=`plans-table-cols-${tableHeadKeys.length}`)
		th
		- for (var i = 0; i < maxColumn; i++)
			- var tableHeadKey = tableHeadKeys[i]
			- var tableHeadOptions = Object.values(config.tableHead)[i] || {}
			- var highlighted = highlightedColKey === tableHeadKey
			- var eventTrackingKey = config.eventTrackingKey
			- var additionalEventSegmentation = config.additionalEventSegmentation || {}
			- var thClass = highlighted ? 'plans-table-green-highlighted' : ''

			th(
				class=thClass
				scope="col"
			)
				.plans-table-th
					if (highlighted)
						p.plans-table-green-highlighted-text #{translate(config.highlightedColumn.text[period]).toUpperCase()}
					.plans-table-th-content
						if tableHeadKey
							case tableHeadKey
								when 'individual_free'
									| #{translate("free")}
								when 'individual_collaborator'
									| #{translate("standard")}
								when 'individual_professional'
									| #{translate("professional")}
								when 'group_collaborator'
									| #{translate("group_standard")}
								when 'group_professional'
									| #{translate("group_professional")}
								when 'group_organization'
									| #{translate("organization")}
								when 'student_free'
									| #{translate("free")}
								when 'student_student'
									| #{translate("student")}

	tr(class=`plans-table-price-row plans-table-cols-${tableHeadKeys.length}`)
		td
		- for (const [tableHeadKey] of Object.entries(config.tableHead))
			- var highlighted =  highlightedColKey === tableHeadKey
			- var eventTrackingKey = config.eventTrackingKey
			- var additionalEventSegmentation = config.additionalEventSegmentation || {}
			- var tdClass = highlighted ? 'plans-table-green-highlighted' : ''

			td(class=tdClass)
				.plans-table-cell
					case tableHeadKey
						when 'individual_free'
							+table_head_price('free', period)
						when 'individual_collaborator'
							+table_head_price('collaborator', period)
						when 'individual_professional'
							+table_head_price('professional', period)
						when 'group_collaborator'
							+table_price_group_collaborator()
						when 'group_professional'
							+table_price_group_professional()
						when 'group_organization'
							.plans-table-comments-icon
								.match-non-discounted-price-alignment &nbsp;
								i.material-symbols.material-symbols-outlined(aria-hidden="true") forum
						when 'student_free'
							+table_head_price('free', period)
						when 'student_student'
							+table_head_price('student', period)

	tr(class=`plans-table-cta-mobile plans-table-cols-${tableHeadKeys.length}`)
		td
		- for (const [tableHeadKey] of Object.entries(config.tableHead))
			- var highlighted =  highlightedColKey === tableHeadKey
			- var eventTrackingKey = config.eventTrackingKey
			- var additionalEventSegmentation = config.additionalEventSegmentation || {}
			- var tdClass = highlighted ? 'plans-table-green-highlighted' : ''

			td(class=tdClass)
				.plans-table-cell
					.plans-table-btn-buy-container-mobile
						+plans_cta(tableHeadKey, highlighted, eventTrackingKey, additionalEventSegmentation, period)

	tr(class=`plans-table-short-feature-list plans-table-cols-${tableHeadKeys.length}`)
		td
		- for (const [tableHeadKey, tableHeadOptions] of Object.entries(config.tableHead))
			- var highlighted =  highlightedColKey === tableHeadKey
			- var eventTrackingKey = config.eventTrackingKey
			- var additionalEventSegmentation = config.additionalEventSegmentation || {}
			- var tdClass = highlighted ? 'plans-table-green-highlighted' : ''

			td(class=tdClass)
				.plans-table-cell
					div
						case tableHeadKey
							when 'individual_free'
								+table_short_feature_list_free()
							when 'individual_collaborator'
								+table_short_feature_list_collaborator()
							when 'individual_professional'
								+table_short_feature_list_professional()
							when 'group_collaborator'
								+table_short_feature_list_group_collaborator()
							when 'group_professional'
								+table_short_feature_list_group_professional()
							when 'group_organization'
								+table_short_feature_list_group_organization(additionalEventSegmentation)
							when 'student_free'
								+table_short_feature_list_free()
							when 'student_student'	
								+table_short_feature_list_student_student(tableHeadOptions.showExtraContent)

	tr(class=`plans-table-cta-desktop plans-table-cols-${tableHeadKeys.length}`)
		td
		- for (const [tableHeadKey] of Object.entries(config.tableHead))
			- var highlighted =  highlightedColKey === tableHeadKey
			- var eventTrackingKey = config.eventTrackingKey
			- var additionalEventSegmentation = config.additionalEventSegmentation || {}
			- var tdClass = highlighted ? 'plans-table-green-highlighted' : ''

			td(class=tdClass)
				.plans-table-cell
					.plans-table-btn-buy-container-desktop
						+plans_cta(tableHeadKey, highlighted, eventTrackingKey, additionalEventSegmentation, period)

	for featuresPerSection in config.features
		- var dividerColspan = Object.values(config.tableHead).length + 1
		if featuresPerSection.divider
			tr.plans-table-divider
				td(
					colspan=dividerColspan
					class=((config.highlightedColumn.index === Object.keys(config.tableHead).length - 1) ? 'plans-table-last-col-highlighted' : '')
				)
					div
						b.plans-table-divider-label #{translate(featuresPerSection.dividerLabel)}
						//- will only appear on screen width >= 768px (using CSS)
						i.fa.fa-question-circle(
							data-toggle="tooltip"
							title=translate(featuresPerSection.dividerInfo),
							data-placement="top"
						)
						//- will only appear on screen width < 768px (using CSS)
						span.plans-table-divider-learn-more-container
							span (
							span.plans-table-divider-learn-more-text(
								data-toggle="tooltip"
								title=translate(featuresPerSection.dividerInfo),
								data-placement="top"
							) #{translate("learn_more_lowercase")}
							span )
						span.sr-only #{translate(featuresPerSection.dividerInfo)}
		for feature, featureIndex in featuresPerSection.items
			tr(
				class=`plans-table-feature-row plans-table-cols-${tableHeadKeys.length}`
			)
				th(
					event-tracking="plans-page-table"
					event-tracking-trigger="hover"
					event-tracking-ga="subscription-funnel"
					event-tracking-label=`${feature.feature}`
					scope="row"
					class=`${featureIndex === 0 ? 'plans-table-first-feature-header' : ''}`
				)
					.plans-table-feature-name
						if feature.info
							span #{translate(feature.feature)}
							//- will only appear on screen width >= 768px (using CSS)
							i.fa.fa-question-circle.plans-table-feature-question-icon(
								data-toggle="tooltip"
								title=translate(feature.info),
								data-placement="right"
							)
							//- will only appear on screen width < 768px (using CSS)
							span.plans-table-feature-learn-more-container
								span (
								span.plans-table-feature-learn-more-text(
									data-toggle="tooltip"
									title=translate(feature.info),
									data-placement="top"
								) #{translate("learn_more_lowercase")}
								span )
							span.sr-only #{translate(feature.info)}
						else
							| #{translate(feature.feature)}
				for plan, planIndex in Object.keys(feature.plans)
					- var tableHeadOptions = Object.values(config.tableHead)[planIndex] || {}
					- var tdClass = planIndex === config.highlightedColumn.index ? 'plans-table-green-highlighted' : ''

					td(class=tdClass)
						+table_cell(feature, plan)

mixin table_individual(period)
	table.plans-table.plans-table-individual
		+plans_table(period, plansConfig.individual)

mixin table_group
	table.plans-table.plans-table-group
		+plans_table('annual', plansConfig.group)

mixin table_student(period)
	table.plans-table.plans-table-student
		+plans_table(period, plansConfig.student)

//- free plan mixins

mixin table_short_feature_list_free()
	ul.plans-table-th-content-benefit
		li #{translate("one_collaborator")}

//- individual plan mixins

mixin table_short_feature_list_collaborator()
	ul.plans-table-th-content-benefit
		li !{translate("x_collaborators_per_project", {collaboratorsCount: '10'})}
		li #{translate("all_premium_features")}

//- professional plan mixins

mixin table_short_feature_list_professional()
	ul.plans-table-th-content-benefit
		li !{translate("unlimited_collabs_rt",{},["b"])}
		li #{translate("all_premium_features")}

//- group_collaborator plan mixins

mixin table_short_feature_list_group_collaborator()
	ul.plans-table-th-content-benefit
		li #{translate("up_to")} !{translate("x_collaborators_per_project", {collaboratorsCount: '10'})}
		li
			+table_head_group_total_per_year('collaborator')

mixin table_price_group_collaborator()
	.plans-table-price-container
		s
			+gen_localized_price_for_plan_view('collaborator', 'annual')
		p.plans-table-price
			span(data-ol-plans-v2-group-price-per-user='collaborator') #{initialLocalizedGroupPrice.pricePerUser.collaborator}
		p.plans-table-price-period-label
			| #{translate('per_user_year')}

//- group_professional plan mixins

mixin table_short_feature_list_group_professional()
	ul.plans-table-th-content-benefit
		li #{translate("unlimited_collaborators_in_each_project")}
		li
			+table_head_group_total_per_year('professional')

mixin table_price_group_professional()
	.plans-table-price-container
		s
			+gen_localized_price_for_plan_view('professional', 'annual')
		p.plans-table-price
			span(data-ol-plans-v2-group-price-per-user='professional') #{initialLocalizedGroupPrice.pricePerUser.professional}
		p.plans-table-price-period-label
			| #{translate('per_user_year')}

//- group mixins

mixin table_head_group_total_per_year(groupPlan)
	- var initialLicenseSize = '2'
	span.plans-group-total-price(data-ol-plans-v2-group-total-price=groupPlan) #{initialLocalizedGroupPrice.price[groupPlan]}
	| &nbsp;
	for licenseSize in groupPlanModalOptions.sizes
		span(
			hidden=(licenseSize !== initialLicenseSize)
			data-ol-plans-v2-table-th-group-license-size=licenseSize
		) !{translate("total_per_year_for_x_users", {licenseSize})}

mixin table_short_feature_list_group_organization(additionalEventSegmentation)
	- var segmentation = JSON.stringify(Object.assign({}, {button: 'group_organization-link', location: 'table-header-list', period: 'annual'}, additionalEventSegmentation))
	ul.plans-table-th-content-benefit
		li #{translate("best_choices_companies_universities_non_profits")}
		li #{translate("for_groups_or_site_wide")}
		li
			a.inline-green-link(
				target="_blank"
				href="/for/contact-sales"
				event-tracking="plans-page-click"
				event-tracking-mb="true"
				event-tracking-trigger="click"
				event-segmentation=segmentation
			) #{translate("also_available_as_on_premises")}

mixin group_plans_license_picker()
	form.plans-license-picker-form(data-ol-plans-v2-license-picker-form)
		.plans-v2-license-picker-select-container
			span #{translate("number_of_users_with_colon")}
			select.plans-v2-license-picker-select(
				name="plans-v2-license-picker-select"
				id="plans-v2-license-picker-select"
				autocomplete="off"
				data-ol-plans-v2-license-picker-select
				event-tracking="plans-page-group-size"
				event-tracking-mb="true"
				event-tracking-trigger="click"
				event-tracking-element="select"
			)
				option(value="2") 2
				option(value="3") 3
				option(value="4") 4
				option(value="5") 5
				option(value="10") 10
				option(value="20") 20
				option(value="50") 50
		.plans-v2-license-picker-educational-discount
			label.plans-v2-license-picker-educational-discount-label(data-ol-plans-v2-license-picker-educational-discount-label)
				input.plans-v2-license-picker-educational-discount-checkbox(
					type="checkbox"
					id="license-picker-educational-discount"
					autocomplete="off"
					data-ol-plans-v2-license-picker-educational-discount-input
					event-tracking="plans-page-edu-discount"
					event-tracking-mb="true"
					event-tracking-trigger="click"
					event-tracking-element="checkbox"
				)
				span #{translate("apply_educational_discount")}
			//- will only appear on screen width >= 768px (using CSS)
			i.fa.fa-question-circle.plans-v2-license-picker-educational-discount-question-icon(
				data-toggle="tooltip"
				title=translate("apply_educational_discount_info"),
				data-placement="bottom"
			)
			//- will only appear on screen width < 768px (using CSS)
			span.plans-v2-license-picker-educational-discount-learn-more-container
				span (
				span.plans-v2-license-picker-educational-discount-learn-more-text(
					data-toggle="tooltip"
					title=translate("apply_educational_discount_info"),
					data-placement="bottom"
				) #{translate("learn_more_lowercase")}
				span )
			span.sr-only #{translate("apply_educational_discount_info")}

//- student plan mixins

mixin table_short_feature_list_student_student(showExtraContent)
	ul.plans-table-th-content-benefit
		li !{translate("x_collaborators_per_project", {collaboratorsCount: '6'})}
		li #{translate("all_premium_features")}
		if showExtraContent
			li 
				b !{translate("for_students_only")}

//- all plans mixins

mixin table_head_price(plan, period)
	div.plans-table-price-container
		if plan !== 'free' && period === 'annual'
			s
				+gen_localized_price_for_plan_view(plan, 'monthlyTimesTwelve')
		else
			.match-non-discounted-price-alignment &nbsp;
		p.plans-table-price
			+gen_localized_price_for_plan_view(plan, period)
		p.plans-table-price-period-label
			if period == 'annual'
				| #{translate("per_year")}
			else
				| #{translate("per_month")}

mixin table_cell(feature, plan)
	- var planValue = feature.plans[plan]
	- var featureName = feature.feature

	.plans-table-cell
		.plans-table-cell-content(
			data-ol-plans-v2-table-cell-plan=plan
			data-ol-plans-v2-table-cell-feature=featureName
		)
			if (feature.value === 'str')
				| !{translate(planValue, {}, ['strong'])}
			else if (feature.value === 'bool')
				if (planValue)
					i.fa.fa-check(aria-hidden="true")
					span.sr-only #{translate("feature_included")}
				else
					span(aria-hidden="true") -
					span.sr-only #{translate("feature_not_included")}

//- CTA mixins

mixin btn_buy_individual(highlighted, eventTrackingKey, subscriptionPlan, period) 
	a.btn(
		data-ol-start-new-subscription=subscriptionPlan
		data-ol-event-tracking-key=eventTrackingKey
		data-ol-item-view=period
		class=(highlighted ? 'btn-primary' : 'btn-secondary')
	)
		if (period === 'monthly')
			span #{translate("try_for_free")}
		else 
			span #{translate("buy_now_no_exclamation_mark")}

mixin btn_buy_individual_free()
	if (!getSessionUser())
		a.btn(
			href="/register"
			class=(highlighted ? 'btn-primary' : 'btn-secondary')
		)
			span #{translate("try_for_free")}
	else
		a.btn.invisible(
			aria-hidden="true"
			class=(highlighted ? 'btn-primary' : 'btn-secondary')
		)

mixin btn_buy_individual_collaborator(highlighted, eventTrackingKey, additionalEventSegmentation, period)
	+btn_buy_individual(highlighted, eventTrackingKey, 'collaborator', period)
	if (period === 'monthly')
		+additional_link_buy(eventTrackingKey, additionalEventSegmentation, 'collaborator', period)

mixin btn_buy_individual_professional(highlighted, eventTrackingKey, additionalEventSegmentation, period)
	+btn_buy_individual(highlighted, eventTrackingKey, 'professional', period)
	if (period === 'monthly')
		+additional_link_buy(eventTrackingKey, additionalEventSegmentation, 'professional', period)

mixin btn_buy_group_collaborator(highlighted, eventTrackingKey) 
	a.btn(
		data-ol-start-new-subscription='group_collaborator'
		data-ol-event-tracking-key=eventTrackingKey
		data-ol-item-view='annual'
		data-ol-has-custom-href
		data-ol-location='table-header'
		class=(highlighted ? 'btn-primary' : 'btn-secondary')
	)
		span.hidden-desktop #{translate("customize")} 
		span.hidden-mobile #{translate("customize_your_plan")}

mixin btn_buy_group_professional(highlighted, eventTrackingKey) 
	a.btn(
		data-ol-start-new-subscription='group_professional'
		data-ol-event-tracking-key=eventTrackingKey
		data-ol-item-view='annual'
		data-ol-has-custom-href
		data-ol-location='table-header'
		class=(highlighted ? 'btn-primary' : 'btn-secondary')
	)
		span.hidden-desktop #{translate("customize")} 
		span.hidden-mobile #{translate("customize_your_plan")}

mixin btn_buy_group_organization(highlighted, eventTrackingKey) 
	a.btn(
		data-ol-start-new-subscription='group_organization'
		data-ol-event-tracking-key=eventTrackingKey
		data-ol-item-view='annual'
		data-ol-has-custom-href
		data-ol-location='table-header'
		href='/for/contact-sales'
		target='_blank'
		class=(highlighted ? 'btn-primary' : 'btn-secondary')
	)
		span #{translate("contact_us_lowercase")}

mixin btn_buy_student_free(highlighted)
	if (!getSessionUser())
		a.btn(
			href="/register"
			class=(highlighted ? 'btn-primary' : 'btn-secondary')
		)
			span #{translate("try_for_free")}

mixin btn_buy_student_student(highlighted, eventTrackingKey, additionalEventSegmentation, period)
	a.btn(
		data-ol-start-new-subscription='student'
		data-ol-event-tracking-key=eventTrackingKey
		data-ol-item-view=period
		data-ol-location='card'
		class=(highlighted ? 'btn-primary' : 'btn-secondary')
	)
		if (period === 'monthly')
			span #{translate("try_for_free")}
		else 
			span #{translate("buy_now_no_exclamation_mark")}
	if (period === 'monthly')
		+additional_link_buy(eventTrackingKey, additionalEventSegmentation, 'student', period)

mixin additional_link_group(eventTrackingKey, additionalEventSegmentation, plan)
	- var buttonSegmentation = plan + '-link'
	- var segmentation = JSON.stringify(Object.assign({}, {button: buttonSegmentation, location: 'table-header'}, additionalEventSegmentation))

	a.btn.btn-bg-ghost(
		href="/for/contact-sales"
		target="_blank"
		event-tracking=eventTrackingKey
		event-tracking-mb="true"
		event-tracking-trigger="click"
		event-segmentation=segmentation
	) #{translate("contact_us_lowercase")}

mixin additional_link_buy(eventTrackingKey, additionalEventSegmentation, plan, period)
	- var buttonSegmentation = plan + '-link'
	- var segmentation = JSON.stringify(Object.assign({}, {button: buttonSegmentation, location: 'table-header', period}, additionalEventSegmentation))
	- var itmCampaign = itm_campaign ? { itm_campaign } : {itm_campaign: 'plans'}
	- var itmReferrer = itm_referrer ? { itm_referrer } : {}
	- var qs = new URLSearchParams({planCode: plan, currency: recommendedCurrency, itm_content: 'card', ...itmCampaign, ...itmReferrer})

	a.btn.btn-bg-ghost(
		href=`/user/subscription/new?${qs.toString()}`
		event-tracking=eventTrackingKey
		event-tracking-mb="true"
		event-tracking-trigger="click"
		event-segmentation=segmentation
	) #{translate("buy_now_no_exclamation_mark")}

//- table header and control mixins

mixin plans_v2_table_sticky_header(withSwitch, config)
	- var tableHeadKeys = Object.keys(config.tableHead)
	.row.plans-table-sticky-header.sticky(
		data-ol-plans-v2-table-sticky-header
		class=(withSwitch ? 'plans-table-sticky-header-with-switch' : 'plans-table-sticky-header-without-switch')
	)
		- for (var i = 0; i < tableHeadKeys.length; i++)
			- var tableHeadKey = tableHeadKeys[i]
			- var translateKey = tableHeadKey.split('_')[1]
			-
				if (config.highlightedColumn.index === i) {
					var elClass = 'plans-table-sticky-header-item-green-highlighted'
				} else {
					var elClass = ''
				}
			.plans-table-sticky-header-item(
				class=elClass
			)
				case tableHeadKey
					when 'individual_collaborator'
						span #{translate('standard')}
					when 'group_professional'
						span #{translate(tableHeadKey)}
					when 'group_collaborator'
						span #{translate('group_standard')}
					default
						span #{translate(translateKey)}

mixin table_sticky_header_all(plansConfig)
	.row.plans-table-sticky-header-container(
		data-ol-plans-v2-view='individual'
	)
		+plans_v2_table_sticky_header(true, plansConfig.individual)
	.row.plans-table-sticky-header-container(
		hidden
		data-ol-plans-v2-view='group'
	)
		+plans_v2_table_sticky_header(false, plansConfig.group)
	.row.plans-table-sticky-header-container(
		hidden
		data-ol-plans-v2-view='student'
	)
		+plans_v2_table_sticky_header(true, plansConfig.student)

mixin monthly_annual_switch(initialState, eventTracking, eventSegmentation)
	- var monthlyAnnualToggleChecked = initialState === 'monthly'
	.row
		.col-md-4.col-md-offset-4.text-centered.monthly-annual-switch(data-ol-plans-v2-m-a-switch-container)
			.monthly-annual-switch-text
				span.underline(data-ol-plans-v2-m-a-switch-text='annual') #{translate("annual")}
				.tooltip.in.left(
					role="tooltip"
					data-ol-plans-v2-m-a-tooltip
					class=monthlyAnnualToggleChecked ? 'plans-v2-m-a-tooltip-monthly-selected' : ''
				)
					.tooltip-arrow
					.tooltip-inner
						span(hidden=!monthlyAnnualToggleChecked data-ol-tooltip-period='monthly') #{translate("save_20_percent_by_paying_annually")}
						span(hidden=monthlyAnnualToggleChecked data-ol-tooltip-period='annual') #{translate("saving_20_percent")}

			label(data-ol-plans-v2-m-a-switch)
				input(
					type="checkbox"
					checked=monthlyAnnualToggleChecked
					role="switch"
					aria-label=translate("select_monthly_plans")
					autocomplete="off"
					event-tracking=eventTracking
					event-tracking-mb="true"
					event-tracking-trigger="click"
					event-tracking-element="checkbox"
					event-segmentation=eventSegmentation
				)
				span
			span(data-ol-plans-v2-m-a-switch-text='monthly') #{translate("monthly")}
