.row.row-spaced-large.text-centered(
	data-ol-plans-university-info-container
	hidden
)
	.col-sm-8.col-sm-offset-2.col-xs-12.card.plans-v2-university-info
		h3.plans-v2-university-info-header #{translate('would_you_like_to_see_a_university_subscription')}
		p.plans-v2-university-info-text #{translate('student_and_faculty_support_make_difference')}
		a.btn.plans-v2-btn-header.text-capitalize.plans-v2-btn-university-info(
			target="_blank"
			href="/for/support-an-overleaf-university-subscription"
			event-tracking="plans-page-click"
			event-tracking-mb="true"
			event-tracking-trigger="click"
			event-segmentation='{"button": "university-support"}'
		) #{translate('show_your_support')}