mixin begin_now_card(eventTracking, locationEventSegmentation)
	- var registerURL = '/register'
	- var plansURL = '/user/subscription/plans'
	- var isUserLoggedIn = !!getSessionUser()

	.begin-now-card
		.card.card-pattern
			.card-body
				p.dm-mono
					span.font-size-display-xs
						span.text-purple-bright \begin
						wbr
						span.text-green-bright {
						span now
						span.text-green-bright }
				p #{translate("discover_why_over_people_worldwide_trust_overleaf", {count: settings.userCountInMillions})}
				p.card-links
					if !isUserLoggedIn
						a.btn.btn-primary.card-link(
							href=registerURL
							event-tracking-mb=eventTracking ? 'true' : null
							event-tracking=eventTracking
							event-tracking-trigger=eventTracking ? 'click' : null
							event-segmentation=eventTracking ? {location: locationEventSegmentation, destination: registerURL} : null
						) #{translate("sign_up_for_free")}
					a.btn.card-link(
						href=plansURL
						class={'btn-primary': isUserLoggedIn, 'btn-secondary': !isUserLoggedIn}
						event-tracking-mb=eventTracking ? 'true' : null
						event-tracking=eventTracking
						event-tracking-trigger=eventTracking ? 'click' : null
						event-segmentation=eventTracking ? {location: locationEventSegmentation, destination: plansURL} : null
					) #{translate("explore_all_plans")}
