mixin bookmarkable-tabset-header(id, title, active)
	li(role="presentation")
		a.nav-link(
			href='#' + id
			class=(active ? 'active' : '')
			aria-controls=id
			role="tab"
			data-toggle="tab"
			data-ol-bookmarkable-tab
		) #{title}
