include terms_of_service
include recaptcha

mixin ciamLogo
	header.ciam-logo
		a.brand.overleaf-ds-logo(href='/')
			span.visually-hidden Lemma

mixin ciamCardSeparator
	hr.ciam-card-separator

mixin ciamCardFooter
	section.ciam-card-footer
		+ciamCardSeparator
		p.ciam-footer-copyright
			| © #{new Date().getFullYear()} Bayes AI Inc.

mixin ciamTermsOfServiceAgreement
	p
		+termsOfServiceAgreementContent

mixin ciamRecaptchaConditions
	p
		+recaptchaConditionsContent

mixin ciamCustomFormDangerMessage(key)
	div(
		class='notification ciam-notification notification-type-error'
		hidden
		data-ol-custom-form-message=key
		role='alert'
		aria-live='polite'
	)
		.notification-icon
			ph-warning-circle(aria-hidden='true')
		.notification-content.text-left
			block
