include terms_of_service
include recaptcha

mixin ciamLogo
	header.ciam-logo
		a.brand.overleaf-ds-logo(href='/')
			span.visually-hidden Overleaf

mixin ciamCardSeparator
	hr.ciam-card-separator

mixin ciamCardFooter
	section.ciam-card-footer
		+ciamCardSeparator
		.ciam-footer-ds-logo
			img(
				src=buildImgPath('digital-science/digital-science.svg')
				alt='Digital Science'
			)
		p
			| !{translate('advancing_research_with', { linkOverleaf: 'https://www.overleaf.com', linkPapers: 'https://www.papersapp.com/', linkDS: 'https://www.digital-science.com/products/' })}

mixin ciamTermsOfServiceAgreement
	p
		+termsOfServiceAgreementContent

mixin ciamRecaptchaConditions
	p
		+recaptchaConditionsContent

mixin ciamCustomFormDangerMessage(key)
	div(
		class='notification ciam-notification notification-type-error'
		hidden
		data-ol-custom-form-message=key
		role='alert'
		aria-live='polite'
	)
		.notification-icon
			ph-warning-circle(aria-hidden='true')
		.notification-content.text-left
			block
