include terms_of_service
include recaptcha

mixin ciamLogo
	header.ciam-logo
		a.brand.overleaf-ds-logo.ciam-image-link(href='/')
			span.visually-hidden Overleaf

mixin ciamCardSeparator
	hr.ciam-card-separator

mixin ciamCardFooter(short)
	section.ciam-card-footer
		+ciamCardSeparator
		.ciam-footer-ds-logo
			a.ciam-image-link(
				href='https://www.digital-science.com/'
				target='_blank'
				rel='noopener noreferrer'
				event-tracking-mb='true'
				event-tracking='unified-access-footer-click'
				event-tracking-trigger='click'
				event-segmentation={
					product: 'overleaf',
					item: 'logo',
					destinationUrl: 'https://www.digital-science.com/',
				}
			)
				img(
					src=buildImgPath('digital-science/digital-science.svg')
					alt='Digital Science — home'
				)
		p
			if short
				| !{translate('overleaf_is_a_ds_product')}
			else
				-
					const linkArgs = [
						{
							name: 'a',
							attrs: {
								href: 'https://www.overleaf.com/',
								target: '_blank',
								rel: 'noopener noreferrer',
								'event-tracking-mb': 'true',
								'event-tracking': 'unified-access-footer-click',
								'event-tracking-trigger': 'click',
								'event-segmentation': {
									product: 'overleaf',
									item: 'overleaf',
									destinationUrl: 'https://www.overleaf.com/'
								}
							}
						},
						{
							name: 'a',
							attrs: {
								href: 'https://www.papersapp.com/',
								target: '_blank',
								rel: 'noopener noreferrer',
								'event-tracking-mb': 'true',
								'event-tracking': 'unified-access-footer-click',
								'event-tracking-trigger': 'click',
								'event-segmentation': {
									product: 'overleaf',
									item: 'papers',
									destinationUrl: 'https://www.papersapp.com/'
								}
							}
						}
					]
				| !{translate('advancing_research_with', null, linkArgs)}

mixin ciamTermsOfServiceAgreement
	p
		+termsOfServiceAgreementContent

mixin ciamRecaptchaConditions
	p
		+recaptchaConditionsContent

mixin ciamCustomFormDangerMessage(key)
	div(
		class='notification notification-ds notification-type-error'
		hidden
		data-ol-custom-form-message=key
		role='alert'
		aria-live='polite'
	)
		.notification-icon
			ph-warning-circle(aria-hidden='true')
		.notification-content.text-left
			block

mixin ciamFooter
	footer
		.footer-links
			a(href='https://www.overleaf.com/legal#Privacy') Privacy
			a(href='https://www.overleaf.com/legal#Terms') Terms

mixin ciamErrorNotification
	.notification.notification-ds.notification-type-error(
		role='alert'
		aria-live='polite'
	)
		.notification-icon
			ph-warning-circle(aria-hidden='true')
		.notification-content-and-cta
			.notification-content
				block

mixin ciamInfoNotification
	.notification.notification-ds.notification-type-info(
		role='alert'
		aria-live='polite'
	)
		.notification-icon
			ph-info(aria-hidden='true')
		.notification-content-and-cta
			.notification-content
				block

mixin ciamOrDivider
	p.ciam-login-register-or-text-container= translate('login_register_or').toUpperCase()

mixin ciamButtonContentLoading(loadingLabel)
	span.button-content
		span(data-ol-inflight='idle')
			block
		span.spinner-container(hidden data-ol-inflight='pending')
			.loading-spinner-large.spinner-border.spinner-border-sm(aria-hidden='true')
				span.visually-hidden= loadingLabel
