section.cookie-banner.hidden-print.hidden(aria-label=translate('cookie_banner'))
	.cookie-banner-content !{translate('cookie_banner_info', {}, [{ name: 'a', attrs: { href: '/legal#Cookies' }}])}
	.cookie-banner-actions
		button(
			type='button'
			class='btn btn-link btn-sm'
			data-ol-cookie-banner-set-consent='essential'
		) #{translate('essential_cookies_only')}
		button(
			type='button'
			class='btn btn-primary btn-sm'
			data-ol-cookie-banner-set-consent='all'
		) #{translate('accept_all_cookies')}
