doctype html
html(itemscope, itemtype='http://schema.org/Product')
	block vars

	head
		- if (typeof(gaExperimentCode) !== "undefined" && gaExperimentCode)
			#{gaExperimentCode}

		- if (typeof(priority_title) !== "undefined" && priority_title)
			title= title + ' - Online LaTeX Editor ShareLaTeX'
		- else
			title= 'Online LaTeX Editor ShareLaTeX - ' +title
		link(rel='stylesheet', href='/stylesheets/style.css?fingerprint='+fingerprint('/stylesheets/style.css'))
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css",rel="stylesheet")

		meta(itemprop="name" ,content="ShareLaTeX - Real Time Online LaTeX Collaborative Editor in Your Browser")
		meta(itemprop="description", content="Online LaTeX editor for collaborative editing, great for Maths or Sciences. You don't need to install LaTeX so it's great for beginners too.")
		meta(itemprop="image", content="https://www.sharelatex.com/favicon.ico")
		meta(name="description", content="Online LaTeX editor for collaborative editing, great for Maths or Sciences. You don't need to install LaTeX so it's great for beginners too.")

		- if (typeof(gaToken) != "undefined")
			script(type='text/javascript').
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', '#{gaToken}', 'sharelatex.com');
				ga('send', 'pageview');
		- else
			script(type='text/javascript').
				window.ga = function() { console.log("Sending to GA", arguments) };

		script(type="text/javascript").
			window.csrfToken = "#{csrfToken}";

		script(src=jsPath+'libs/jquery.js')
		script(src=jsPath+'libs/angular-1.2.17.js')
		script(src=jsPath+'libs/angular-sanitize1.2.17.js')
		script(src=jsPath+'libs/moment-2.4.0.js')
		script(src=jsPath+'libs/underscore-1.3.3.js')
		script(src=jsPath+'libs/algolia-2.5.2.js')
		
		block scripts
		
	body
		- if(typeof(suppressNavbar) == "undefined")
			include layout/navbar

		block content
			
		- if(typeof(suppressFooter) == "undefined")
			include layout/footer

		- if (typeof(lookingForScribtex) != "undefined" && lookingForScribtex)
			.modal.hide#scribtexModal
				.modal-header
					h3 Looking for ScribTeX?
				.modal-body
					p ScribTeX has moved to <strong>https://scribtex.sharelatex.com</strong>. Please update your bookmarks.
					p(style="text-align: center") You can find the page you were looking for here:
					p(style="text-align: center")
						a(href="https://scribtex.sharelatex.com#{scribtexPath}", style="font-size: 16px") https://scribtex.sharelatex.com#{scribtexPath}
				.modal-footer
					button(data-dismiss="modal").btn OK


		- if(typeof(suppressFooter) == "undefined")
			script(type='text/javascript').
				window.requirejs = {
					"urlArgs" : "fingerprint=#{fingerprint(jsPath + 'app/main.js')}"
				};	
			script(
				data-main=jsPath+'app/main.js',
				baseurl=jsPath,
				src=jsPath+'libs/require.js?fingerprint='+fingerprint(jsPath + 'libs/require.js')
			)

		- if (typeof(tenderUrl) != "undefined")
			script(src="https://#{tenderUrl}/tender_widget.js" )
			script(type="text/javascript").
				Tender = {
					hideToggle: true,
					widgetToggles: $(".js-tender-widget"),
					category: "questions"
				};

		script.
			window.sharelatex = {}

		- if (typeof(settings.algolia) != "undefined")
			script.
				window.sharelatex.algolia = {
					app_id:'#{settings.algolia.app_id}',
					api_key:'#{settings.algolia.read_only_api_key}',
					indexes:!{JSON.stringify(settings.algolia.indexes)}
				}

		- if (typeof(settings.apis) != "undefined" && typeof(settings.apis.templates_api) != "undefined")
			script.
				window.sharelatex.templates = {
					user_id : '!{settings.apis.templates_api.user_id}',
					cdnDomain : '!{settings.apis.templates_api.cdnDomain}',
					indexName : '!{settings.apis.templates_api.indexName}'
				}

