doctype html
html(itemscope, itemtype='http://schema.org/Product')
	block vars

	head
		- if (typeof(priority_title) !== "undefined" && priority_title)
			title= title + ' - Online LaTeX Editor ShareLaTeX'
		- else
			title= 'Online LaTeX Editor ShareLaTeX - ' +title
		link(rel="icon", href="/favicon.ico")
		link(rel='stylesheet', href='/stylesheets/style.css?fingerprint='+fingerprint('/stylesheets/style.css'))
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css",rel="stylesheet")

		meta(itemprop="name" ,content="ShareLaTeX - Real Time Online LaTeX Collaborative Editor in Your Browser")
		meta(itemprop="description", content="Online LaTeX editor for collaborative editing, great for Maths or Sciences. You don't need to install LaTeX so it's great for beginners too.")
		meta(itemprop="image", content="https://www.sharelatex.com/favicon.ico")
		meta(name="description", content="Online LaTeX editor for collaborative editing, great for Maths or Sciences. You don't need to install LaTeX so it's great for beginners too.")

		- if (typeof(gaToken) != "undefined")
			script(type='text/javascript').
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', '#{gaToken}', 'sharelatex.com');
				ga('send', 'pageview');
		- else
			script(type='text/javascript').
				window.ga = function() { console.log("Sending to GA", arguments) };

		script(type="text/javascript").
			window.csrfToken = "#{csrfToken}";
		
		block scripts
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js")
		
		script.
			window.sharelatex = {
				siteUrl: '#{settings.siteUrl}',
				jsPath:  '#{jsPath}'
			};
			window.systemMessages = !{JSON.stringify(systemMessages).replace(/\//g, '\\/')};

		- if (typeof(settings.algolia) != "undefined")
			script.
				window.sharelatex.algolia = {
					app_id:'#{settings.algolia.app_id}',
					api_key:'#{settings.algolia.read_only_api_key}',
					indexes:!{JSON.stringify(settings.algolia.indexes)}
				}

		- if (typeof(settings.apis) != "undefined" && typeof(settings.apis.templates_api) != "undefined")
			script.
				window.sharelatex.templates = {
					user_id : '!{settings.apis.templates_api.user_id}',
					cdnDomain : '!{settings.apis.templates_api.cdnDomain}',
					indexName : '!{settings.apis.templates_api.indexName}'
				}
				
	body
		- if(typeof(suppressSystemMessages) == "undefined")
			.system-messages(
				ng-cloak
				ng-controller="SystemMessagesController"
			)
				.system-message(
					ng-repeat="message in messages"
					ng-controller="SystemMessageController"
					ng-hide="hidden"
				)
					a(href, ng-click="hide()").pull-right &times;
					.system-message-content(ng-bind-html="htmlContent")
	
		- if(typeof(suppressNavbar) == "undefined")
			include layout/navbar

		block content
			
		- if(typeof(suppressFooter) == "undefined")
			include layout/footer



		- if (typeof(lookingForScribtex) != "undefined" && lookingForScribtex)
			span(ng-controller="ScribtexPopupController")
			include scribtex-modal


		- if(typeof(suppressFooter) == "undefined")
			script(type='text/javascript').
				window.requirejs = {
					"urlArgs" : "fingerprint=#{fingerprint(jsPath + 'main.js')}-#{fingerprint(jsPath + 'libs.js')}",
					"paths" : {
						"moment": "libs/moment-2.7.0"
					}
				};	
			script(
				data-main=jsPath+'main.js',
				baseurl=jsPath,
				src=jsPath+'libs/require.js?fingerprint='+fingerprint(jsPath + 'libs/require.js')
			)

		- if (typeof(tenderUrl) != "undefined")
			script(src="https://#{tenderUrl}/tender_widget.js" )
			script(type="text/javascript").
				Tender = {
					hideToggle: true,
					widgetToggles: $(".js-tender-widget"),
					category: "questions"
				};

	

