doctype html
html(
	lang=(currentLngCode || 'en')
)
	- metadata = metadata || {}
	block vars

	head
		include ./_metadata.pug

		script(type="text/javascript").
			// Stop superfish from loading
			window.similarproducts = true
		style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak  {display: none !important; display: none; }

		-if (typeof(gaExperiments) != "undefined")
			|!{gaExperiments}

		//- Stylesheet
		link(rel='stylesheet', href=buildCssPath(getCssThemeModifier(userSettings, brandVariation), { hashedPath: true }), id="main-stylesheet")

		block _headLinks

		if settings.i18n.subdomainLang
			each subdomainDetails in settings.i18n.subdomainLang
				if !subdomainDetails.hide
					link(rel="alternate", href=subdomainDetails.url+currentUrl, hreflang=subdomainDetails.lngCode)

		//- Scripts

		//- Google Analytics
		- if (typeof(gaToken) != "undefined")
			script(type='text/javascript').
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', '#{gaToken}', '#{settings.cookieDomain.replace(/^\./, "")}');
				ga('send', 'pageview');
		- else
			script(type='text/javascript').
				window.ga = function() { console.log("would send to GA", arguments) };

		script(type="text/javascript").
			window.csrfToken = "#{csrfToken}";

		script(src=buildJsPath("libs/jquery-1.11.1.min.js"))
		script(type="text/javascript").
			var noCdnKey = "nocdn=true"
			var cdnBlocked = typeof jQuery === 'undefined'
			var noCdnAlreadyInUrl = window.location.href.indexOf(noCdnKey) != -1 //prevent loops
			if (cdnBlocked && !noCdnAlreadyInUrl && navigator.userAgent.indexOf("Googlebot") == -1) {
				window.location.search += '&'+noCdnKey;
			}

		block scripts

		script(src=buildJsPath("libs/angular-1.6.4.min.js"))

		script.
			window.sharelatex = {
				siteUrl: '#{settings.siteUrl}',
				wsUrl: '#{settings.wsUrl}',
				jsPath:  '#{jsPath}',
			};
			window.systemMessages = !{StringHelper.stringifyJsonForScript(systemMessages)};
			window.ab = {};
			window.user_id = '#{getLoggedInUserId()}';
			window.ExposedSettings = JSON.parse('!{StringHelper.stringifyJsonForScript(ExposedSettings)}');

		- if (typeof(settings.algolia) != "undefined")
			script.
				window.sharelatex.algolia = {
					app_id:'#{settings.algolia.app_id}',
					api_key:'#{settings.algolia.read_only_api_key}',
					indexes:!{StringHelper.stringifyJsonForScript(settings.algolia.indexes)}
				}

		- if (typeof(settings.templates) != "undefined")
			script.
				window.sharelatex.templates = {
					user_id : '!{settings.templates.user_id}',
					cdnDomain : '!{settings.templates.cdnDomain}',
					indexName : '!{settings.templates.indexName}'
				}

		- if (settings.overleaf && settings.overleaf.useOLFreeTrial)
			script.
				window.useV2TrialUrl = true


	body
		if(settings.recaptcha)
			if (settings.recaptcha.siteKeyV3)
				script(src="https://www.google.com/recaptcha/api.js?render="+settings.recaptcha.siteKeyV3)
			else
				script(src="https://www.google.com/recaptcha/api.js?render=explicit")
			div(
				id="recaptcha"
				class="g-recaptcha"
				data-sitekey=settings.recaptcha.siteKey
				data-size="invisible"
				data-badge="inline"
			)

		- if(typeof(suppressNavbar) == "undefined")
			include layout/navbar

		block content

		div(ng-controller="AbTestController")
		- if(typeof(suppressFooter) == "undefined")
			include layout/footer

		- if (typeof(lookingForScribtex) != "undefined" && lookingForScribtex)
			span(ng-controller="ScribtexPopupController")
			include scribtex-modal

		block requirejs
			block requirejs-config
				script(type='text/javascript').
					// minimal requirejs configuration (can be extended/overridden)
					window.requirejs = {
						"paths" : {
							"moment": "libs/#{lib('moment')}",
							"fineuploader": "libs/#{lib('fineuploader')}",
							"main": "#{buildJsPath('main.js', {hashedPath:settings.useMinifiedJs, removeExtension:true})}",
							"libraries": "#{buildJsPath('libraries.js', {hashedPath:settings.useMinifiedJs, removeExtension:true})}"
						},
						"config":{
							"moment":{
								"noGlobal": true
							}
						}
					};

			block requirejs-init
				script(
					data-main=buildJsPath('main.js', {hashedPath:false}),
					baseurl=fullJsPath,
					src=buildJsPath('libs/require.js', {hashedPath:true})
				)

		!= moduleIncludes("contactModal", locals)
		include v1-tooltip
		include sentry


