doctype html
html.full-height(itemscope, itemtype='http://schema.org/Product')
	head
		title Something went wrong
		link(rel="icon", href="/" + settings.brandPrefix + "favicon.ico")
		if buildCssPath
			link(rel="stylesheet", href=buildCssPath(null, { hashedPath: true }))
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css",rel="stylesheet")
	body.full-height
		.content.content-alt.full-height
			.container.full-height
				.error-container.full-height
					.error-figure.error-figure-500
						img.error-img(
							src="/img/brand/500-visual-socket.svg"
							alt="Error"
						)
					.error-details
						p.error-status Something went wrong, sorry.
						p.error-description(ng-non-bindable) Our staff are probably looking into this, but if it continues, please check our status page at
							|
							|
							a(href="http://" + settings.statusPageUrl) #{settings.statusPageUrl}
							|
							| or contact us at
							|
							a(href="mailto:" + settings.adminEmail) #{settings.adminEmail}
							| .
						a.error-btn(href="/") Home