extends ../../layout

block scripts
	script(type='text/javascript').
		window.subscription_id = '#{subscription_id}'

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2(ng-cloak)
					.card(ng-controller="GroupSubscriptionInviteController")
						.page-header
							h1.text-centered #{translate("you_are_invited_to_group", {groupName:licenceName})}
						div(ng-show="!requestSent").row.text-centered
							.row
								.col-md-12 #{translate("group_provides_you_with_premium_account", {groupName:licenceName})}
							.row
								.col-md-12 &nbsp;
							.row 
								.col-md-12
									.text-center
										a.btn.btn-default(href="/project") #{translate("not_now")}
										span &nbsp;
										a.btn.btn.btn-primary(ng-click="joinGroup()") #{translate("verify_email_address")}  


						span(ng-show="requestSent").row.text-centered.text-center
							.row
								.col-md-12 #{translate("check_email_to_complete_the_upgrade")}
							.row
								.col-md-12 &nbsp;
							.row
								.col-md-12
									a.btn.btn.btn-primary(href="/project") #{translate("done")}
